= render partial: "shared/navbars/trips_navbar", locals: {title: "Trips"}

- @title="Trips"
.jumbotron{style: 'background-color: #FFFFFF;'}
  .container
    - unless @trips.blank?
      %div{id: "trips"}
        =# @trips.first  
        - @trips.each do |trip|
          %div.row
            .col-xs-12.col-sm-12.col-md-12
              %div.panel.panel-primary
                %div.list_group
                  %a{href: trip_path(trip['Id']), data: {disable_with: "<i class='fa fa-spinner fa-spin fa-lg'></i> #{trip['TripNumber']}"}, class: "list-group-item trip_button"}
                    .pull-right
                      &nbsp;
                      %i.fa.fa-chevron-right.fa-lg
                    = "#{trip['TripNumber']}"
                    = "#{@trucks.find {|t| t['TruckListInformation']['Id'] == trip['TruckId']}['TruckListInformation']['Description'] }"
                    %small
                      .text-muted
                        = "#{trip['BeginDate']} - #{trip['EndDate']}"
                        %br
                        = "Status: #{trip['TripStatus']}"
                        -#
                          = "#{pack_shipment['ContractDescription']}"
                          = "#{pack_shipment['DateCreated']}".to_date.strftime("%-m/%-d/%Y")
                          %br
                          = "Container Number: #{pack_shipment['ContainerNumber']}"
                          %br
                          = "Vehicle Number: #{pack_shipment['DeliveryVehicleIdNumber']}"
      -#                    
        .row
          .text-center
            %div{id: 'endless_page'}
              %p= image_tag("ajax-loader.gif", :id => "more_pack_shipments_spinner", :alt => "Loading ...", style: "display:none;")
              %p= link_to 'Load more ...', pack_shipments_path(:page => @pack_shipments.next_page), :class => 'load-more-pack-shipments btn btn-default', :remote => true, :onclick => "$(this).hide(); $('#more_pack_shipments_spinner').show();" if @pack_shipments.next_page
    - else
      %p.text-center No trips found

=# render partial: "shared/pack_contracts_footer_navbar", locals: {title: "Contracts"}
