=# render partial: "shared/navbars/show_yard_navbar", locals: {title: @yard['Name']}
= render partial: "shared/navbars/base_navbar"

.jumbotron{style: 'background-color: #FFFFFF;'}
  .container
    %div.row
      %p
        .col-xs-6
          %a.btn.btn-primary.btn-lg.btn-block{:href => tickets_path(status: 2),  class: 'welcome_button', :role => "button", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Held"}} 
            %i.fa.fa-folder-open-o.fa-lg
            Held
      %p
        .col-xs-6
          %a.btn.btn-primary.btn-lg.btn-block{:href => tickets_path(status: 1),  class: 'welcome_button', :role => "button", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Closed"}} 
            %i.fa.fa-folder.fa-lg
            Closed
    %div.row
      %p
        .col-xs-6
          %a.btn.btn-default.btn-lg.btn-block{:href => tickets_path(status: 3),  class: 'welcome_button', :role => "button", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Paid"}} 
            %i.fa.fa-dollar.fa-lg
            Paid
      %p
        .col-xs-6
          -#
            %a.btn.btn-default.btn-lg.btn-block{:href => images_path,  class: 'welcome_button', :role => "button", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Pictures"}} 
              %i.fa.fa-image.fa-lg
              Pictures
          %a.btn.btn-default.btn-lg.btn-block{:href => create_ticket_customer_path(empty_guid),  class: 'welcome_button', :role => "button", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Quick Ticket"}} 
            %i.fa.fa-ticket.fa-lg
            Quick Ticket
    %div.row
      %p
        .col-xs-6
          %a.btn.btn-default.btn-lg.btn-block{:href => customers_path,  class: 'welcome_button', :role => "button", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Customers"}} 
            %i.fa.fa-users.fa-lg
            Customers
        .col-xs-6
          %a.btn.btn-default.btn-lg.btn-block{:href => commodities_path,  class: 'welcome_button', :role => "button", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Commodities"}} 
            %i.fa.fa-list.fa-lg
            Commodities

    -#
      .well
        %h3 
          = @yard['Name']
          %br
          ID:
          = @yard['Id']
          %br
          = @yard['Address1'] unless @yard['Address1'].blank?
          = @yard['Address2'] unless @yard['Address2'].blank?
          %br
          = @yard['City'] unless @yard['City'].blank?
          = @yard['State'] unless @yard['State'].blank?
        %p= @yard
      .col-xs-12.col-sm-4.col-md-4
        %div.panel.panel-primary
          %div.list_group
            %a{href: tickets_path, class: "list-group-item yard_button", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Tickets"}}
              Tickets
              .pull-right
                %i.fa.fa-chevron-right.fa-lg
      .col-xs-12.col-sm-4.col-md-4
        %div.panel.panel-primary
          %div.list_group
            %a{href: commodities_path, class: "list-group-item yard_button", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Commodities"}}
              Commodities
              .pull-right
                %i.fa.fa-chevron-right.fa-lg
      .col-xs-12.col-sm-4.col-md-4
        %div.panel.panel-primary
          %div.list_group
            %a{href: customers_path, class: "list-group-item yard_button", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Customers"}}
              Customers
              .pull-right
                %i.fa.fa-chevron-right.fa-lg
