%p
  %a.btn.btn-primary.btn-block{href: "#ticket_#{ticket.id}_upload_form", id: "ticket_#{ticket.id}_picture_upload_modal_link", "data-toggle" => "modal", :alt => "new_image_file_form"}
    %i.fa.fa-camera
    Picture
  
- unless current_user.customer?
  - if @status == 'CLOSED'
    %p
      %a.btn.btn-primary.btn-block{href: "#ticket_#{ticket.id}_payment_form", id: 'payment_modal_link', "data-toggle" => "modal", title: "Pay"}
        %i.fa.fa-dollar
        = 'Pay'
    = render partial: "quick_payment_modal", locals: {ticket: ticket}
%p
  %a.btn.btn-default.btn-block{href: "#ticket_#{ticket.id}_email_modal", id: "ticket_#{ticket.id}_email_modal_link", "data-toggle" => "modal", :alt => "ticket_email_modal"}
    %i.fa.fa-envelope
    Email
= render partial: "send_email_modal", locals: {ticket: ticket}

%p
  %a{href: ticket_path(ticket.id, status: ticket.ticket_status, now: DateTime.now, format: 'pdf'), class: "btn btn-default btn-block", target: '_blank'}
    %i.fa.fa-file-pdf-o
    PDF

- unless current_user.customer?
  - if (@status == 'CLOSED' or @status == 'PAID') and current_user.company.include_leads_online? and current_user.company.leads_online_config_settings_present?
    %p
      %a{href: send_to_leads_online_ticket_path(ticket.id), class: "btn btn-default btn-block", data: {disable_with: "<i class='fa fa-spinner fa-spin fa-lg'></i> Send to Leads"}}
        %i.fa.fa-search
        Send to Leads
  - if @status == 'PAID'
    %a{href: create_ticket_customer_path(ticket.customer.id), class: "btn btn-primary btn-block", data: {disable_with: "<i class='fa fa-spinner fa-spin fa-lg'></i> Ticket"} }
      %i.fa.fa-ticket
      Ticket