%div
  %ul{class: 'list-inline'}
    %li
      %a.btn.btn-default{href: "#item_#{id}_deductions_modal", id: "#item_#{id}_deductions_modal_link", "data-toggle" => "modal", title: "Deductions"}
        - unless mobile_device?
          %i.fa.fa-minus-circle.fa-lg
          Deductions
        - else
          Deduct
      = render partial: 'deductions_modal', locals: {ticket_item: ticket_item, id: "#{id}"}
    - unless @combolists.blank? # Car vehicle information lists
      %li
        %a.btn.btn-default{href: "#item_#{id}_vin_search_modal", id: "#item_#{id}_vin_search_modal_link", "data-toggle" => "modal", title: "VIN Search"}
          - unless mobile_device?
            %i.fa.fa-car.fa-lg
          VIN
        = render partial: 'car_details_modal', locals: {id: "#{id}", perform_initial_vin_search: true}
    %li
      %a.btn.btn-default{href: "#item_#{id}_serial_number_modal", id: "#item_#{id}_serial_number_modal_link", "data-toggle" => "modal", title: "Serial Number"}
        - unless mobile_device?
          %i.fa.fa-hashtag.fa-lg
        Serial
      = render partial: 'serial_number_modal', locals: {ticket_item: ticket_item, id: "#{id}"}
    %li
      %a.btn.btn-default{href: "#item_#{id}_notes_modal", id: "#item_#{id}_notes_modal_link", "data-toggle" => "modal", title: "Notes"}
        - unless mobile_device?
          %i.fa.fa-list-alt.fa-lg
        Note
      = render partial: 'notes_modal', locals: {ticket_item: ticket_item, id: "#{id}"}