%p
  Hey #{@user.first_name},

%p Dragon Dog was designed to keep it simple, but here are some useful tips to get started.

%p
  %strong Commodity Setup: 
%p Your new account includes a list of several common commodities. This is how you customize pricing and add additional commodities.

%p
  Watch
  = link_to 'this', "https://mail.tranact.com/owa/redir.aspx?C=a736b7dd7878449ca9f661b774fb5ba8&URL=https%3a%2f%2ftranact.com%2ffreescrapbuying%2f"
  video
  %br
  Download the 
  = link_to 'Instruction Guide', "https://tranact.com/wp-content/uploads/2016/07/Dragon-Dog-Free-Instruction-Guide.pdf"

%p
  %strong Let’s run through a transaction together:

%p
  Watch
  = link_to 'this', "https://mail.tranact.com/owa/redir.aspx?C=a736b7dd7878449ca9f661b774fb5ba8&URL=https%3a%2f%2ftranact.com%2ffreescrapbuying%2f"
  video
  %br
  Transaction 
  = link_to 'Screen Shots', "https://mail.tranact.com/owa/redir.aspx?C=a736b7dd7878449ca9f661b774fb5ba8&URL=https%3a%2f%2ftranact.com%2ffreescrapbuying%2f"

%p
  Additional information can also be found on ScrapYardDog.com or by calling our friendly support team at 727-568-7074.
%p Thank you,
%p Your friends at TranAct