!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h2= "New User Sign Up"
    %p
      Name:
      = "#{@user.first_name} #{@user.last_name}"
    %p
      Email:
      = "#{@user.email}"
    %p
      Company:
      = "#{@user.company_name}"
    - unless @user.phone.blank?
      %p
        Phone:
        = "#{number_to_phone(@user.phone)}" unless @user.phone.blank?
    %p
      Address:
      %br
      = @user.address1
      - unless @user.address2.blank?
        = @user.address2
      %br
      = "#{@user.city} #{@user.state}"
    - unless @user.dragon_account_number.blank?
      %p 
        Dragon Account Number:
        = @user.dragon_account_number
      