%p
  = "Ticket: #{@ticket['TicketNumber']}"
  %br
  = "#{@ticket['Company'].blank? ? 'No company name' : @ticket['Company']}"
- if @ticket["TicketItemCollection"].blank?
  %p No ticket items
- else
  - @line_items.each do |line_item|
    %p
      = line_item["PrintDescription"]
      - if line_item['UnitOfMeasure'] == 'EA'
        %br
        = "Quantity: #{number_with_precision(line_item['Quantity'], :precision => 1, strip_insignificant_zeros: true)}"
      - else
        %br
        = "Gross: #{number_with_precision(line_item['GrossWeight'], :precision => 2, strip_insignificant_zeros: true)}"
        %br
        = "Tare: #{number_with_precision(line_item['TareWeight'], :precision => 2, strip_insignificant_zeros: true)}"
        %br
        = "Net: #{number_with_precision(line_item['NetWeight'], :precision => 2, strip_insignificant_zeros: true)}"
      %br
      = "Price: $#{number_with_precision(line_item['Price'], :precision => 3, strip_insignificant_zeros: true)}/#{line_item['UnitOfMeasure']}"
      %br
      = "Amount: $#{line_item['ExtendedAmount']}"
    - unless line_item["DeductionCollection"].blank?
      %p
        Deduction weights
        - if line_item["DeductionCollection"]["ApiTicketItemDeduction"].is_a? Hash # Only one line item deduction
          - line_item_deduction = line_item["DeductionCollection"]["ApiTicketItemDeduction"]
          - unless (line_item_deduction["DeductWeight"].blank? or line_item_deduction["DeductWeight"].to_i.zero?)
            Less:
            = "#{number_with_precision(line_item_deduction["DeductWeight"], :precision => 3, strip_insignificant_zeros: true)} LB"
            = "(#{line_item_deduction["DeductWeightDescription"]})"
            %br
        - else
          - line_item["DeductionCollection"]["ApiTicketItemDeduction"].each do |line_item_deduction|
            - unless (line_item_deduction["DeductWeight"].blank? or line_item_deduction["DeductWeight"].to_i.zero?)
              Less:
              = "#{number_with_precision(line_item_deduction["DeductWeight"], :precision => 3, strip_insignificant_zeros: true)} LB"
              = "(#{line_item_deduction["DeductWeightDescription"]})"
            %br
    - unless line_item["DeductionCollection"].blank?
      %p
        Deduction dollar amounts
        - if line_item["DeductionCollection"]["ApiTicketItemDeduction"].is_a? Hash # Only one line item deduction
          - line_item_deduction = line_item["DeductionCollection"]["ApiTicketItemDeduction"]
          - unless (line_item_deduction["DeductDollarAmount"].blank? or line_item_deduction["DeductDollarAmount"].to_i.zero?)
            %strong Less:
            = "$#{number_with_precision(line_item_deduction["DeductDollarAmount"], :precision => 2, strip_insignificant_zeros: true)}"
            = "(#{line_item_deduction["DeductDollarAmountDescription"]})"
          %br
        - else
          - line_item["DeductionCollection"]["ApiTicketItemDeduction"].each do |line_item_deduction|
            - unless (line_item_deduction["DeductDollarAmount"].blank? or line_item_deduction["DeductDollarAmount"].to_i.zero?)
              %strong Less:
              = "$#{number_with_precision(line_item_deduction["DeductDollarAmount"], :precision => 2, strip_insignificant_zeros: true)}"
              = "(#{line_item_deduction["DeductDollarAmountDescription"]})"
            %br
    - unless line_item['TaxCollection'].blank?
      %p
        Taxes
        - if line_item['TaxCollection']['ApiTicketItemTax'].is_a? Hash # Only one line item tax result returned
          - unless line_item['TaxCollection']['ApiTicketItemTax']['TaxAmount'] == '0.00'
            = "$#{line_item['TaxCollection']['ApiTicketItemTax']['TaxAmount']}"
        - else # Multiple line item tax results returned
          - line_item['TaxCollection']['ApiTicketItemTax'].each do |tax|
            - unless tax['TaxAmount'] == '0.00'
              = "$#{tax['TaxAmount']}"

  - unless @ticket['Status'] == '3'
    %p= "Balance Due: #{number_to_currency(@ticket['BalanceDue'])}"

- unless @images_array.blank?
  %hr
  - @images_array.each do |image|
    - unless image['HIDDEN'] == '1'
      %p= image_tag(preview_image_path(image['CAPTURE_SEQ_NBR'], company_id: @user.company_id, yard_id: @ticket['YardId']), alt: image['CAPTURE_SEQ_NBR'])