- unless @container_number.blank?
  $("#task_#{@task_id}_create_new_container").hide();
  $("#task_#{@task_id}_form").show();
  $("#task_#{@task_id}_containers").prepend("<div class='row'><p><div class='col-xs-12 col-sm-12 col-md-12'><div class='panel panel-primary'><div class='list-group'><div class='list-group-item'><div class='pull-right'><a class='remove_container' data-container-id=#{@container_id} data-task-id=#{@task_id} href='#'> <i class='fa fa-trash fa-lg text-danger'></i> <i class='fa fa-spinner fa-spin fa-lg text-danger' style='display:none;'></i> </a> </div> #{@container_number} </div></div></div></div></p></div>")

  $("#task_#{@task_id}_create_new_container_form").find("input[type=text]").val("");
  $("#task_#{@task_id}_container_select").val(null).trigger('change');
- else
  alert("Error creating container");
  $("#task_#{@task_id}_create_new_container").hide();
  $("#task_#{@task_id}_form").show();
  $("#task_#{@task_id}_create_new_container_form").find("input[type=text]").val("");
  $("#task_#{@task_id}_container_select").val(null).trigger('change');