= render partial: "shared/navbars/edit_task_navbar", locals: {title: task_type_abbreviated_string(@task['TaskType'])}
-@title="Task"

.jumbotron{style: 'background-color: #FFFFFF;'}
  .container  
    %ul.nav.nav-tabs
      %li.active
        %a{:href => "#task_details", :data => {:toggle => "tab"}}
          Details
      %li
        %a{:href => "#containers", :data => {:toggle => "tab"}}
          Containers
      %li
        %a{:href => "#images", :data => {:toggle => "tab"}}
          Images
    .tab-content
      .tab-pane.active{:id => "task_details"}
        %br
        .panel.panel-default
          %div.panel-heading
            %h4.panel-title
              Destination
          %div.panel-body
            %strong= "To:"
            .pull-right
              - unless @task['ToLocation'].blank?
                %a{href: "http://maps.google.com/?saddr=Current%20Location&daddr=#{URI.encode(@task['ToLocation'])}", target: '_blank'}
                  = "#{@task['ToLocation']}"
              - else
                %a{href: "http://maps.google.com/?saddr=Current%20Location&daddr=#{URI.encode('7100 30th Ave N')}", target: '_blank'}
                  7100 30th Ave N
            %br
            %strong= "Phone:"
            .pull-right
              - unless @workorder.blank? or @workorder['Phone'].blank?
                %a{href: "tel:#{@workorder['Phone']}"}
                  = @workorder['Phone']
              - else
                %a{href: "tel:727-568-7076", target: '_blank'}
                  = '727-568-7076'

        .panel.panel-default
          %div.panel-heading
            %h4.panel-title
              General
          %div.panel-body
            %strong= "Type:"
            .pull-right
              = task_type_string(@task['TaskType'])
            %br
            %strong= "Work Order:"
            .pull-right
              = @task['WorkOrderNumber']
            %br
            %strong= "Customer:"
            .pull-right
              = @task['Customer']
            %br 
            = form_tag task_path(@task["Id"]), method: 'put', :class => "form-horizontal", id: 'task_form' do
              = hidden_field_tag :trip_id, @trip['Id']
              = hidden_field_tag "task[id]", @task['Id']
              .row.form-group
                %div{:class => "col-sm-12 col-md-6"}
                  = label_tag "Starting Mileage", nil, :class => 'control-label'
                  = text_field_tag "task[starting_mileage]", @task['StartingMileage'], :placeholder => "Starting Mileage", class: "form-control input-lg"
              .row.form-group
                %div{:class => "col-sm-12 col-md-6"}
                  = label_tag "Ending Mileage", nil, :class => 'control-label'
                  = text_field_tag "task[ending_mileage]", @task['EndingMileage'], :placeholder => "Ending Mileage", class: "form-control input-lg"
              .row.form-group
                %div{:class => "col-sm-12 col-md-6"}
                  = label_tag "Notes", nil, :class => 'control-label'
                  = text_area_tag "task[notes]", @task['Notes'], :placeholder => "Notes", class: "form-control input-lg"
              .row.form-group
                %div{:class => "col-sm-12 col-md-6"}
                  = label_tag "Status", nil, :class => 'control-label'
                  = select_tag "task[status]", options_for_select(task_status_array, @task['TaskStatus']), :class => "form-control input-lg"
              .row.form-group
                %div{:class => "col-sm-12 col-md-6"}
                  = button_tag(:type => 'submit', :class => 'btn btn-primary btn-lg btn-block', data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Save"}) do
                    Save
        -#
          .well
            Trip:
            = @trip
          %br
          .well
            WorkOrder:
            = @workorder unless @workorder.blank?
          %br
          .well
            Task:
            = @task
          %br
          .well
            Containers:
            = @containers

        -#
          - unless @packs.blank?
            - @packs.each do |pack|
              .panel.panel-default.line-item
                %div.panel-heading{:role => "tab", id: "heading#{pack['Id']}"}
                  %h4.panel-title
                    %ul{class: 'list-inline'}
                      %li
                        %a.line_item_name.text-success{"aria-controls" => "collapse#{pack['Id']}", "aria-expanded" => false, "data-parent" => "#items_accordion", "data-toggle" => "collapse", :href => "#collapse_#{pack['Id']}", :role => "button", class: "collapsed"}
                          = "#{pack['PackListItemInformation']['InventoryDescription']}"
                      %li.pull-right
                        %a{href: '#', class: 'void_item remove_field'}
                          %i.fa.fa-trash.fa-lg.text-danger
                          %i.fa.fa-spinner.fa-spin.fa-lg.text-danger{style: 'display:none;'}
                      -#
                        %li.pull-right
                          %a{href: '#', class: 'void_item remove_field', "data-ticket-id" => @ticket['Id'], "data-item-id" => line_item['Id'], "data-commodity-id" => line_item['CommodityId'], "data-gross" => line_item['GrossWeight'], "data-tare" => line_item['TareWeight'], "data-net" => line_item['NetWeight'], "data-price" => line_item['Price'], "data-amount" => line_item['ExtendedAmount']}
                            %i.fa.fa-trash.fa-lg.text-danger
                            %i.fa.fa-spinner.fa-spin.fa-lg.text-danger{style: 'display:none;'}
                %div{id: "collapse_#{pack['Id']}", "aria-labelledby" => "heading#{pack['Id']}", :role => "tabpanel", class: "panel-collapse collapse ", "aria-expanded" => false }
                  .panel-body
                    %strong Tag Number
                    = pack['PackListItemInformation']['PackInfo']['TagNumber']
                    %strong Description
                    = pack['PackListItemInformation']['PackInfo']['PrintDescription']
                    %br
                    %strong Type:
                    = pack['PackListItemInformation']['PackInfo']['PackType']
                    %br
                    %strong Quantity:
                    = pack['PackListItemInformation']['PackInfo']['Quantity']
                    %br
                    %strong Gross:
                    = pack['PackListItemInformation']['PackInfo']['GrossWeight']
                    %br
                    %strong Tare:
                    = pack['PackListItemInformation']['PackInfo']['TareWeight']
                    %br
                    %strong Net:
                    = pack['PackListItemInformation']['PackInfo']['NetWeight']
          - else
            %p.lead Empty
      .tab-pane{:id => "containers"}
        %br
        - unless @containers.blank?
          - @containers.each do |container|
            %div.row
              .col-xs-12.col-sm-12.col-md-12
                %div.panel.panel-primary
                  %div.list_group
                    %a{href: '#', data: {disable_with: "<i class='fa fa-spinner fa-spin fa-lg'></i>"}, class: "list-group-item task_button"}
                      .pull-right
                        &nbsp;
                        %i.fa.fa-chevron-right.fa-lg
                      = container['ContainerId']
                      %small
                        .text-muted
        - else
          %p None

        %p
          %a.btn.btn-primary.btn-lg.btn-block{:href => '#',  class: 'task_button', style: 'white-space: normal;', :role => "button", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Add"}} 
            Add 

      .tab-pane{:id => "images"}
        %br
        - unless @images.blank?
          - @images.each do |image|
            = image
        - else
          %p None
        %p
          %a.btn.btn-primary.btn-lg.btn-block{:href => '#',  class: 'task_button', style: 'white-space: normal;', :role => "button", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Photo"}} 
            Photo

=# render partial: "shared/pack_footer_navbar", locals: {title: "Pack List"}