- unless @container_id.blank?
  var container_name = $("#task_#{@task['id']}_container_select option:selected").text();
  - if @update_task_response["Success"] == 'true'
    $("#task_#{@task['id']}_containers").prepend("<div class='row'><p><div class='col-xs-12 col-sm-12 col-md-12'><div class='panel panel-primary'><div class='list-group'><div class='list-group-item'><div class='pull-right'><a class='remove_container' data-container-id=#{@container_id} data-task-id=#{@task['id']} href='#'> <i class='fa fa-trash fa-lg text-danger'></i> <i class='fa fa-spinner fa-spin fa-lg text-danger' style='display:none;'></i> </a> </div>" + container_name + "</div></div></div></div></p></div>")
-# alert("#{@response}");
