- unless @container_id.blank?
  -# var container_name = $("#task_#{@task['id']}_container_select option:selected").text();
  - if @update_task_response["Success"] == 'true'
    $("#task_#{@task_id}_containers").append("#{j render partial: 'tasks/container', locals: {}}");
    $("#task_#{@task_id}_containers").find("#container_#{@container_id}_locate_button").trigger('click');
    $("#task_#{@task_id}_form").hide();
  -# Clear container select search
  $("#task_#{@task['id']}_container_select").val(null).trigger('change');

-# Update task status color
- unless @task_status_color.blank?
  $("#task_#{@task['id']}_link").removeClass().addClass( "list-group-item #{@task_status_color}" );

-# Update task status string
- unless @task_status_string.blank?
  $("#task_#{@task['id']}_status_string").html( "#{@task_status_string}" );
