-# %div{:id => "upload_form", :class => "modal fade", :tabindex => "-1", :style => "display:none;"}
-#
  %div{:id => "ticket_#{ticket['Id']}_upload_form", :class => "modal fade", :tabindex => "-1", :style => "display:none;"}
    .modal-dialog.modal-sm
      .modal-content
        .modal-body
          -#
            = form_tag("/images", method: :post) do
              = hidden_field_tag "image[ticket_nbr]", ticket["TicketNumber"]
              = hidden_field_tag "image[yardid]", current_yard_id
              %label{:for => 'image[file]'} File to Upload
              = file_field_tag "image[file]"
              = button_tag(:type => 'submit', :class => 'btn btn-primary btn-lg btn-block', data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Save"}) do
                Save

          = form_for Image.new do |f|
            = f.hidden_field :ticket_nbr, value: ticket["TicketNumber"]
            = f.hidden_field :yardid, value: current_yard_id
            .form-group
              = f.label "Event Code", :class => 'control-label'
              = f.text_field :event_code, placeholder: 'Event Code', class: "form-control input-lg"
            .form-group
              = f.label "File Attachment", :class => 'control-label'
              = f.file_field :file, :type => 'file', required: true
            .modal-footer
              = button_tag(:type => 'submit', :class => 'btn btn-primary btn-lg btn-block', data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Save"}) do
                Save
    
-#
%div{:id => "ticket_#{ticket['Id']}_upload_form", :class => "modal fade", :tabindex => "-1", :style => "display:none;"}
  = form_for ImageFile.new, html: {class: 'image_file_upload_form'} do |f|
    .modal-dialog.modal-sm
      .modal-content
        -#
          .modal-header
            = ticket["TicketNumber"]
            = link_to "×", '#', :class => "close", "data-dismiss" => "modal"
        .modal-body
          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
            %span{"aria-hidden" => "true"} ×
          %br
          = f.hidden_field :user_id, value: current_user.id
          =# f.hidden_field :location, value: current_yard_id
          = f.hidden_field :yard_id, value: current_yard_id
          =# f.hidden_field :customer_number, value: ticket["CustomerId"]
          = f.hidden_field :customer_name, value: "#{ticket['FirstName']} #{ticket['LastName']}"
          = f.hidden_field :tare_seq_nbr
          = f.hidden_field :commodity_name
          = f.hidden_field :weight
          = f.hidden_field :ticket_number, value: ticket["TicketNumber"]
          .form-group{:id => "event_code"}
            =# f.label "Event Code", :class => 'control-label'
            .btn-group-vertical{"data-toggle" => "buttons", style: 'width: 100%'}
              - current_user.company.image_event_codes.each do |event_code|
                %label.btn.btn-lg.btn-default.btn-block.event_code_radio
                  = f.radio_button :event_code_id, event_code.id, required: true
                  = event_code.name
              -#
                - ticket_event_codes.each do |event_code, index|
                  %label.btn.btn-lg.btn-default.btn-block.event_code_radio
                    = f.radio_button :event_code, event_code, required: true
                    = event_code
            =# f.select :event_code, options_for_select(ticket_event_codes), {prompt: "Select event code"}, {:class => "form-control input-lg", onchange: "$('#upload_button').show();"}
          .form-group{id: 'vin_form_group', style: 'display:none;'}
            = f.label "VIN", :class => 'control-label'
            = f.text_field :vin_number, :placeholder => "Vehicle ID Number", class: "form-control input-lg", required: true
          .form-group{id: 'tag_form_group', style: 'display:none;'}
            = f.label "License Plate", :class => 'control-label'
            = f.text_field :tag_number, :placeholder => "License Plate Number", class: "form-control input-lg", required: true

          %div{:id => 'uploads', :style => 'display:block;'}
            %p{id: "upload_button", style: "display:none;"}
              %label.btn.btn-primary.btn-block.btn-lg
                %i.fa.fa-upload
                Picture
                %span{:style => "display:none;"}
                  = f.file_field :file, name: "image_file[file]", :type => 'file'
              =# f.file_field :file, name: "image_file[file]", :type => 'file', :class => 'btn-primary btn-block btn-lg', title: "<i class='fa fa-upload'/> Picture".html_safe
            - unless current_user.devices.blank?
              %p{id: "devices", style: "display:none;"}
                / Devices
                - current_user.scanner_devices.each do |scanner_device|
                  %a{href: '#', class: "scanner_trigger btn btn-lg btn-block btn-info", 'data-device-id' => scanner_device.id, 'data-yard-id' => current_yard_id, 'data-ticket-number' => ticket["TicketNumber"], title: scanner_device.DeviceName, 'data-customer-id' => ticket['CustomerId']}
                    %i.fa.fa-newspaper-o
                    Scanner
                    %i.fa.fa-spinner.fa-lg.fa-spin{style: 'display:none;'}
                - current_user.scale_devices.each do |scale_device|
                  - if scale_device.scale_camera_only?
                    %a{href: '#', style: "color: hotpink;", class: "tud_camera_trigger btn btn-default btn-lg btn-block", 'data-ticket-number' => ticket["TicketNumber"], 'data-yard-id' => current_yard_id, 'data-device-id' => scale_device.id, title: scale_device.DeviceName, 'data-customer-id' => ticket['CustomerId'] }
                      %i.fa.fa-camera
                      %i.fa.fa-spinner.fa-lg.fa-spin{style: 'display:none;'}
                      = scale_device.DeviceName
                  - else
                    %a{href: '#', class: "tud_camera_trigger btn btn-default btn-lg btn-block", 'data-ticket-number' => ticket["TicketNumber"], 'data-yard-id' => current_yard_id, 'data-device-id' => scale_device.id, title: scale_device.DeviceName, 'data-customer-id' => ticket['CustomerId'] }
                      %i.fa.fa-camera
                      %i.fa.fa-spinner.fa-lg.fa-spin{style: 'display:none;'}
                      = scale_device.DeviceName
                - unless current_user.customer_camera.blank?
                  %a{href: '#', style: "color: hotpink;", class: "customer_camera_trigger_from_ticket btn btn-lg btn-block btn-default", 'data-ticket-number' => ticket["TicketNumber"], 'data-yard-id' => current_yard_id, 'data-customer-id' => ticket['CustomerId'], 'data-camera-name' => current_user.customer_camera, title: current_user.customer_camera}
                    %i.fa.fa-camera
                    %i.fa.fa-spinner.fa-lg.fa-spin{style: 'display:none;'}
                    = current_user.customer_camera
                - current_user.license_imager_devices.each do |license_imager_device|
                  %a{href: '#', class: 'save_license_scan_to_jpegger_from_ticket btn btn-lg btn-block btn-default', 'data-ticket-number' => ticket["TicketNumber"], 'data-yard-id' => current_yard_id, 'data-customer-id' => ticket['CustomerId'], 'data-camera-name' => "#{license_imager_device.DeviceName}"}
                    %i.fa.fa-user
                    %i.fa.fa-spinner.fa-lg.fa-spin{style: 'display:none;'}
                    = "#{license_imager_device.DeviceName}"
                    =# image_tag("ajax-loader.gif", :id => "image_scan_spinner", :class => "save_to_jpegger_spinner", :alt => "Loading ...", style: "display:none;")
          .picture_loading_spinner{:style => "display:none;", :id => "image_file_spinner"}
            = image_tag("ajax-loader.gif", :id => "loading_spinner", :alt => "Loading")
            Uploading ...
          #pictures

          .clear
          %script{:id => "template-upload", :type => "text/x-tmpl"}
            .upload
              {%=o.name%}
              .progress.progress-striped
                .progress-bar{:style => "width: 0%"}
          %script{:id => "template-download", :type => "text/x-tmpl"}
            .download
              {%=o.name%}

        .modal-footer
          %button.btn.btn-default.btn-lg{"data-dismiss" => "modal", :type => "button"} Done