= render partial: "v2/shared/navbars/show_commodity_navbar", locals: {title: "#{@commodity.print_description}"}

.jumbotron{style: 'background-color: #FFFFFF;'}
  .container
    %div.panel.panel-primary
      %div.list_group
        %div.list-group-item
          %strong= "Print Description:"
          .pull-right
            = "#{@commodity.print_description}"
        %div.list-group-item
          %strong= "Unit of Measure:"
          .pull-right
            = @commodity.scale_uom.description
        %div.list-group-item
          %strong= "Type:"
          .pull-right
            = @commodity.commodity_type_udlv.report_description
        %div.list-group-item
          %strong= "Scale Price:"
          .pull-right
            = "#{number_to_currency(@commodity.scale_price)}"
        %div.list-group-item{class: "#{(@commodity.is_disabled?) ? 'list-group-item-danger' : ''}"}
          %strong= "Status:"
          .pull-right
            = "#{(@commodity.is_disabled?) ? 'Disabled' : 'Enabled'}"

= render partial: "v2/shared/commodity_footer_navbar", locals: {title: "Commodity"}