= render partial: "shared/navbars/base_navbar" if current_user.admin?
= render partial: "shared/navbars/customer_user_navbar" if current_user.customer?

.container
  %br/
  %br
  .well
    = form_for @user do |f|
      %div.form-horizontal
        - @user.errors.each do |attr, msg|
          .alert.alert-danger
            <button type="button" class="close" data-dismiss="alert">×</button>
            = "#{attr} #{msg}" if @user.errors[attr].first == msg
        - if current_user.admin?
          .btn-group-horizontal{"data-toggle" => "buttons"}
            = f.label "Active", :class => "control-label"
            = f.text_field :active, :value => "#{@user.active? ? '1' : '0'}", "data-icon-checked" => "<i class='fa fa-check'></i>", "data-toggle" => "checkbox-x", "data-three-state" => "false", "data-size" => "xl"
            - unless @user.customer?
              %label.btn.btn-lg.btn-default{class: "#{@user.admin? ? 'active' : ''}"}
                = f.radio_button :role, 'admin', :checked => @user.admin?
                Admin User
              %label.btn.btn-lg.btn-default{class: "#{@user.basic? ? 'active' : ''}"}
                = f.radio_button :role, 'basic', :checked => @user.basic?
                Basic User
            - else
              %label.btn.btn-lg.btn-default{class: "#{@user.customer? ? 'active' : ''}"}
                = f.radio_button :role, 'customer', :checked => @user.customer?
                Customer User
        - if params[:customer_needs_to_change_password].blank?
          .row.form-group
            %div{:class => "col-sm-6"}
              = f.label :first_name, :class => "control-label"
              - if params[:customer_needs_to_change_password].blank?
                = f.text_field :first_name, :class => "form-control input-lg", placeholder: "First Name", :autofocus => true, required: true
              - else
                = f.text_field :first_name, :class => "form-control input-lg", placeholder: "First Name", :autofocus => true, required: true
            %div{:class => "col-sm-6"}
              = f.label :last_name, :class => "control-label"
              = f.text_field :last_name, :class => "form-control input-lg", placeholder: "Last Name", required: true
          .row.form-group
            %div{:class => "col-sm-6"}
              = f.label :company_name, :class => "control-label"
              = f.text_field :company_name, :class => "form-control input-lg", placeholder: "Company Name", required: true
            %div{:class => "col-sm-6"}
              = f.label :phone, :class => "control-label"
              = f.text_field :phone, :class => "form-control input-lg", placeholder: "Phone"
        .row.form-group
          %div{:class => "col-sm-6"}
            = f.label :username, :class => "control-label"
            = f.text_field :username, :class => "form-control input-lg", placeholder: "Username", readonly: true, required: true
          %div{:class => "col-sm-6"}
            = f.label :email, :class => "control-label"
            = f.text_field :email, :class => "form-control input-lg", placeholder: "Email", required: true
        - if current_user == @user
          .row.form-group
            %div{:class => "col-sm-6"}
              = f.label 'New password', :class => "control-label"
              - unless params[:customer_needs_to_change_password].blank?
                %p.help-block Please update your password.
                = f.password_field :password, :class => "form-control input-lg", placeholder: "New Password", :autofocus => true, required: true
                %br
                = f.password_field :password_confirmation, :class => "form-control input-lg", placeholder: "Password Confirmation", required: true
              - else
                %p.help-block Leave blank if you don't want to change.
                = f.password_field :password, :class => "form-control input-lg", placeholder: "New Password"
                %br
                = f.password_field :password_confirmation, :class => "form-control input-lg", placeholder: "Password Confirmation"
              
        - if current_user.admin?
          - if @user.customer?
            .row.form-group
              %div{:class => "col-sm-6"}
                = f.label :customer_guid, :class => "control-label"
                = f.text_field :customer_guid, :class => "form-control input-lg", placeholder: "Customer GUID", readonly: true
              %div{:class => "col-sm-6"}
                = f.label "Yard ID", :class => "control-label"
                = f.text_field :yard_id, :class => "form-control input-lg", placeholder: "Yard ID", readonly: true
          .row.form-group
            - if @user.customer?
              %div{:class => "col-sm-6"}
                = f.nested_fields_for :portal_customers do |ff|
                  = ff.hidden_field :user_id, value: @user.id
                  %div.input-group
                    =# ff.select :customer_guid, options_for_select(@customers.map{ |customer| ["#{customer['Company'].blank? ? customer['LastName'] : customer['Company']}", customer['Id']] }, ff.object.customer_guid), {prompt: "Select portal customer"}, {:class => "form-control input-lg"}
                    =# ff.select :customer_guid, options_for_select(@customers.map{ |customer| ["#{customer['Company'].blank? ? customer['LastName'] : customer['Company']}", customer['Id']] }, ff.object.customer_guid), {prompt: "Select customer"}, {:class => "form-control input-lg portal_customers"}
                    = ff.select :customer_guid, options_for_select(@portal_customers_options_array.map{ |customer| ["#{customer['Company'].blank? ? customer['LastName'] : customer['Company']}", customer['Id']] }, ff.object.customer_guid), {prompt: "Select customer"}, {:class => "form-control input-lg portal_customers"}
                    %span.input-group-btn
                      = ff.remove_nested_fields_link "<i class='fa fa-trash-o'></i>".html_safe, class: 'btn btn-danger', role: 'button', data: { confirm: 'Are you sure you want to remove?' }
                  %br
                %div{:class => "col-sm-4"}
                  = f.add_nested_fields_link :portal_customers, "<i class='fa fa-plus'></i> Add Portal Customer".html_safe, class: 'more_portal_customers_link btn btn-warning'
            %div{:class => "col-sm-6"}
              =# f.check_box :view_images
              = f.label "View Images", :class => "control-label"
              = f.text_field :view_images, :value => "#{@user.view_images? ? '1' : '0'}", "data-icon-checked" => "<i class='fa fa-check'></i>", "data-toggle" => "checkbox-x", "data-three-state" => "false", "data-size" => "xl"
          %br
        .row.form-group
          - if params[:customer_needs_to_change_password].blank?
            %div{:class => "col-sm-3"}
              = link_to 'Cancel', root_path, :class => "btn btn-lg btn-default btn-block"
          %div{:class => "col-sm-3"}
            = f.submit "Save", :class => "btn btn-lg btn-primary btn-block", data: { disable_with: "Please wait ..." }

:javascript
  // Apply select2 to dynamically added customer selects
  $('.more_portal_customers_link').on("click", function(){
    // Need to add a bit of a delay so that select2 gets applied to newly added items
    setTimeout(function() {
    $('.portal_customers').select2({
      theme: 'bootstrap',
      minimumInputLength: 3,
      ajax: {
        url: '/customers',
        dataType: 'json',
        delay: 250
      }
    });
    }, 0);
  });