.jumbotron{style: 'background: white;'}
  .container
    %p= link_to image_tag('sd_portal_transparent_small.png', alt: 'sd_portal_transparent_small.png', class: 'img-responsive center-block'), root_path
    .well.col-sm-6.col-md-4.col-md-offset-4
      %p.lead Resend confirmation instructions
      = form_tag resend_confirmation_instructions_users_path, :method => 'get', :class => "form-horizontal" do
        .row.form-group
          %div{:class => "col-sm-12 col-md-12"}
            = text_field_tag :email, nil, :placeholder => "Email address", class: "form-control input-lg"
        .row
          %div{:class => "col-sm-12 col-md-12"}
            = button_tag(:type => 'submit', :class => 'btn btn-primary btn-lg btn-block', data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Resend"}) do
              Resend
            %br
            %p.lead= link_to 'Cancel', :back