.jumbotron
  .container
    .col-sm-6.col-md-4.col-md-offset-4
      %p
        %strong Name
        %br
        = "#{@user.first_name} #{@user.last_name}"
      %p
        %strong Username
        %br
        = @user.username
      %p
        %strong Company Name
        %br
        = @user.company_name
      %p
        %strong Email
        %br
        = @user.email
      %p
        %strong Phone
        %br
        = @user.phone
      - if @user.customer?
        %p
          %strong Customer GUID
          %br
          = @user.customer_guid

      = link_to 'Edit', edit_user_path(@user), class: 'btn btn-default'
    
