= render partial: "shared/navbars/base_navbar" if current_user.admin?
= render partial: "shared/navbars/customer_user_navbar" if current_user.customer?

.jumbotron
  .container
    .col-sm-6.col-md-4.col-md-offset-4
      %p
        %strong Name
        %br
        = "#{@user.first_name} #{@user.last_name}"
      %p
        %strong Username
        %br
        = @user.username
      %p
        %strong Company Name
        %br
        = @user.company_name
      %p
        %strong Email
        %br
        = @user.email
      %p
        %strong Phone
        %br
        = @user.phone
      - if @user.admin?
        %p
          %strong Customer GUID
          %br
          = @user.customer_guid
        %p
          %strong Yard ID
          %br
          = @user.yard_id

      = link_to 'Edit', edit_user_path(@user), class: 'btn btn-default'
    
