= render partial: "shared/navbars/base_navbar" if current_user.admin?
= render partial: "shared/navbars/customer_user_navbar" if current_user.customer?

.jumbotron{style: 'background: white;'}
  .container
    .row
      .col-sm-12.col-md-6
        %p
          %strong Portal Status
          - if @user.active
            %span.lead.text-success Active
          - else
            %span.lead.text-danger 
              %i.fa.fa-warning
              Inactive
      .col-sm-12.col-md-6
        %p
          %strong Log In Sessions
          %br
          - if @user.sign_in_count > 0
            Sign In Count:
            = @user.sign_in_count
            %br
            Current Sign In At:
            = @user.current_sign_in_at.in_time_zone(session[:time_zone]).strftime('%-m/%-d/%Y %l:%M %p') unless @user.current_sign_in_at.blank?
            %br
            Last Sign In At:
            = @user.last_sign_in_at.in_time_zone(session[:time_zone]).strftime('%-m/%-d/%Y %l:%M %p') unless @user.last_sign_in_at.blank?
            %br
            Current Sign In IP:
            = @user.current_sign_in_ip
            %br
            Last Sign In IP:
            = @user.last_sign_in_ip
          - else
            No user log in data
              
    .row
      .col-sm-12.col-md-6
        %p
          %strong User Type
          %br
          = @user.role.titleize
      .col-sm-12.col-md-6
        %p
          %strong Name
          %br
          = "#{@user.first_name} #{@user.last_name}"
    .row
      .col-sm-12.col-md-6
        %p
          %strong Username
          %br
          = @user.username
        - if current_user.admin? 
          %p
            = link_to 'User settings', @user.user_setting
      .col-sm-12.col-md-6
        - unless @user.customer?
          %p
            %strong Company
            %br
            = @user.company.name
        - if @user.customer?
          %p
            %strong Company Name
            %br
            = @user.company_name
    .row
      .col-sm-12.col-md-6
        %p
          %strong Email
          %br
          = @user.email
      .col-sm-12.col-md-6
        %p
          %strong Phone
          %br
          = @user.phone
    .row
      .col-sm-12.col-md-6
        - if current_user.admin? and @user.customer?
          %p
            %strong Customer GUID
            %br
            = @user.customer_guid
      .col-sm-12.col-md-6
        - if current_user.admin?
          %p
            %strong Yard ID
            %br
            = current_yard_id
    .row
      .col-sm-12.col-md-6
        %p
          %strong Dragon Roles
        - unless @dragon_roles.blank?
          - @dragon_roles.each do |dragon_role|
            %p= dragon_role
        - else
          %p None
      .col-sm-12.col-md-6
        - if @user.customer? and not @portal_customers.blank?
          %p
            %strong Additional Portal Customers
            %br
            - @portal_customers.each do |portal_customer|
              %p= Customer.find_by_id(current_user.token, current_yard_id, portal_customer.customer_guid)['Company']

    .row
      .col-sm-12.col-md-6
        %p
          %strong View Images
        %p= "#{@user.view_images? ? 'Yes' : 'No'}"
      .col-sm-12.col-md-6
        - unless @user.latitude.blank? and @user.longitude.blank?
          %p
            %strong Recent Location
          .embed-responsive.embed-responsive-16by9
            %iframe{:allowfullscreen => "", :frameborder => "0", :src => Image.google_map("#{@user.latitude},#{@user.longitude}"), :style => "border:0"}

    
    .row
      .col-sm-12.col-md-6
        = link_to 'Edit', edit_user_path(@user), class: 'btn btn-primary btn-lg'
      -#
        - if @user.customer? and current_user.admin?
          .col-sm-12.col-md-6
            .pull-right
              = link_to 'Delete', @user, :method => :delete, :data => { :confirm => 'Are you sure you want to delete this user? They will no longer have access to the portal.' }, class: 'btn btn-sm btn-danger'