= render partial: "shared/navbars/base_navbar" if current_user.admin?
= render partial: "shared/navbars/customer_user_navbar" if current_user.customer?

.jumbotron{style: 'background: white;'}
  .container
    .row
      .col-sm-12.col-md-6
        %p
          %strong Portal Status
          - if @user.active
            %span.lead.text-success Active
          - else
            %span.lead.text-danger 
              %i.fa.fa-warning
              Inactive
    .row
      .col-sm-12.col-md-6
        %p
          %strong User Type
          %br
          = @user.role.titleize
      .col-sm-12.col-md-6
        %p
          %strong Name
          %br
          = "#{@user.first_name} #{@user.last_name}"
    .row
      .col-sm-12.col-md-6
        %p
          %strong Username
          %br
          = @user.username
        - if current_user.admin? 
          %p
            = link_to 'User settings', @user.user_setting
      .col-sm-12.col-md-6
        - unless @user.customer?
          %p
            %strong Company
            %br
            = @user.company.name
        - if @user.customer?
          %p
            %strong Company Name
            %br
            = @user.company_name
    .row
      .col-sm-12.col-md-6
        %p
          %strong Email
          %br
          = @user.email
      .col-sm-12.col-md-6
        %p
          %strong Phone
          %br
          = @user.phone
    .row
      .col-sm-12.col-md-6
        - if current_user.admin? and @user.customer?
          %p
            %strong Customer GUID
            %br
            = @user.customer_guid
      .col-sm-12.col-md-6
        - if current_user.admin?
          %p
            %strong Yard ID
            %br
            = current_yard_id
    .row
      .col-sm-12.col-md-6
        %p
          %strong Dragon Roles
        - unless @dragon_roles.blank?
          - @dragon_roles.each do |dragon_role|
            %p= dragon_role
        - else
          %p None
      .col-sm-12.col-md-6
        - if @user.customer? and not @portal_customers.blank?
          %p
            %strong Additional Portal Customers
            %br
            - @portal_customers.each do |portal_customer|
              %p= Customer.find_by_id(current_user.token, current_yard_id, portal_customer.customer_guid)['Company']

    .row
      .col-sm-12.col-md-6
        %p
          %strong View Images
        %p= "#{@user.view_images? ? 'Yes' : 'No'}"

    
    .row
      .col-sm-12.col-md-6
        = link_to 'Edit', edit_user_path(@user), class: 'btn btn-primary btn-lg'
    
