.navbar.navbar-default.navbar-fixed-bottom{ role: 'navigation'}
  .container-fluid
    .navbar-header
      %div{class: 'navbar-brand navbar-center'}
        .col-xs-4.col-sm-4
          %a{href: root_path}
            %i.fa.fa-home.fa-lg
            = "Home" unless mobile_device?
        .col-xs-4.col-sm-4
          %a{href: "#upload_form", "data-toggle" => "modal", :alt => "new_image_file_form"}
            %i.fa.fa-camera.fa-lg
            = "Pictures" unless mobile_device?
        .col-xs-4.col-sm-4
          -#
            %a{href: new_purchase_order_path(vendor_id: @vendor.id)}
          - unless params[:controller]=='vendors' and params[:action]=='edit'
            %a{href: edit_vendor_path(@vendor.id)}
              %i.fa.fa-edit.fa-lg
              = "Edit" unless mobile_device?
          -#
            %a{href: "#{current_user.images_table? ? images_path(today: true) : shipments_path(today: true)}"}
              %i.fa.fa-calendar-o.fa-lg
              = "Today" unless mobile_device?

= render partial: "cust_pic_files/upload_modal"
