%footer
  .container
    %hr
    %p.text-center
      = link_to "http://www.tranact.com" do
        = "TranAct • Copyright #{Date.today.year} • All rights reserved"
      •
      Dragon Dog 1.0
      •
      = link_to "Privacy", welcome_privacy_path, target: '_blank'
      •
      = link_to "Terms", welcome_tos_path, target: '_blank'
