%footer
  .container
    %hr
    %p.text-center
      = link_to root_path do
        = "TranAct • Copyright #{Date.today.year} • All rights reserved"
      •
      = link_to "Privacy", welcome_privacy_path
      •
      = link_to "Terms", welcome_tos_path
