- if not logged_in?
  .jumbotron
    .container
      %h3.text-center SCRAP DRAGON PORTAL
      %div.text-center
        %p
          %a{href: signup_path, class: 'btn btn-lg btn-primary', data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Sign Up"}}
            %i.fa.fa-lock
            Sign Up
          %a{href: login_path, class: 'btn btn-lg btn-default', data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Log In"}}
            %i.fa.fa-lock
            Log In
- else
  .jumbotron{style: 'background-color: #FFFFFF;'}
    .container
      - unless current_yard_id.blank?
        - if current_user.mobile_buy? or current_user.mobile_admin?
          %div.row
            %p
              .col-xs-6
                %a.btn.btn-default.btn-lg.btn-block{:href => tickets_path(status: 2),  class: 'welcome_button', style: 'white-space: normal;', :role => "button", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i><br>Purchases"}} 
                  %i.fa.fa-ticket.fa-lg
                  %br
                  = "Purchases" 
            %p
              .col-xs-6
                %a.btn.btn-default.btn-lg.btn-block{:href => create_ticket_customer_path(empty_guid),  class: 'welcome_button', :role => "button", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i><br>Ticket"}} 
                  = "Quick"
                  %br
                  = "Ticket"
        - if current_user.mobile_buy? or current_user.mobile_admin?
          %div.row
            %p
              .col-xs-6
                %a.btn.btn-default.btn-lg.btn-block{:href => customers_path,  class: 'welcome_button', :role => "button", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i><br>Customers"}} 
                  %i.fa.fa-users.fa-lg
                  %br
                  = "Customers"
              .col-xs-6
                %a.btn.btn-default.btn-lg.btn-block{:href => commodities_path,  class: 'welcome_button', :role => "button", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i><br>Commodities"}} 
                  %i.fa.fa-list.fa-lg
                  %br
                  = "Commodities"
        - if current_user.mobile_sell? or current_user.mobile_admin?
          %div.row
            %p
              .col-xs-6
                %a.btn.btn-default.btn-lg.btn-block{:href => pack_shipments_path,  disabled: current_user.company.include_shipments? ? false:true, class: "welcome_button #{current_user.company.include_shipments? ? '' : 'disabled'}", :role => "button", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i><br>Shipments"}} 
                  %i.fa.fa-truck.fa-lg
                  %br
                  = "Shipments"
              .col-xs-6
                %a.btn.btn-default.btn-lg.btn-block{:href => inventories_path, disabled: current_user.company.include_inventories? ? false:true,  class: "welcome_button #{current_user.company.include_inventories? ? '' : 'disabled'}", :role => "button", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i><br>Inventory Audit"}} 
                  %i.fa.fa-list-alt.fa-lg
                  %br
                  = "Inventory Audit"
        - if current_user.mobile_reports? or current_user.mobile_admin?
          %div.row
            %p
              .col-xs-12
                %a.btn.btn-default.btn-lg.btn-block{:href => reports_path,  class: 'welcome_button', :role => "button", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Management Reports"}} 
                  = "Management Reports"
        - if current_user.mobile_dispatch? or current_user.mobile_admin?
          %div.row
            %p
              .col-xs-12
                %a.btn.btn-default.btn-lg.btn-block{:href => trips_path, disabled: current_user.company.include_dispatch? ? false:true,  class: "welcome_button #{current_user.company.include_dispatch? ? '' : 'disabled'}", :role => "button", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Dispatch"}} 
                  %i.fa.fa-map-marker.fa-lg
                  = "Dispatch"
      - else
        .navbar.navbar-default.navbar-fixed-top{ role: 'navigation'}
          .container-fluid
            .navbar-header
              %div{class: 'navbar-brand navbar-center'}
                .col-xs-4.col-sm-4
                .col-xs-4.col-sm-4
                  = "Scrap Dragon Portal" unless mobile_device?
                  = "SDP" if mobile_device?
                .col-xs-4.col-sm-4
        %p Select a Yard
        - Yard.all(current_user.token).each do |yard|
          %div.row
            .col-xs-12.col-sm-12.col-md-12
              %div.panel.panel-primary
                %div.list_group
                  %a{href: yard_path(yard['Id']), class: "list-group-item yard_button", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> #{yard['Name']}"}}
                    = yard["Name"]
                    .pull-right
                      %i.fa.fa-chevron-right.fa-lg