- if not logged_in?
  .jumbotron{style: 'background-color: white;'}
    .container
      %h3.text-center SCRAP DRAGON PORTAL
      %div.text-center
        %p
          %a{href: signup_path, class: 'btn btn-lg btn-primary', data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Sign Up"}}
            %i.fa.fa-lock
            Sign Up
          %a{href: login_path, class: 'btn btn-lg btn-default', data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Log In"}}
            %i.fa.fa-lock
            Log In
- else
  .jumbotron{style: 'background-color: white;'}
    .container
      %div.row
        .col-sm-6.col-md-4.col-md-offset-4
          - unless current_user.company.logo.file.nil?
            = image_tag(current_user.company.logo.url, alt: 'company_logo', class: 'img-responsive center-block')
          - else
            = image_tag('dragon_logo_small.png', alt: 'dragon_logo.png', class: 'img-responsive center-block')
      -#
        %p
          =# image_tag('sd_portal_transparent_small.png', alt: 'sd_portal_transparent_small.png', class: 'img-responsive center-block')
          .col-sm-6.col-md-4.col-md-offset-4
            = image_tag('dragon_logo.png', alt: 'dragon_logo.png', class: 'img-responsive center-block')
      %div.row
        - if current_user.tickets?
          %p
            %div{class: "#{current_user.shipments? ? 'col-xs-6' : '.col-sm-6 col-md-4 col-md-offset-4'}"}
              %a.btn.btn-default.btn-lg.btn-block.btn-word-wrap{:href => tickets_reports_path,  class: 'welcome_button', :role => "button", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Reports"}} 
                %i.fa.fa-list-alt.fa-lg
                Reports
                %br
                %small.text-muted= "Material Sold to #{current_user.company.name}"
        - if current_user.shipments?
          %p
            %div{class: "#{current_user.tickets? ? 'col-xs-6' : '.col-sm-6 col-md-4 col-md-offset-4'}"}
              %a.btn.btn-default.btn-lg.btn-block.btn-word-wrap{:href => shipments_reports_path,  class: 'welcome_button', :role => "button", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Reports"}} 
                %i.fa.fa-list-alt.fa-lg
                Reports
                %br
                %small.text-muted= "Material Purchased from #{current_user.company.name}"
      %div.row
        - if current_user.tickets?
          %p
            %div{class: "#{current_user.shipments? ? 'col-xs-6' : '.col-sm-6 col-md-4 col-md-offset-4'}"}
              %a.btn.btn-default.btn-lg.btn-block.btn-word-wrap{:href => customer_index_commodities_path,  class: 'welcome_button', :role => "button", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Price Lists"}} 
                %i.fa.fa-list.fa-lg
                Price Lists
                %br
                %small.text-muted= "Sell to #{current_user.company.name}"
        - if current_user.shipments?
          %p
            %div{class: "#{current_user.tickets? ? 'col-xs-6' : '.col-sm-6 col-md-4 col-md-offset-4'}"}
              %a.btn.btn-default.btn-lg.btn-block.btn-word-wrap{:href => '#',  class: 'welcome_button', :role => "button", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Contracts"}} 
                %i.fa.fa-list.fa-lg
                Contracts
                %br
                %small.text-muted= "Material Purchased from #{current_user.company.name}"
      - if current_user.dispatch?
        %div.row
          %p
            .col-sm-6.col-md-4.col-md-offset-4
              %a.btn.btn-default.btn-lg.btn-block.btn-word-wrap{:href => service_requests_customers_path,  class: 'welcome_button', :role => "button", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Dispatch"}} 
                %i.fa.fa-truck.fa-lg
                Dispatch
                %br
                %small.text-muted= "Service Requests"
        