- if not logged_in?
  = render partial: "shared/navbars/no_user_navbar", locals: {title: "Home"}
  .jumbotron
    .container
      %h3.text-center SYD SDX
      %p.text-center Scrap Yard Dog with Scrap Dragon Xtreme
      %div.text-center
        %p
          %a{href: login_path, class: 'btn btn-lg btn-primary', data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Log In"}}
            %i.fa.fa-lock
            Log In
- else
  = render partial: "shared/navbars/base_navbar", locals: {title: "Home"}
  .jumbotron{style: 'background-color: #FFFFFF;'}
    .container
      - unless current_yard_id.blank?
        -#
          .well
            %p 
              Current Yard:
              = current_yard.blank? ? 'None' : current_yard['Name']
            %p
              Current Yard ID:
              = current_yard_id.blank? ? 'None' : current_yard_id
      - else
        %p Select a Yard
        - Yard.all(current_token).each do |yard|
          %div.row
            .col-xs-12.col-sm-12.col-md-12
              %div.panel.panel-primary
                %div.list_group
                  %a{href: yard_path(yard['Id']), class: "list-group-item item_button", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> #{yard['Name']}"}}
                    = yard["Name"]
                    .pull-right
                      %i.fa.fa-chevron-right.fa-lg
      - unless current_yard.blank?
        %div.row
          %p
            .col-xs-12
              %a.btn.btn-primary.btn-lg.btn-block{:href => customers_path,  class: 'welcome_button', :role => "button", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Customers"}} 
                %i.fa.fa-users.fa-lg
                Customers
        %div.row
          %p
            .col-xs-12
              %a.btn.btn-primary.btn-lg.btn-block{:href => '#',  class: 'welcome_button', :role => "button", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Open"}} 
                %i.fa.fa-folder-open-o.fa-lg
                Open
        %div.row
          %p
            .col-xs-12
              %a.btn.btn-primary.btn-lg.btn-block{:href => '#',  class: 'welcome_button', :role => "button", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Closed"}} 
                %i.fa.fa-folder.fa-lg
                Closed
        %div.row
          %p
            .col-xs-6
              %a.btn.btn-default.btn-lg.btn-block{:href => '#',  class: 'welcome_button', :role => "button", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Paid"}} 
                %i.fa.fa-dollar.fa-lg
                Paid
            .col-xs-6
              %a.btn.btn-default.btn-lg.btn-block{:href => commodities_path,  class: 'welcome_button', :role => "button", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Commodities"}} 
                %i.fa.fa-th-list.fa-lg
                Commodities