= render 'shared/navbars/kpi_dashboard_navbar'

.jumbotron{id: 'kpi_dashboard', style: 'background-color: black;'}
  .container-fluid
    .row
      .col-xs-12
        .col-xs-12.col-sm-3{style: 'color: white;'}
          %h2 
            - unless current_user.company.logo.url.blank?
              = image_tag(current_user.company.logo.url(:thumb), class: 'img-responsive', size: '200x200')
            POWERED BY 
            %br
            %span.text-info SCRAP DRAGON
          = form_tag scoreboard_path, method: 'get', :class => "form-inline", role: 'search' do
            %p= select_tag :yard_id, options_for_select(@yards.collect {|yard| [ yard['Name'], yard['Id'] ] }, current_yard_id), class: "form-control", onchange: "this.form.submit();"
          
        .col-xs-12.col-sm-4
          .panel{style: 'background-color: #303030; color: white; height: 150px; padding-top: 0px; padding-bottom: 0px;'}
            -#
              .panel-heading{style: 'background-color: gray;'}
                New York
            .panel-body
              %iframe{:frameborder => "0", :seamless => "", :src => "https://www.zeitverschiebung.net/clock-widget-iframe-v2?language=en&size=large&timezone=America%2FNew_York", :width => "100%"}
              %h4.text-danger.text-center
                %i.fa.fa-warning
                System wide alert
        .col-xs-12.col-sm-5
          .panel
            .panel-heading
              %iframe#forecast_embed{:frameborder => "0", :height => "210", :src => "//forecast.io/embed/#lat=#{current_user.company.latitude}&lon=#{current_user.company.longitude}&color=#00aaff&name=#{current_user.company.city.blank? ? 'St. Pete' : current_user.company.city}", :width => "100%"}
              -#
                %h2.text-center
                  %i.fa.fa-cloud
                  Weather
                #weather{'data-zipcode' => "#{current_user.company.zip.blank? ? '33710' : current_user.company.zip}", style: 'background-color: #303030; color: white;'}
        -#
          .pull-right
            .col-xs-12.col-sm-2
              = form_tag welcome_kpi_dashboard_path, method: 'get', :class => "form-inline", role: 'search' do
                %p= select_tag :yard_id, options_for_select(@yards.collect {|yard| [ yard['Name'], yard['Id'] ] }, current_yard_id), class: "form-control input-lg", onchange: "this.form.submit();"
    .row
      .col-xs-12
        .col-xs-6
          .col-xs-12.col-sm-6
            .panel{style: 'background-color: #303030; color: white;'}
              .panel-heading
                %h2.text-center Tickets Created
                %h3.text-center
                  Today:
                  %span.text-info= "#{@closed_and_held_and_paid_tickets_today.blank? ? 0 : @closed_and_held_and_paid_tickets_today.count}"
                  %br
                  30-Day:
                  %span.text-info= "#{@closed_and_held_and_paid_tickets.blank? ? 0 : @closed_and_held_and_paid_tickets.count}"
                  =# Commodity.types(current_user.token, current_yard_id)
                  =# Commodity.find_by_id(current_user.token, current_yard_id, Ticket.line_items(@closed_and_held_and_paid_tickets.last['TicketItemCollection']['ApiTicketItem']).first["CommodityId"])
          .col-xs-12.col-sm-6
            .panel{style: 'background-color: #303030; color: white;'}
              .panel-heading
                %h2.text-center Tickets on Hold
                %h3.text-center
                  Today:
                  %span.text-info= "#{@held_tickets_today.blank? ? 0 : @held_tickets_today.count}"
                  %br
                  Average:
                  %span.text-info 15 minutes
          .col-xs-12.col-sm-4
            .panel{style: 'background-color: #303030; color: white;'}
              .panel-heading
                %h2.text-center Paid
                %h3.text-center
                  Today:
                  %br
                  %span.text-info= "#{@paid_tickets_today.blank? ? 0 : @paid_tickets_today.count}"
                  %br
                  %br
                  Total:
                  %br
                  %span.text-info= number_to_currency(@paid_tickets_today_total)
          .col-xs-12.col-sm-4
            .panel{style: 'background-color: #303030; color: white;'}
              .panel-heading
                %h2.text-center Nonferrous
                %h3.text-center
                  Today:
                  %br
                  %span.text-info
                    = number_with_delimiter(@closed_and_paid_tickets_today_line_items_non_ferrous_net_total.round)
                    lb
                  %br
                  %br
                  30-Day avg:
                  %br
                  %span.text-info
                    = number_with_delimiter((@closed_tickets_line_items_non_ferrous_net_total / 30).round)
                    lb
          .col-xs-12.col-sm-4
            .panel{style: 'background-color: #303030; color: white; margin-left: 0px;'}
              .panel-heading
                %h2.text-center Ferrous
                %h3.text-center
                  Today:
                  %br
                  %span.text-info
                    = number_with_delimiter(@closed_and_paid_tickets_today_line_items_ferrous_net_total.round)
                    lb
                  %br
                  %br
                  30-Day avg:
                  %br
                  %span.text-info
                    = number_with_delimiter((@closed_tickets_line_items_ferrous_net_total / 30).round)
                    lb
          .col-xs-12.col-sm-6
            .panel{style: 'background-color: #303030; color: white;'}
              .panel-heading
                %h2.text-center Shipments on Hold
                %h3.text-center
                  Today:
                  %span.text-info= "#{@held_shipments_today.blank? ? 0 : @held_shipments_today.count}"
                  - unless @held_shipments_today.blank? or @last_held_shipment_today.blank?
                    %br
                    %br
                    %span.text-info= @last_held_shipment_today['CustomerName'] 
                    %br
                    %span.text-info= @last_held_shipment_today['DateCreated'].to_datetime.in_time_zone("Eastern Time (US & Canada)").strftime("%l:%M %p (Eastern)") unless @last_held_shipment_today['DateCreated'].blank? or @last_held_shipment_today['DateCreated'] == '{"i:nil"=>"true"}'
          .col-xs-12.col-sm-6
            .panel{style: 'background-color: #303030; color: white;'}
              .panel-heading
                %h2.text-center Shipments Sent
                %h3.text-center
                  Today:
                  %span.text-info= "#{@closed_shipments_today.blank? ? 0 : @closed_shipments_today.count}"
                  - unless @closed_shipments_today.blank? or @last_closed_shipment_today.blank?
                    %br
                    %br
                    %span.text-info= @last_closed_shipment_today['CustomerName'] 
                    %br
                    %span.text-info= @last_closed_shipment_today['DateShipped'].to_datetime.in_time_zone("Eastern Time (US & Canada)").strftime("%l:%M %p (Eastern)") unless @last_closed_shipment_today['DateShipped'].blank? or @last_closed_shipment_today['DateShipped'] == '{"i:nil"=>"true"}'
                    
          -#
            .col-xs-12
              .panel{style: 'background-color: #303030; color: white;'}
                .panel-heading
                  %h4
                    %i.fa.fa-video-camera
                    Live Camera Feed
                  .embed-responsive.embed-responsive-1by1
                    %iframe{:allow => "autoplay; encrypted-media", :allowfullscreen => "", :frameborder => "0", :height => "1200", :src => "http://192.168.11.54", :width => "854"}
          
        .col-xs-6
          .col-xs-12
            .panel{style: 'background-color: #303030; color: white;'}
              .panel-heading
                %h2 Daily Tickets
              - unless @closed_and_held_and_paid_tickets_today.blank?
                %h4.table-responsive
                  %table.table.table-condensed
                    - @closed_and_held_and_paid_tickets_today.last(15).each do |ticket|
                      %tr
                        %td= ticket['DateCreated'].to_datetime.in_time_zone("Eastern Time (US & Canada)")
                        %td= ticket['TicketNumber']
                        %td= ticket['Company'].blank? ? "#{ticket['FirstName']} #{ticket['LastName']}" : ticket['Company']
                        %td= Ticket.status_string(ticket['Status'])
                        %td= number_to_currency(ticket['TicketItemCollection'].blank? ? 0 : Ticket.line_items_total(ticket['TicketItemCollection']['ApiTicketItem']))
              - else
                .panel-body None
          .col-xs-12
            .panel{style: 'background-color: #303030; color: white;'}
              .panel-heading
                %h2
                  %i.fa.fa-bolt
                  ezCash ATMs
                %h4.table-responsive
                  %table.table.table-condensed
                    %thead
                      %tr
                        %th{:scope => "col"} ID
                        %th{:scope => "col"} Name
                        %th{:scope => "col"} State
                        %th{:scope => "col"} Status
                        %th{:scope => "col"} Remaining
                        %th
                    %tbody
                      %tr
                        %td 312
                        %td Scrapy's ATM
                        %td Ready
                        %td= link_to "1101", '#', class: 'btn btn-sm btn-success'
                        %td= number_to_currency(78084)
    -#
      .row
        .col-xs-12
          .embed-responsive.embed-responsive-16by9
            %iframe{:height => "25", :scrolling => "no", :src => "https://www.dailyforex.com/forex-widget/widget/29566", :style => "width: 100%; height:25px; display: block;border:0px;overflow:hidden;"}
              %span{:style => "position:relative;display:block;text-align:center;color:#ffffff;font-family:verdana,sans-serif;font-size:10px;"}

= render 'shared/ticker_navbar'
=# render 'shared/kpi_footer_navbar'


:javascript
  // Refresh page every 5 minutes
  setInterval(function(){
   window.location.reload(1);
  }, 300000);