= render partial: "shared/navbars/customers_navbar", locals: {title: "Customers"}

.jumbotron{style: 'background-color: #FFFFFF;'}
  .container
    %p
      = form_tag customers_path, id: 'customer_search_form', method: 'get', :class => "form-inline", role: 'search' do |f|
        .input-group
          = search_field_tag :q, params[:q], :placeholder => "Search customers", class: "form-control input-lg"
          = hidden_field_tag :first_name, params[:first_name]
          = hidden_field_tag :last_name, params[:last_name]
          = hidden_field_tag :license_number, params[:license_number]
          = hidden_field_tag :dob, params[:dob]
          = hidden_field_tag :sex, params[:sex]
          = hidden_field_tag :issue_date, params[:issue_date]
          = hidden_field_tag :expiration_date, params[:expiration_date]
          = hidden_field_tag :streetaddress, params[:streetaddress]
          = hidden_field_tag :city, params[:city]
          = hidden_field_tag :state, params[:state]
          = hidden_field_tag :zip, params[:zip]
          %span.input-group-btn
            %button.btn.btn-default.btn-lg{id: 'customer_search_button', :type => "submit", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i>"}} 
              %i.fa.fa-search
            - current_user.license_reader_devices.each do |license_reader_device|
              %a{href: '#', 'data-device-id' => license_reader_device.id, onclick: "$(this).find('.data_scan_spinner:first').show();", class: 'drivers_license_scan_and_search btn btn-lg btn-default'}
                %i.fa.fa-list-alt
                = "#{license_reader_device.DeviceName}"
                = image_tag("ajax-loader.gif", :id => "data_scan_spinner", :class => "data_scan_spinner", :alt => "Loading ...", style: "display:none;")
    - unless @customers.blank?
      %div{id: "customers"}
        - @customers.each do |customer|
          %div.row
            .col-xs-12.col-sm-12.col-md-12
              %div.panel.panel-primary
                %div.list_group
                  %div.list-group-item
                    .pull-right
                      %p
                        %a{href: create_ticket_customer_path(customer['Id']), class: "btn btn-primary customer_button", data: {disable_with: "<i class='fa fa-spinner fa-spin fa-lg'></i> Ticket"} }
                          %i.fa.fa-ticket
                          Ticket
                    -#
                      - if current_user.user_setting.show_customer_thumbnails? and not Customer.default_cust_pic_id(customer['Id'], current_yard_id).blank?
                        = image_tag(Customer.default_cust_pic(customer['Id'], current_yard_id).preview_data_uri, class: 'thumbnail img-responsive')
                    %p.lead
                      = customer["CustomerNumber"]
                      - unless customer["FirstName"].blank? and customer["LastName"].blank?
                        = "#{customer['FirstName']} #{customer['LastName']}"
                      - else
                        = "#{customer['Company']}"
                  %a{href: customer_path(customer['Id']), data: {disable_with: "<i class='fa fa-spinner fa-spin fa-lg'></i> Customer Details"}, class: "list-group-item customer_button"}
                    .pull-right
                      &nbsp;
                      %i.fa.fa-chevron-right.fa-lg
                    Customer Details
      .row
        .text-center
          %div{id: 'endless_page'}
            %p= image_tag("ajax-loader.gif", :id => "more_customers_spinner", :alt => "Loading ...", style: "display:none;")
            %p= link_to 'Load more ...', customers_path(:page => @customers.next_page, :q => params[:q]), :class => 'load-more-customers btn btn-default', :remote => true, :onclick => "$(this).hide(); $('#more_customers_spinner').show();" if @customers.next_page
    - else
      %p No customers found            
    
= render partial: "shared/customers_footer_navbar", locals: {title: "Customers"}