%div{:id => "item_#{id}_vin_search_modal", :class => "modal fade", :tabindex => "-1", :style => "display:none;"}
  .modal-dialog.modal-sm
    .modal-content
      .modal-header
        %strong Car Details
        = link_to "×", '#', :class => "close", "data-dismiss" => "modal"
      .modal-body
        .input-group
          = text_field_tag :vin_number, nil, :placeholder => "VIN", class: "form-control input-lg"
          %span.input-group-addon
            %a{href: nil, id: "item_#{id}_vin_search_button", class: 'vin_search_button'}
              %i.fa.fa-search
              %i.fa.fa-spinner.fa-lg.fa-spin{style: 'display:none;'}
        #results
        %br

        .modal-footer
          -#
            = button_tag(name: 'save_vehicle_info', :type => 'submit', :class => 'btn btn-primary btn-lg', data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Save"}, autocomplete: "off", onclick: "$(this).closest('.form-group').find('#save_button').removeAttr('data-disable-with'); ") do
              Save