.panel.panel-default.line-item
  %div.panel-heading{:role => "tab", id: "heading#{index}"}
    %h4.panel-title
      %ul{class: 'list-inline'}
        %li
          %a.text-success.line_item_name{"aria-controls" => "collapse#{index}", "aria-expanded" => "true", "data-toggle" => "collapse", :href => "#collapse_#{index}", :role => "button", class: 'ticket_collapse_link'}
            Choose an item*
        %li.pull-right
          %a{href: '#', class: 'remove_field'}
            %i.fa.fa-trash.fa-lg.text-danger
  %div.panel-collapse{id: "collapse_#{index}", "aria-labelledby" => "headingitem", :role => "tabpanel", class: "collapse in"}
    .panel-body
      = select_tag "ticket[line_items][][commodity]", "", class: "form-control input-lg item_select", required: true
      %br
      %div.input-group.gross_input_group
      %br
      %div.input-group.tare_input_group
      %br
      = hidden_field_tag "ticket[line_items][][net]", nil, :placeholder => "Net", class: "form-control input-lg amount-calculation-field", required: true, readonly: true
      %div.input-group
        %span.input-group-addon
          %i.fa.fa-dollar.fa-lg
        = text_field_tag "ticket[line_items][][price]", nil, :placeholder => "Rate", class: "form-control input-lg amount-calculation-field", required: true
      = hidden_field_tag "ticket[line_items][][amount]", nil, :placeholder => "Amount", class: "form-control input-lg amount", required: true, readonly: true
  %div.panel-footer
    %ul{class: 'list-inline'}
      %li.calculation_details
      %li.pull-right
        %a.text-success{"aria-controls" => "collapse#{index}", "data-toggle" => "collapse", :href => "#collapse_#{index}", class: 'pull-right ticket_collapse_link' }
          %i.fa.fa-check-square.fa-3x.collapse_icon