= render partial: "shared/navbars/edit_ticket_navbar", locals: {title: @ticket_number, total: number_to_currency(@ticket['BalanceDue'])}

.jumbotron{style: 'background-color: #FFFFFF;'}
  -#
    - unless @ticket_session_id.blank?
      .container
        .pull-right
          %small
            Ticket Session
            %strong= @ticket_session_id
  .container
    - unless @ticket['Description'].blank?
      %p.text-center= @ticket['Description']
    -#
      .well
        = @get_ticket
    -#
      .well
        = @get_ticket_response
      .well
        = @get_ticket_response['Session']['SessionType']
    -# .well= @drawers
    -# .well= @ticket
    -#
      .well
        = @ticket
      .well
        =# @commodity_types
        =# @commodities
        =# @commodities_grouped_by_type_for_select
    = form_tag ticket_path, method: 'put', id: 'edit_ticket_form', :class => "form-horizontal" do
      = hidden_field_tag "ticket[created_from_trip]", params[:created_from_trip] unless params[:created_from_trip].blank?
      = hidden_field_tag "ticket[session_id]", @ticket_session_id unless @ticket_session_id.blank?
      = hidden_field_tag "ticket[ticket_number]", @ticket_number
      =# hidden_field_tag "ticket[customer_id]", @ticket["CustomerId"]
      = hidden_field_tag "ticket[status]", @ticket['Status']
      =# hidden_field_tag "ticket[id]", @ticket['Id']
      =# hidden_field_tag :drawer_id, @drawers.first['CashDrawerId'] unless @drawers.blank?
      =# select_tag :drawer_id, options_for_select(@drawers.map{ |drawer| [drawer['DrawerName'], drawer['CashDrawerId']] }), prompt: 'Choose a drawer' unless @drawers.blank?
      =# hidden_field_tag :accounts_payable_id, @accounts_payable_items.last['Id'] unless @accounts_payable_items.blank?
      =# @accounts_payable_items
      - unless @accounts_payable_items.blank?
        - @accounts_payable_items.each do |accounts_payable_item|
          .well
            Amount Due:
            = number_to_currency(accounts_payable_item["AmountDue"])
            =# accounts_payable_item
      - if @ticket['Status'] == '3'
        .well
          =# @accounts_payable_items.first
          =# @apcashier
          %p
            = "Payment by #{payment_method_string(@accounts_payable_items.first['PaymentMethod'])}: #{number_to_currency(@accounts_payable_items.first['PaidAmount'])}"
          - if @apcashier['PaymentMethod'] == '1'
            = "Check Number: #{@apcashier['CheckNumber']}"

      =# @combolists
      -#
        .well
          %strong Makes
          - @vehicle_makes.each do |make|
            %p= make["Make"]
        .well
          %strong Models
          - @vehicle_models.each do |model|
            %p= model["Model"]
        .well
          %strong Bodies
          - @body_styles.each do |body|
            %p= body["ReportDescription"]
        .well
          %strong Colors
          - @vehicle_colors.each do |color|
            %p= color["ReportDescription"]
        
      #vendor_accordion.panel-group{"aria-multiselectable" => "true", :role => "tablist"}
        .panel.panel-default
          -#
            .well
              = @ticket
          %div.panel-heading{:role => "tab", id: "vendor_heading"}
            %h4.panel-title
              %a.text-primary{"aria-controls" => "collapseVendor", "aria-expanded" => "true", "data-parent" => "#vendor_accordion", "data-toggle" => "collapse", :href => "#collapseVendor", :role => "button" }
                #vendor_name.text-primary
                  - if not (@ticket["FirstName"].blank? and @ticket["LastName"].blank?)
                    = "#{@ticket['FirstName']} #{@ticket['LastName']}"
                  - else
                    = "#{@ticket['Company'].blank? ? 'No company name' : @ticket['Company']}"
          %div{id: "collapseVendor", "aria-labelledby" => "headingOne", :role => "tabpanel", class: "panel-collapse collapse ", "aria-expanded" => false }
            .panel-body
              = select_tag "ticket[customer_id]", options_for_select([ ["#{@ticket['FirstName']} #{@ticket['LastName']}", @ticket['CustomerId']] ], @ticket['CustomerId']), prompt: 'Choose a customer', class: "", style: "width: 100%;", required: true
              = hidden_field_tag "ticket[description]", "#{@ticket['Description'].blank? ? "" : @ticket['Description']}"
              =# render partial: 'new_customer_modal'
      - unless @line_items.blank?
        / Line items
        %div.ticket_input_fields_wrap
          #items_accordion.panel-group{"aria-multiselectable" => "true", :role => "tablist"}
            - @line_items.each do |line_item|
              -#
                .well= line_item
              .panel.panel-default.line-item
                %div.panel-heading{:role => "tab", id: "heading#{line_item['Id']}"}
                  %h4.panel-title
                    %ul{class: 'list-inline'}
                      %li
                        %a.line_item_name.text-primary{"aria-controls" => "collapse#{line_item['Id']}", "aria-expanded" => false, "data-parent" => "#items_accordion", "data-toggle" => "collapse", :href => "#collapse_#{line_item['Id']}", :role => "button", class: "collapsed"}
                          = line_item["PrintDescription"]
                      %li.pull-right
                        %a{href: '#', class: 'void_item remove_field', "data-ticket-id" => @ticket['Id'], "data-session-id" => @ticket_session_id, "data-item-id" => line_item['Id'], "data-commodity-id" => line_item['CommodityId'], "data-gross" => line_item['GrossWeight'], "data-tare" => line_item['TareWeight'], "data-net" => line_item['NetWeight'], "data-price" => line_item['Price'], "data-amount" => line_item['ExtendedAmount'], "data-session-id" => @ticket_session_id}
                          %i.fa.fa-trash.fa-lg.text-danger
                          %i.fa.fa-spinner.fa-spin.fa-lg.text-danger{style: 'display:none;'}
                %div{id: "collapse_#{line_item['Id']}", "aria-labelledby" => "heading#{line_item['Id']}", :role => "tabpanel", class: "panel-collapse collapse ", "aria-expanded" => false }
                  .panel-body
                    = hidden_field_tag "ticket[line_items][][id]", line_item['Id']
                    = hidden_field_tag "ticket[line_items][][status]", line_item['Status']
                    =# select_tag "ticket[line_items][][commodity]", options_for_select(@commodities.map{ |commodity| [commodity['PrintDescription'], commodity['Id']] }, line_item['CommodityId']), prompt: 'Choose an item', class: "form-control input-lg item_select", required: true
                    =# select_tag "ticket[line_items][][commodity]", grouped_options_for_select(@commodities_grouped_by_type_for_select, line_item['CommodityId']), prompt: '-- Choose an item --', class: "form-control input-lg item_select", required: true
                    = select_tag "ticket[line_items][][commodity]", options_for_select([ ["#{line_item['PrintDescription']}", line_item['CommodityId']] ], line_item['CommodityId']), prompt: '-- Choose an item --', class: "form-control input-lg item_select", style: "width: 100%;", required: true
                    %br
                    #quantity_form_field{style: "#{line_item['UnitOfMeasure'] == 'EA' ? 'display:block' : 'display:none'}"}
                      %div.input-group.quantity_input_group
                        %span.input-group-addon
                          %i.fa.fa-hashtag{style: "font-size:0.7em;"}
                        = phone_field_tag "ticket[line_items][][quantity]", number_with_precision(line_item['Quantity'], precision: 1, strip_insignificant_zeros: true), :placeholder => "Quantity", class: "form-control input-lg amount-calculation-field"
                        %span.input-group-addon
                          %a{href: '#', id: 'quantity_picture_button', class: 'quantity_picture_button', 'data-event-code' => "Quantity",  'data-item-name' => line_item["PrintDescription"], 'data-item-id' => line_item["Id"]}
                            %i.fa.fa-upload.fa-2x
                      %br
                    #gross_and_tare_form_field{style: "#{line_item['UnitOfMeasure'] == 'EA' ? 'display:none' : 'display:block'}"}
                      %div.input-group.gross_input_group
                        - current_user.scale_devices.each do |scale_device|
                          %span.input-group-addon
                            - if scale_device.scale_camera_only?
                              %a{href: '#', style: "color: hotpink;", class: "scale_camera_trigger", id: 'gross_scale_button', 'data-event-code' => "Gross", 'data-ticket-number' => @ticket_number, 'data-item-name' => line_item["PrintDescription"], 'data-yard-id' => current_yard_id, 'data-device-id' => scale_device.id, title: scale_device.DeviceName, 'data-customer-id' => @ticket['CustomerId'] }
                                %i.fa.fa-camera.fa-lg
                                %i.fa.fa-spinner.fa-lg.fa-spin{style: 'display:none;'}
                            - else
                              %a{href: '#', class: "scale_read_and_camera_trigger", id: 'gross_scale_button', 'data-event-code' => "Gross", 'data-ticket-number' => @ticket_number, 'data-item-name' => line_item["PrintDescription"], 'data-yard-id' => current_yard_id, 'data-device-id' => scale_device.id, title: scale_device.DeviceName, 'data-customer-id' => @ticket['CustomerId'] }
                                %i.fa.fa-dashboard.fa-lg
                                %i.fa.fa-spinner.fa-lg.fa-spin{style: 'display:none;'}
                        %span.input-group-addon
                          %i.fa.fa-plus{style: "font-size:0.7em;"}
                        = phone_field_tag "ticket[line_items][][gross]", number_with_precision(line_item['GrossWeight'], precision: 2, strip_insignificant_zeros: true), :placeholder => "Gross", class: "form-control input-lg amount-calculation-field"
                        %span.input-group-addon
                          %a{href: '#', id: 'gross_picture_button', class: 'gross_or_tare_picture_button', 'data-event-code' => "Gross",  'data-event-code-id' => current_user.company.gross_event_code_id, 'data-weight' => line_item['GrossWeight'], 'data-item-name' => line_item["PrintDescription"], 'data-item-id' => line_item["Id"]}
                            %i.fa.fa-upload.fa-2x
                      %br
                      %div.input-group.tare_input_group
                        - current_user.scale_devices.each do |scale_device|
                          %span.input-group-addon
                            - if scale_device.scale_camera_only?
                              %a{href: '#', style: "color: hotpink;", class: "scale_camera_trigger", id: 'tare_scale_button', 'data-event-code' => "Tare", 'data-ticket-number' => @ticket_number, 'data-item-name' => line_item["PrintDescription"], 'data-yard-id' => current_yard_id, 'data-device-id' => scale_device.id, title: scale_device.DeviceName, 'data-customer-id' => @ticket['CustomerId'] }
                                %i.fa.fa-camera.fa-lg
                                %i.fa.fa-spinner.fa-lg.fa-spin{style: 'display:none;'}
                            - else
                              %a{href: '#', class: "scale_read_and_camera_trigger", id: 'tare_scale_button', 'data-event-code' => "Tare", 'data-ticket-number' => @ticket_number, 'data-item-name' => line_item["PrintDescription"], 'data-yard-id' => current_yard_id, 'data-device-id' => scale_device.id, title: scale_device.DeviceName, 'data-customer-id' => @ticket['CustomerId'] }
                                %i.fa.fa-dashboard.fa-lg
                                %i.fa.fa-spinner.fa-lg.fa-spin{style: 'display:none;'}
                        %span.input-group-addon
                          %i.fa.fa-minus{style: "font-size:0.7em;"}
                        = phone_field_tag "ticket[line_items][][tare]", number_with_precision(line_item['TareWeight'], precision: 2, strip_insignificant_zeros: true), :placeholder => "Tare", class: "form-control input-lg amount-calculation-field tare"
                        %span.input-group-addon
                          %a{href: '#', id: 'tare_picture_button', class: 'gross_or_tare_picture_button', 'data-event-code' => "Tare", 'data-event-code-id' => current_user.company.tare_event_code_id, 'data-weight' => line_item['TareWeight'], 'data-item-name' => line_item["PrintDescription"], 'data-item-id' => line_item["Id"]}
                            %i.fa.fa-upload.fa-2x
                      %br
                      = hidden_field_tag "ticket[line_items][][net]", line_item['NetWeight'], :placeholder => "Net", class: "form-control input-lg amount-calculation-field", readonly: true
                    .input-group
                      %span.input-group-addon
                        %i.fa.fa-dollar.fa-lg
                      = text_field_tag "ticket[line_items][][price]", line_item['Price'], :placeholder => "Price", class: "form-control input-lg amount-calculation-field", required: true
                      =# hidden_field_tag "ticket[line_items][][unit_of_measure]", line_item['UnitOfMeasure'], :placeholder => "Unit of Measure", class: "form-control input-lg  amount-calculation-field", required: true
                      %span.input-group-addon
                        %i.fa.fa-balance-scale.fa-lg
                      = select_tag "ticket[line_items][][unit_of_measure]", options_for_select(units_of_measure_abbreviations, line_item['UnitOfMeasure']), class: "form-control input-lg amount-calculation-field", required: true
                    = hidden_field_tag "ticket[line_items][][amount]", line_item['ExtendedAmount'], :placeholder => "Amount", class: "form-control input-lg amount", required: true, readonly: true
                    - unless line_item['TaxCollection'].blank?
                      - if line_item['TaxCollection']['ApiTicketItemTax'].is_a? Hash # Only one line item tax result returned
                        - unless line_item['TaxCollection']['ApiTicketItemTax']['TaxAmount'] == '0.00'
                          = hidden_field_tag "ticket[line_items][][tax_amount_1]", line_item['TaxCollection']['ApiTicketItemTax']['TaxAmount'], :placeholder => "Tax Amount", class: "form-control input-lg amount-calculation-field tax", readonly: true
                        - unless line_item['TaxCollection']['ApiTicketItemTax']['TaxPercent'] == '0.00'
                          = hidden_field_tag "ticket[line_items][][tax_percent_1]", line_item['TaxCollection']['ApiTicketItemTax']['TaxPercent'].to_f/100, :placeholder => "Tax Percent", class: "form-control input-lg amount-calculation-field", readonly: true
                      - else # Multiple line item tax results returned
                        - line_item['TaxCollection']['ApiTicketItemTax'].each_with_index do |tax, index|
                          - unless tax['TaxAmount'] == '0.00'
                            = hidden_field_tag "ticket[line_items][][tax_amount_#{index+1}]", tax['TaxAmount'], :placeholder => "Tax Amount", class: "form-control input-lg amount-calculation-field tax", readonly: true
                        - line_item['TaxCollection']['ApiTicketItemTax'].each_with_index do |tax, index|
                          - unless tax['TaxPercent'] == '0.00'
                            = hidden_field_tag "ticket[line_items][][tax_percent_#{index+1}]", tax['TaxPercent'].to_f/100, :placeholder => "Tax Percent", class: "form-control input-lg amount-calculation-field", readonly: true
                    - else
                      = hidden_field_tag "ticket[line_items][][tax_amount_1]", '0.00', :placeholder => "Tax Amount 1", class: "form-control input-lg amount-calculation-field tax", readonly: true
                      = hidden_field_tag "ticket[line_items][][tax_amount_2]", '0.00', :placeholder => "Tax Amount 2", class: "form-control input-lg amount-calculation-field tax", readonly: true
                      = hidden_field_tag "ticket[line_items][][tax_amount_3]", '0.00', :placeholder => "Tax Amount 3", class: "form-control input-lg amount-calculation-field tax", readonly: true
                      = hidden_field_tag "ticket[line_items][][tax_percent_1]", '0.00', :placeholder => "Tax Percent 1", class: "form-control input-lg", readonly: true
                      = hidden_field_tag "ticket[line_items][][tax_percent_2]", '0.00', :placeholder => "Tax Percent 2", class: "form-control input-lg", readonly: true
                      = hidden_field_tag "ticket[line_items][][tax_percent_3]", '0.00', :placeholder => "Tax Percent 3", class: "form-control input-lg", readonly: true
                    %br
                    %p
                      %small
                        %a{"aria-controls" => "more_#{line_item['Id']}", "aria-expanded" => "false", "data-target" => "#more_#{line_item['Id']}", "data-toggle" => "collapse"}
                          More
                      %div.collapse{id: "more_#{line_item['Id']}"}
                        %p
                          = text_field_tag "ticket[line_items][][serial_number]", line_item['SerialNumber'], :placeholder => "Serial Number", class: "form-control input-lg serial_number_field"
                          %br
                          = text_area_tag "ticket[line_items][][notes]", line_item['Notes'], :placeholder => "Notes", class: "form-control input-lg"
                        %ul{class: 'list-inline'}
                          %li
                            %a.btn.btn-default{href: "#item_#{line_item['Id']}_deductions_modal", id: "#item_#{line_item['Id']}_deductions_modal_link", "data-toggle" => "modal", title: "Deductions"}
                              %i.fa.fa-minus-square-o.fa-lg
                              Deductions
                            = render partial: 'deductions_modal', locals: {line_item: line_item, id: "#{line_item['Id']}"}
                          - unless @combolists.blank? # Car vehicle information lists
                            %li
                              %a.btn.btn-default{href: "#item_#{line_item['Id']}_vin_search_modal", id: "#item_#{line_item['Id']}_vin_search_modal_link", "data-toggle" => "modal", title: "VIN Search"}
                                %i.fa.fa-car.fa-lg
                                Car
                              = render partial: 'car_details_modal', locals: {id: "#{line_item['Id']}", perform_initial_vin_search: true}
                        
                .panel-footer{style: 'padding-top: 0px; font-size: 16px;'}
                  .calculation_details
                    - if line_item['UnitOfMeasure'] == 'EA'
                      %strong Quantity:
                      = "#{number_with_precision(line_item['Quantity'], :precision => 1, strip_insignificant_zeros: true)}"
                    - else
                      %strong Gross:
                      = "#{number_with_precision(line_item['GrossWeight'], :precision => 2, strip_insignificant_zeros: true)}"
                      &nbsp;
                      %strong Tare:
                      = "#{number_with_precision(line_item['TareWeight'], :precision => 2, strip_insignificant_zeros: true)}"
                      &nbsp;
                      %strong Net:
                      = "#{number_with_precision(line_item['NetWeight'], :precision => 2, strip_insignificant_zeros: true)} LB"
                    &nbsp;
                    = "$#{number_with_precision(line_item['Price'], :precision => 3, strip_insignificant_zeros: true)}/#{line_item['UnitOfMeasure']}"
                    &nbsp;
                    %strong= "$#{line_item['ExtendedAmount']}"
                  / Deduction weights
                  -# unless line_item["DeductionCollection"].blank?
                  / Deduction weights
                  .weight_deduction_details
                    - unless line_item["DeductionCollection"].blank?
                      - if line_item["DeductionCollection"]["ApiTicketItemDeduction"].is_a? Hash # Only one line item deduction
                        - line_item_deduction = line_item["DeductionCollection"]["ApiTicketItemDeduction"]
                        - unless (line_item_deduction["DeductWeight"].blank? or line_item_deduction["DeductWeight"].to_i.zero?)
                          %strong Deduction:
                          = "#{number_with_precision(line_item_deduction["DeductWeight"], :precision => 3, strip_insignificant_zeros: true)} LB"
                      - else
                        - line_item_weight_deductions_total = 0
                        - line_item["DeductionCollection"]["ApiTicketItemDeduction"].each do |line_item_deduction|
                          - unless (line_item_deduction["DeductWeight"].blank? or line_item_deduction["DeductWeight"].to_i.zero?)
                            - line_item_weight_deductions_total = line_item_weight_deductions_total + line_item_deduction["DeductWeight"].to_f
                            -#
                              %strong Deduction:
                              = "#{number_with_precision(line_item_deduction["DeductWeight"], :precision => 3, strip_insignificant_zeros: true)} LB"
                        - if line_item_weight_deductions_total > 0
                          %strong Deduction:
                          = "#{number_with_precision(line_item_weight_deductions_total, :precision => 3, strip_insignificant_zeros: true)} LB"
                        
                  / Deduction dollar amounts
                  .dollar_amount_deduction_details
                    - unless line_item["DeductionCollection"].blank?
                      - if line_item["DeductionCollection"]["ApiTicketItemDeduction"].is_a? Hash # Only one line item deduction
                        - line_item_deduction = line_item["DeductionCollection"]["ApiTicketItemDeduction"]
                        - unless (line_item_deduction["DeductDollarAmount"].blank? or line_item_deduction["DeductDollarAmount"].to_i.zero?)
                          %strong Deduction:
                          = "$#{number_with_precision(line_item_deduction["DeductDollarAmount"], :precision => 2, strip_insignificant_zeros: true)}"
                      - else
                        - line_item_dollar_deductions_total = 0
                        - line_item["DeductionCollection"]["ApiTicketItemDeduction"].each do |line_item_deduction|
                          - unless (line_item_deduction["DeductDollarAmount"].blank? or line_item_deduction["DeductDollarAmount"].to_i.zero?)
                            - line_item_dollar_deductions_total = line_item_dollar_deductions_total + line_item_deduction["DeductDollarAmount"].to_f
                            -#
                              %strong Deduction:
                              = "$#{number_with_precision(line_item_deduction["DeductDollarAmount"], :precision => 2, strip_insignificant_zeros: true)}"
                        - if line_item_dollar_deductions_total > 0
                          %strong Deduction:
                          = "$#{number_with_precision(line_item_dollar_deductions_total, :precision => 2, strip_insignificant_zeros: true)}"
                  - unless line_item['TaxCollection'].blank?
                    / Taxes
                    .tax_details
                      %strong Taxes
                      - if line_item['TaxCollection']['ApiTicketItemTax'].is_a? Hash # Only one line item tax result returned
                        - unless line_item['TaxCollection']['ApiTicketItemTax']['TaxAmount'] == '0.00'
                          = "$#{line_item['TaxCollection']['ApiTicketItemTax']['TaxAmount']}"
                      - else # Multiple line item tax results returned
                        - line_item['TaxCollection']['ApiTicketItemTax'].each do |tax|
                          - unless tax['TaxAmount'] == '0.00'
                            = "$#{tax['TaxAmount']}"
      - else
        / New item
        %div.ticket_input_fields_wrap.new_item
          #items_accordion.panel-group{"aria-multiselectable" => "true", :role => "tablist"}
            .panel.panel-default.line-item  
              - new_item_id = SecureRandom.uuid
              %div.panel-heading{:role => "tab", id: "heading#{new_item_id}"}
                %h4.panel-title
                  %ul{class: 'list-inline'}
                    %li
                      %a.line_item_name.text-primary{"aria-controls" => "collapse#{new_item_id}", "aria-expanded" => true, "data-toggle" => "collapse", :href => "#collapse_#{new_item_id}", :role => "button", class: "ticket_collapse_link" }
                        Choose an item*
                    %li.pull-right
                      %a{href: '#', class: 'remove_field', "data-ticket-id" => @ticket['Id'], "data-item-id" => new_item_id, "data-commodity-id" => params[:commodity_id], "data-gross" => 0, "data-tare" => 0, "data-net" => 0, "data-price" => 0, "data-amount" => 0, "data-session-id" => @ticket_session_id}
                        %i.fa.fa-trash.fa-lg.text-danger
                        %i.fa.fa-spinner.fa-spin.fa-lg.text-danger{style: 'display:none;'}
              %div{id: "collapse_#{new_item_id}", "aria-labelledby" => "heading#{new_item_id}", :role => "tabpanel", class: "panel-collapse collapse in", "aria-expanded" => true }
                .panel-body
                  = hidden_field_tag "ticket[line_items][][id]", new_item_id
                  = hidden_field_tag "ticket[line_items][][status]", nil
                  =# select_tag "ticket[line_items][][commodity]", options_for_select(@commodities.map{ |commodity| [commodity['PrintDescription'], commodity['Id']] }, params[:commodity_id]), prompt: 'Choose an item', class: "form-control input-lg item_select", required: true, "data-ticket-id" => @ticket['Id'], "data-item-id" => new_item_id
                  =# select_tag "ticket[line_items][][commodity]", grouped_options_for_select(@commodities_grouped_by_type_for_select, params[:commodity_id]), prompt: '-- Choose an item --', class: "form-control input-lg item_select", required: true, "data-ticket-id" => @ticket['Id'], "data-item-id" => new_item_id
                  = select_tag "ticket[line_items][][commodity]", options_for_select([]), prompt: '-- Choose an item --', class: "form-control input-lg item_select", style: "width: 100%;", required: true, "data-ticket-id" => @ticket['Id'], "data-item-id" => new_item_id, "data-session-id" => @ticket_session_id
                  %br
                  #quantity_form_field{style: 'display:none'}
                    %div.input-group.quantity_input_group
                      %span.input-group-addon
                        %i.fa.fa-hashtag{style: "font-size:0.7em;"}
                      = phone_field_tag "ticket[line_items][][quantity]", 1, :placeholder => "Quantity", class: "form-control input-lg amount-calculation-field"
                      %span.input-group-addon
                        %a{href: '#', id: 'quantity_picture_button', class: 'quantity_picture_button', 'data-event-code' => "Quantity"}
                          %i.fa.fa-upload.fa-2x
                    %br
                  #gross_and_tare_form_field{style: 'display:block'}
                    %div.input-group.gross_input_group
                      - current_user.scale_devices.each do |scale_device|
                        %span.input-group-addon
                          - if scale_device.scale_camera_only?
                            %a{href: '#', style: "color: hotpink;", class: "scale_camera_trigger", id: 'gross_scale_button', 'data-event-code' => "Gross", 'data-ticket-number' => @ticket_number, 'data-item-name' => '', 'data-yard-id' => current_yard_id, 'data-device-id' => scale_device.id, title: scale_device.DeviceName, 'data-customer-id' => @ticket['CustomerId'] }
                              %i.fa.fa-camera.fa-lg
                              %i.fa.fa-spinner.fa-lg.fa-spin{style: 'display:none;'}
                          - else
                            %a{href: '#', class: "scale_read_and_camera_trigger", id: 'gross_scale_button', 'data-event-code' => "Gross", 'data-ticket-number' => @ticket_number, 'data-item-name' => '', 'data-yard-id' => current_yard_id, 'data-device-id' => scale_device.id, title: scale_device.DeviceName, 'data-customer-id' => @ticket['CustomerId'] }
                              %i.fa.fa-dashboard.fa-lg
                              %i.fa.fa-spinner.fa-lg.fa-spin{style: 'display:none;'}
                      %span.input-group-addon
                        %i.fa.fa-plus{style: "font-size:0.7em;"}
                      = phone_field_tag "ticket[line_items][][gross]", 0, :placeholder => "Gross", class: "form-control input-lg amount-calculation-field", required: true
                      %span.input-group-addon
                        %a{href: '#', id: 'gross_picture_button', class: 'gross_or_tare_picture_button', 'data-event-code' => "Gross", 'data-event-code-id' => current_user.company.gross_event_code_id, 'data-weight' => 0}
                          %i.fa.fa-upload.fa-2x
                    %br
                    %div.input-group.tare_input_group
                      - current_user.scale_devices.each do |scale_device|
                        %span.input-group-addon
                          - if scale_device.scale_camera_only?
                            %a{href: '#', style: "color: hotpink;", class: "scale_camera_trigger", id: 'tare_scale_button', 'data-event-code' => "Tare", 'data-ticket-number' => @ticket_number, 'data-item-name' => '', 'data-yard-id' => current_yard_id, 'data-device-id' => scale_device.id, title: scale_device.DeviceName, 'data-customer-id' => @ticket['CustomerId'] }
                              %i.fa.fa-camera.fa-lg
                              %i.fa.fa-spinner.fa-lg.fa-spin{style: 'display:none;'}
                          - else
                            %a{href: '#', class: "scale_read_and_camera_trigger", id: 'tare_scale_button', 'data-event-code' => "Tare", 'data-ticket-number' => @ticket_number, 'data-item-name' => '', 'data-yard-id' => current_yard_id, 'data-device-id' => scale_device.id, title: scale_device.DeviceName, 'data-customer-id' => @ticket['CustomerId'] }
                              %i.fa.fa-dashboard.fa-lg
                              %i.fa.fa-spinner.fa-lg.fa-spin{style: 'display:none;'}
                      %span.input-group-addon
                        %i.fa.fa-minus{style: "font-size:0.7em;"}
                      = phone_field_tag "ticket[line_items][][tare]", 0, :placeholder => "Subtract", class: "form-control input-lg amount-calculation-field tare", required: true
                      %span.input-group-addon
                        %a{href: '#', id: 'tare_picture_button', class: 'gross_or_tare_picture_button', 'data-event-code' => "Tare", 'data-event-code-id' => current_user.company.tare_event_code_id, 'data-weight' => 0}
                          %i.fa.fa-upload.fa-2x
                    %br
                    = hidden_field_tag "ticket[line_items][][net]", 0, :placeholder => "Net", class: "form-control input-lg amount-calculation-field", required: true, readonly: true
                  .input-group
                    %span.input-group-addon
                      %i.fa.fa-dollar.fa-lg
                    = text_field_tag "ticket[line_items][][price]", 0, :placeholder => "Price", class: "form-control input-lg amount-calculation-field", required: true
                    =# hidden_field_tag "ticket[line_items][][unit_of_measure]", 'LB', :placeholder => "Unit of Measure", class: "form-control input-lg", required: true
                    %span.input-group-addon
                      %i.fa.fa-balance-scale.fa-lg
                    = select_tag "ticket[line_items][][unit_of_measure]", options_for_select(units_of_measure_abbreviations), class: "form-control input-lg amount-calculation-field", required: true
                  = hidden_field_tag "ticket[line_items][][amount]", 0, :placeholder => "Amount", class: "form-control input-lg amount", required: true, readonly: true
                  = hidden_field_tag "ticket[line_items][][tax_amount_1]", '0.00', :placeholder => "Tax Amount 1", class: "form-control input-lg amount-calculation-field tax", readonly: true
                  = hidden_field_tag "ticket[line_items][][tax_amount_2]", '0.00', :placeholder => "Tax Amount 2", class: "form-control input-lg amount-calculation-field tax", readonly: true
                  = hidden_field_tag "ticket[line_items][][tax_amount_3]", '0.00', :placeholder => "Tax Amount 3", class: "form-control input-lg amount-calculation-field tax", readonly: true
                  = hidden_field_tag "ticket[line_items][][tax_percent_1]", '0.00', :placeholder => "Tax Percent 1", class: "form-control input-lg", readonly: true
                  = hidden_field_tag "ticket[line_items][][tax_percent_2]", '0.00', :placeholder => "Tax Percent 2", class: "form-control input-lg", readonly: true
                  = hidden_field_tag "ticket[line_items][][tax_percent_3]", '0.00', :placeholder => "Tax Percent 3", class: "form-control input-lg", readonly: true
                  %br
                  %p
                    %small
                      %a{id: "more_#{new_item_id}_link", "aria-controls" => "more_#{new_item_id}", "aria-expanded" => "false", "data-target" => "#more_#{new_item_id}", "data-toggle" => "collapse", style: 'display: none;'}
                        More
                    %div.collapse{id: "more_#{new_item_id}"}
                      %p
                        = text_field_tag "ticket[line_items][][serial_number]", "", :placeholder => "Serial Number", class: "form-control input-lg serial_number_field"
                        %br
                        = text_area_tag "ticket[line_items][][notes]", "", :placeholder => "Notes", class: "form-control input-lg"
                      %ul{class: 'list-inline'}
                        %li
                          %a.btn.btn-default{href: "#item_#{new_item_id}_deductions_modal", id: "#item_#{new_item_id}_deductions_modal_link", "data-toggle" => "modal", title: "Deductions"}
                            %i.fa.fa-minus-square-o.fa-lg
                            Deductions
                          = render partial: 'deductions_modal', locals: {line_item: nil, id: "#{new_item_id}"}
                        - unless @combolists.blank? # Car vehicle information lists
                          %li
                            %a.btn.btn-default{href: "#item_#{new_item_id}_vin_search_modal", id: 'item_#{new_item_id}_vin_search_modal_link', "data-toggle" => "modal", title: "VIN Search"}
                              %i.fa.fa-car.fa-lg
                              Car
                            = render partial: 'car_details_modal', locals: {id: new_item_id, perform_initial_vin_search: false}
              %div.panel-footer{style: 'padding-top: 0px; font-size: 16px;'}
                .calculation_details
                .deduction_details
                -# %ul{class: 'list-inline'}
                / Deduction weights
                .weight_deduction_details
                / Deduction dollar amounts
                .dollar_amount_deduction_details
                / Taxes
                .tax_details
                -#
                  - unless mobile_device?
                    .pull-right
                      %a.text-muted{"aria-controls" => "collapse#{new_item_id}", "data-toggle" => "collapse", :href => "#collapse_#{new_item_id}", class: 'pull-right ticket_collapse_link' }
                        %i.fa.fa-check-square.fa-2x.collapse_icon
      .row.form-group{id: 'calculating', style: 'display:none;'}
        %div.col-xs-12
          %h5.text-center
            %i.fa.fa-spinner.fa-spin.fa-2x
            Calculating...
      .row.form-group{id: 'hold_close_pay_buttons'}
        - unless @ticket['Status'] == '3'
          %div.col-xs-3.col-sm-3
            = image_tag("ajax-loader.gif", :id => "spinner", :alt => "Loading ...", style: "display:none;")
            - unless mobile_device?
              %a{ href: line_item_fields_tickets_path(ticket_number: @ticket_number, ticket_id: @ticket['Id'], session_id: @ticket_session_id), 'data-remote' => true, id: "add_item_button", class: "btn btn-warning btn-lg btn-block", onclick: "$(this).hide(); $('#spinner').show();" }
                %i.fa.fa-plus
                Item
            - else
              %a{ href: line_item_fields_tickets_path(ticket_number: @ticket_number, ticket_id: @ticket['Id'], session_id: @ticket_session_id), 'data-remote' => true, id: "add_item_button", class: "btn btn-warning btn-block", onclick: "$(this).hide(); $('#spinner').show();" }
                %i.fa.fa-plus
                Item
        %div.col-xs-3.col-sm-3
          - unless mobile_device?
            = button_tag(:type => 'submit', :class => 'btn btn-primary btn-lg btn-block', id: 'save_button', name: 'save', data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Hold"}, onclick: "$(this).closest('.form-group').find('#close_and_pay_button').removeAttr('data-disable-with'); $(this).closest('.form-group').find('#close_button').removeAttr('data-disable-with'); $(this).closest('.form-group').find('#pay_button').removeAttr('data-disable-with');") do
              %i.fa.fa-check.fa-lg
              - if @ticket['Status'] == '2'
                = 'Hold'
              - else
                = 'Save'
          - else
            = button_tag(:type => 'submit', :class => 'btn btn-primary btn-block', id: 'save_button', name: 'save', data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Hold"}, onclick: "$(this).closest('.form-group').find('#close_and_pay_button').removeAttr('data-disable-with'); $(this).closest('.form-group').find('#close_button').removeAttr('data-disable-with'); $(this).closest('.form-group').find('#pay_button').removeAttr('data-disable-with');") do
              - unless mobile_device?
                %i.fa.fa-check.fa-lg
              - if @ticket['Status'] == '2'
                Hold
              - else
                Save
        %div.col-xs-3.col-sm-3
          - unless mobile_device?
            - if @ticket['Status'] == '2'
              = button_tag(close_ticket: true, :type => 'submit', :class => 'btn btn-info btn-lg btn-block', id: 'close_button', name: 'close_ticket', data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Close"}, autocomplete: "off", onclick: "$(this).closest('.form-group').find('#close_and_pay_button').removeAttr('data-disable-with'); $(this).closest('.form-group').find('#save_button').removeAttr('data-disable-with');") do
                %i.fa.fa-folder.fa-lg
                = 'Close'
            - if @ticket['Status'] == '1'
              %a.btn.btn-success.btn-lg.btn-block{href: "#payment_form", id: 'payment_modal_link', "data-toggle" => "modal", title: "Pay"}
                %i.fa.fa-dollar.fa-lg
                = 'Pay'
          - else
            - if @ticket['Status'] == '2'
              = button_tag(close_ticket: true, :type => 'submit', :class => 'btn btn-info btn-block', id: 'close_button', name: 'close_ticket', data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Close"}, autocomplete: "off", onclick: "$(this).closest('.form-group').find('#close_and_pay_button').removeAttr('data-disable-with'); $(this).closest('.form-group').find('#save_button').removeAttr('data-disable-with');") do
                - unless mobile_device?
                  %i.fa.fa-folder.fa-lg
                Close
            - if @ticket['Status'] == '1'
              %a.btn.btn-success.btn-block{href: "#payment_form", id: 'payment_modal_link', "data-toggle" => "modal", title: "Pay"}
                - unless mobile_device?
                  %i.fa.fa-dollar.fa-lg
                Pay
        - unless mobile_device? 
          - if @ticket['Status'] == '2'
            %div.col-xs-3.col-sm-3
              %a.btn.btn-success.btn-lg.btn-block{href: "#payment_form", id: 'payment_modal_link', "data-toggle" => "modal", title: "Pay"}
                %i.fa.fa-dollar.fa-lg
                = 'Pay'
        - else
          - if @ticket['Status'] == '2'
            %div.col-xs-3.col-sm-3
              %a.btn.btn-success.btn-block{href: "#payment_form", id: 'payment_modal_link', "data-toggle" => "modal", title: "Pay"}
                - unless mobile_device?
                  %i.fa.fa-dollar.fa-lg
                Pay
        = render partial: "payment_modal"
            
    %hr
    - unless @ticket['Status'] == '3'
      .row
        .pull-right
          .col-xs-12.col-sm-2.col-md-2
            -# %p= link_to '<i class="fa fa-warning"></i> Void'.html_safe, ticket_path(@ticket['Id'], ticket: @ticket, status: @ticket['Status']), :method => :delete, :data => { :confirm => 'Are you sure you want to void this ticket?', disable_with: "<i class='fa fa-spinner fa-spin'></i> Void" }, class: 'btn btn-sm btn-danger'
            %p= link_to '<i class="fa fa-warning"></i> Void'.html_safe, ticket_path(@ticket['Id'], status: @ticket['Status'], session_id: @ticket_session_id), :method => :delete, :data => { :confirm => 'Are you sure you want to void this ticket?', disable_with: "<i class='fa fa-spinner fa-spin'></i> Void" }, class: 'btn btn-sm btn-danger'
      
    %div#images

    - @images_array.each_slice(6) do |images|
      .row
        - images.each do |image|
          -# if current_user.view_images?
          - unless image['HIDDEN'] == '1' or not current_user.view_images?
            .col-xs-12.col-sm-2.col-md-2
              .thumbnail
                %a{href: image_path(image['CAPTURE_SEQ_NBR']), class: 'thumbnail'}
                  = image_tag(show_preview_image_image_path(image['CAPTURE_SEQ_NBR']), alt: image['CAPTURE_SEQ_NBR'], class: 'img-responsive')
                -#
                  .text-center= image.event_code
                .text-center
                  %small.text-muted= image['EVENT_CODE']
    
= render partial: "shared/ticket_footer_navbar", locals: {title: "Ticket"}

:javascript
  var open_new_customer_modal;
  open_new_customer_modal = function() {
    $('#new_customer_modal').modal('show');
    $('#ticket_customer_id').select2("close");
  };