%div{:id => "payment_form", :class => "modal fade", :tabindex => "-1", :style => "display:none;"}
  .modal-dialog.modal-sm
    .modal-content
      .modal-header
        Pay Ticket
        = link_to "×", '#', :class => "close", "data-dismiss" => "modal"
      .modal-body
        .input-group
          .input-group-addon
            %i.fa.fa-dollar
          = text_field_tag :payment_amount, nil, :placeholder => "Amount", class: "form-control input-lg", readonly: true
        %br
        .btn-group-vertical.btn-block{"data-toggle" => "buttons"}
          %label.btn.btn-lg.btn-default{class: 'active cash_account'}
            = radio_button_tag :cash_payment, true, checked: true
            %i.fa.fa-dollar
            Cash
          - unless @checking_accounts.blank?
            - @checking_accounts.each do |checking_account|
              %label.btn.btn-lg.btn-default{class: "checking_account", "data-checking-account-id" => checking_account["Id"]}
                = radio_button_tag "checking_account_payment[id]", checking_account["Id"]
                = hidden_field_tag "checking_account_payment[name]", checking_account["Name"]
                %i.fa.fa-pencil
                = checking_account["Name"]
        %br
        - unless @checking_accounts.blank?
          #check_number_field{style: 'display:none;'}
            %br
            .input-group.col-xs-12.col-sm-12.col-md-12
              .input-group-addon
                %i.fa.fa-spinner.fa-lg.fa-spin{id: 'finding_check_number_spinner', style: 'display:none;'}
                %i.fa.fa-hashtag
              = text_field_tag "checking_account_payment[check_number]", nil, :placeholder => "Check", class: "form-control input-lg"
              
        
      .modal-footer
        - if params[:status] == 'held'
          = button_tag(name: 'close_and_pay_ticket', :type => 'submit', :class => 'btn btn-primary btn-lg', data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Pay"}, autocomplete: "off", onclick: "$(this).closest('.form-group').find('#save_button').removeAttr('data-disable-with'); ") do
            Pay
        - elsif params[:status] == 'closed'
          = button_tag(name: 'pay_ticket', :type => 'submit', :class => 'btn btn-primary btn-lg', data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Pay"}, autocomplete: "off", onclick: "$(this).closest('.form-group').find('#save_button').removeAttr('data-disable-with'); ") do
            Pay