- @tickets.each do |ticket|
  %div.row
    .col-xs-12.col-sm-12.col-md-12
      %div.panel.panel-primary
        %div.list_group
          %a{href: edit_ticket_path(ticket['Id'], status: ticket["Status"]), class: "list-group-item ticket_button", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> #{ticket['TicketNumber']}"}}
            = ticket["TicketNumber"]
            - unless ticket["FirstName"].blank? and ticket["LastName"].blank?
              = "#{ticket['FirstName']} #{ticket['LastName']}"
            - else
              = ticket["Company"]
            .pull-right
              =# number_to_currency(ticket["BalanceDue"]) if params[:status] == 'closed'
              = number_to_currency(Ticket.line_items_total(ticket['TicketItemCollection']['ApiTicketItem'])) unless ticket['TicketItemCollection'].blank?
              %i.fa.fa-chevron-right.fa-lg
          - if @status == '1' or @status == '3'
            %div.list-group-item
              = ticket["DateCreated"].to_date.strftime("%m/%d/%y")
              .pull-right
                %a.btn.btn-primary{"data-content" => "#{render partial: 'more_ticket_options', locals: {ticket: ticket}}", "data-placement" => 'left', "data-html" => "true", "data-toggle" => "popover", :role => "button", :tabindex => "0", title: "More Options"}
                  More
              %br
              %br
          - else
            %a{href: ticket_path(ticket['Id'], status: ticket['Status'], now: DateTime.now, format: 'pdf'), class: "list-group-item", target: '_blank'}
              = ticket["DateCreated"].to_date.strftime("%m/%d/%y")
              .pull-right
                %i.fa.fa-file-pdf-o.fa-lg
                Print

:javascript
  $('[data-toggle="popover"]').popover();