- @tickets.each do |ticket|
  %div.row
    .col-xs-12.col-sm-12.col-md-12
      %div.panel.panel-primary
        %div.list_group
          %a{href: edit_ticket_path(ticket['Id'], yard_id: current_yard_id, status: ticket["Status"]), class: "list-group-item ticket_button", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> #{ticket['TicketNumber']} #{ticket['Company']}"}}
            = ticket["TicketNumber"]
            = ticket["Company"]
            .pull-right
              %i.fa.fa-chevron-right.fa-lg
          %a{href: '#', class: "list-group-item"}
            = ticket["DateCreated"].to_date.strftime("%m/%d/%y")
            .pull-right
              %i.fa.fa-file-pdf-o.fa-lg
              Print