= render partial: "shared/navbars/tickets_navbar", locals: {title: ticket_status_string(@status)}

.jumbotron{style: 'background-color: #FFFFFF;'}
  .container
    - unless current_user.customer?
      %p
        .btn-group
          = link_to "<i class='fa fa-users fa-lg'></i> Customers".html_safe, customers_path, :class => "btn btn-default btn-lg ticket_button", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Customers"}
          - if @status == '2'
            %button{class: 'btn btn-default btn-lg active'}
              %i.fa.fa-folder-open-o.fa-lg
              Held
            = link_to "<i class='fa fa-folder fa-lg'></i> Closed".html_safe, tickets_path(status: 1), :class => "btn btn-default btn-lg ticket_button", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Closed"}
          - elsif @status == '1'
            = link_to "<i class='fa fa-folder fa-lg'></i> Held".html_safe, tickets_path(status: 2), :class => "btn btn-default btn-lg ticket_button", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Held"}
            %button{class: 'btn btn-default btn-lg active'}
              %i.fa.fa-folder.fa-lg
              Closed
          - elsif @status == '3'
            = link_to "<i class='fa fa-folder fa-lg'></i> Held".html_safe, tickets_path(status: 2), :class => "btn btn-default btn-lg ticket_button", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Held"}
            = link_to "<i class='fa fa-folder fa-lg'></i> Closed".html_safe, tickets_path(status: 1), :class => "btn btn-default btn-lg ticket_button", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Closed"}
            %button{class: 'btn btn-default btn-lg active'}
              %i.fa.fa-dollar
              Paid
      %p
        = form_tag tickets_path, id: 'ticket_search_form', method: 'get', :class => "form-inline", role: 'search' do |f|
          .input-group
            = search_field_tag :q, params[:q], :placeholder => "Search tickets", class: "form-control input-lg"
            = hidden_field_tag :status, @status
            %span.input-group-btn
              %button.btn.btn-default.btn-lg{:type => "submit", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i>"}} 
                %i.fa.fa-search
    - unless @tickets.blank?
      %div{id: "tickets"}
        - @tickets.each do |ticket|
          %div.row
            .col-xs-12.col-sm-12.col-md-12
              %div.panel.panel-primary
                %div.list_group
                  - unless current_user.customer?
                    %a{href: edit_ticket_path(ticket['Id'], status: ticket['Status']), class: "list-group-item ticket_button", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> #{ticket['TicketNumber']} #{ticket['Company']}"}}
                      .pull-right
                        =# number_to_currency(ticket["BalanceDue"]) if params[:status] == 'closed'
                        = number_to_currency(Ticket.line_items_total(ticket['TicketItemCollection']['ApiTicketItem'])) unless ticket['TicketItemCollection'].blank?
                        %i.fa.fa-chevron-right.fa-lg
                      - if current_user.user_setting.show_ticket_thumbnails? and Image.where(ticket_nbr: ticket["TicketNumber"], yardid: current_yard_id, event_code: "Gross").count > 0
                        = image_tag(Image.where(ticket_nbr: ticket["TicketNumber"], yardid: current_yard_id, event_code: "Gross").last.preview_data_uri, class: 'thumbnail img-responsive')
                      = ticket["TicketNumber"]
                      - unless ticket["Company"].blank?
                        = ticket["Company"] 
                      - else
                        = "#{ticket['FirstName']} #{ticket['LastName']}"
                  - else
                    %a{href: ticket_path(ticket['Id'], status: ticket['Status']), class: "list-group-item ticket_button", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> #{ticket['TicketNumber']}"}}
                      .pull-right
                        %i.fa.fa-chevron-right.fa-lg
                      - if current_user.user_setting.show_ticket_thumbnails? and Image.where(ticket_nbr: ticket["TicketNumber"], yardid: current_yard_id, event_code: "Gross").count > 0
                        = image_tag(Image.where(ticket_nbr: ticket["TicketNumber"], yardid: current_yard_id, event_code: "Gross").last.preview_data_uri, class: 'thumbnail img-responsive')
                      = ticket["TicketNumber"]
                  %a{href: ticket_path(ticket['Id'], status: ticket['Status'], now: DateTime.now, format: 'pdf'), class: "list-group-item", target: '_blank'}
                    = ticket["DateCreated"].to_date.strftime("%m/%d/%y")
                    .pull-right
                      %i.fa.fa-file-pdf-o.fa-lg
                      Print
      .row
        .text-center
          %div{id: 'endless_page'}
            %p= image_tag("ajax-loader.gif", :id => "more_tickets_spinner", :alt => "Loading ...", style: "display:none;")
            %p= link_to 'Load more ...', tickets_path(:page => @tickets.next_page, :q => params[:q], :status => params[:status]), :class => 'load-more-tickets btn btn-default', :remote => true, :onclick => "$(this).hide(); $('#more_tickets_spinner').show();" if @tickets.next_page
    - else
      %p No tickets found            
    
= render partial: "shared/tickets_footer_navbar", locals: {title: "Tickets"}