- if current_user.mobile_admin?
  = render partial: "mobile_admin_index"
- elsif current_user.mobile_inspector?
  = render partial: "mobile_inspector_index"
- else
  = render partial: "mobile_admin_index"

-#
  =# render partial: "shared/navbars/tickets_navbar", locals: {title: ticket_status_string(@status)}

  .jumbotron{style: 'background-color: #FFFFFF;'}
    .container
      - unless current_user.customer?
        .btn-group
          - if @status == '2'
            %button{class: 'btn btn-default btn-lg active'}
              %i.fa.fa-folder-open-o.fa-lg
              = "Held" unless mobile_device?
            %a{href: tickets_path(status: 1), :class => "btn btn-default btn-lg ticket_button", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i>#{mobile_device? ? '' : ' Closed'}"}}
              %i.fa.fa-folder.fa-lg
              = "Closed" unless mobile_device?
            %a{href: tickets_path(status: 3), :class => "btn btn-default btn-lg ticket_button", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i>#{mobile_device? ? '' : ' Paid'}"}}
              %i.fa.fa-dollar
              = "Paid" unless mobile_device?
          - elsif @status == '1'
            %a{href: tickets_path(status: 2), :class => "btn btn-default btn-lg ticket_button", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i>#{mobile_device? ? '' : ' Held'}"}}
              %i.fa.fa-folder-open-o.fa-lg
              = "Held" unless mobile_device?
            %button{class: 'btn btn-default btn-lg active'}
              %i.fa.fa-folder.fa-lg
              = "Closed" unless mobile_device?
            %a{href: tickets_path(status: 3), :class => "btn btn-default btn-lg ticket_button", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i>#{mobile_device? ? '' : ' Paid'}"}}
              %i.fa.fa-dollar
              = "Paid" unless mobile_device?
          - elsif @status == '3'
            %a{href: tickets_path(status: 2), :class => "btn btn-default btn-lg ticket_button", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i>#{mobile_device? ? '' : ' Held'}"}}
              %i.fa.fa-folder-open-o.fa-lg
              = "Held" unless mobile_device?
            %a{href: tickets_path(status: 1), :class => "btn btn-default btn-lg ticket_button", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i>#{mobile_device? ? '' : ' Closed'}"}}
              %i.fa.fa-folder.fa-lg
              = "Closed" unless mobile_device?
            %button{class: 'btn btn-default btn-lg active'}
              %i.fa.fa-dollar.fa-lg
              = "Paid" unless mobile_device?
        %span.pull-right
          %a.btn.btn-sm.btn-primary{:href => create_ticket_customer_path(empty_guid),  class: 'ticket_button', data: {disable_with: "<i class='fa fa-spinner fa-spin fa-lg'></i> New Ticket"}} 
            %i.fa.fa-ticket.fa-lg
            New Ticket
          -#
            = form_tag user_setting_path(current_user.user_setting), method: 'put', :class => "form-horizontal" do
              = hidden_field_tag :status, @status
              = select_tag "user_setting[currency_id]", options_for_select(@currencies.map{ |currency| ["#{mobile_device? ? currency['Code'] : currency['Description']}", currency['Id']]}, current_user.currency_id ), :class => "form-control input-lg", onchange: "this.form.submit();"

        - unless mobile_device?
          = form_tag tickets_path, id: 'ticket_search_form', method: 'get', :class => "form-inline", role: 'search' do |f|
            = hidden_field_tag :status, @status
            %p
              .form-group
                = text_field_tag :start_date, nil, :placeholder => "Start Date", value: "#{(@start_date.blank? or params[:q].present?) ? nil : @start_date}", class: "form-control input-lg", 'data-provide' => 'datepicker', 'data-date-format' => "yyyy-mm-dd", 'data-date-autoclose' => true, readonly: true
              To
              .form-group
                = text_field_tag :end_date, nil, :placeholder => "End Date", value: "#{(@end_date.blank? or params[:q].present?) ? nil : @end_date}", class: "form-control input-lg", 'data-provide' => 'datepicker', 'data-date-format' => "yyyy-mm-dd", 'data-date-autoclose' => true, readonly: true
            %p
              = search_field_tag :q, params[:q], :placeholder => "Search tickets", class: "form-control input-lg"
              %button.btn.btn-default.btn-lg{:type => "submit", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Search"}} 
                %i.fa.fa-search
                Search
        - else
          %p
            = form_tag tickets_path, id: 'ticket_search_form', method: 'get', :class => "form-inline", role: 'search' do |f|
              = hidden_field_tag :status, @status
              .row
                %p
                  .col-xs-6
                    = label_tag "Start", nil, :class => 'control-label'
                    = text_field_tag :start_date, nil, :placeholder => "Start Date", value: "#{(@start_date.blank? or params[:q].present?) ? nil : @start_date}", class: "form-control input-lg", 'data-provide' => 'datepicker', 'data-date-format' => "yyyy-mm-dd", 'data-date-autoclose' => true, readonly: true
                  .col-xs-6
                    = label_tag "End", nil, :class => 'control-label'
                    = text_field_tag :end_date, nil, :placeholder => "End Date", value: "#{(@end_date.blank? or params[:q].present?) ? nil : @end_date}", class: "form-control input-lg", 'data-provide' => 'datepicker', 'data-date-format' => "yyyy-mm-dd", 'data-date-autoclose' => true, readonly: true
              .row
                %p
                  - unless @status == 'shipments'
                    .col-xs-6
                      = search_field_tag :q, params[:q], :placeholder => "Search tickets", class: "form-control input-lg"
                  .col-xs-6
                    = button_tag(:type => 'submit', :class => 'btn btn-default btn-lg', data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Search"}) do
                      %i.fa.fa-search
                      Search
      - unless @tickets.blank?
        %div{id: "tickets"}
          - @tickets.each do |ticket|
            = render partial: "image_files/upload_modal", locals: {ticket: ticket}
            %div.row
              .col-xs-12.col-sm-12.col-md-12
                %h4.text-muted
                  %div.panel.panel-primary
                    %div.list_group
                      =# ticket['TicketItemCollection']
                      - unless current_user.customer? or ticket['Status'] == '3'
                        %a{href: edit_ticket_path(ticket['Id'], status: ticket['Status']), class: "list-group-item ticket_button", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> #{ticket['TicketNumber']}"}}
                          .pull-right
                            = number_to_currency(Ticket.line_items_total(ticket['TicketItemCollection']['ApiTicketItem'])) unless ticket['TicketItemCollection'].blank?
                            %i.fa.fa-chevron-right.fa-lg
                          %strong= ticket["TicketNumber"]
                          - unless ticket["FirstName"].blank? and ticket["LastName"].blank?
                            = "#{ticket['FirstName']} #{ticket['LastName']}"
                            %br
                          = ticket["Company"]
                      - else
                        %a{href: ticket_path(ticket['Id'], status: ticket['Status']), class: "list-group-item ticket_button", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> #{ticket['TicketNumber']}"}}
                          .pull-right
                            = number_to_currency(Ticket.line_items_total(ticket['TicketItemCollection']['ApiTicketItem'])) unless ticket['TicketItemCollection'].blank?
                            %i.fa.fa-chevron-right.fa-lg
                          %strong= ticket["TicketNumber"]
                          - unless ticket["FirstName"].blank? and ticket["LastName"].blank?
                            = "#{ticket['FirstName']} #{ticket['LastName']}"
                            %br
                          = ticket["Company"]
                      -#
                        %div.list-group-item
                          = ticket["DateCreated"].to_date.strftime("%m/%d/%y")
                          .pull-right
                            %a.btn.btn-primary{"data-content" => "#{render partial: 'more_ticket_options', locals: {ticket: ticket}}", "data-placement" => 'left', "data-html" => "true", "data-toggle" => "popover", :role => "button", :tabindex => "0", title: "More Options"}
                              More
                          %br
                          %br
                      -#
                      %div.list-group-item
                        - if @status == '1' or @status == '3'
                          = ticket["DateCreated"].to_date.strftime("%m/%d/%y")
                          .pull-right
                            %a.btn.btn-default{"data-content" => "#{render partial: 'more_ticket_options', locals: {ticket: ticket}}", "data-placement" => 'left', "data-html" => "true", "data-toggle" => "popover", :role => "button", :tabindex => "0", title: "More Options"}
                              More
                              %b.caret
                          %br
                        - else
                          = ticket["DateCreated"].to_date.strftime("%m/%d/%y")
                          .pull-right
                            %a.btn.btn-primary{href: "#ticket_#{ticket['Id']}_upload_form", id: "ticket_#{ticket['Id']}_picture_upload_modal_link", "data-toggle" => "modal", :alt => "new_image_file_form"}
                              %i.fa.fa-camera
                              = "Picture" unless mobile_device?
                            %a.btn.btn-default{href: "#ticket_#{ticket['Id']}_email_modal", id: "ticket_#{ticket['Id']}_email_modal_link", "data-toggle" => "modal", :alt => "ticket_email_modal"}
                              %i.fa.fa-envelope
                              = "Email" unless mobile_device?
                            = render partial: "send_email_modal", locals: {ticket: ticket}
                            %a.btn.btn-default{href: ticket_path(ticket['Id'], status: ticket['Status'], now: DateTime.now, format: 'pdf'), target: '_blank'}
                              %i.fa.fa-file-pdf-o
                              = "PDF" unless mobile_device?
                          %br
                        -#
                          %a{href: ticket_path(ticket['Id'], status: ticket['Status'], now: DateTime.now, format: 'pdf'), class: "list-group-item", target: '_blank'}
                            = ticket["DateCreated"].to_date.strftime("%m/%d/%y")
                            .pull-right
                              %i.fa.fa-file-pdf-o.fa-lg
                              Print
                        - unless ticket['Description'].blank?
                          %small= ticket['Description']
                        - else
                          %br
        .row
          .text-center
            %div{id: 'endless_page'}
              -# %p= image_tag("ajax-loader.gif", :id => "more_tickets_spinner", :alt => "Loading ...", style: "display:none;")
              %i.fa.fa-spinner.fa-spin.fa-3x{:id => "more_tickets_spinner", style: "display:none;"}
              %p= link_to 'Load more ...', tickets_path(page: @tickets.next_page, q: params[:q], status: @status, start_date: @start_date, end_date: @end_date, sort_column: @sort_column, sort_direction: @sort_direction), :class => 'load-more-tickets btn btn-default', :remote => true, :onclick => "$(this).hide(); $('#more_tickets_spinner').show();" if @tickets.next_page
      - else
        %p.text-center No tickets found            

  = render partial: "shared/tickets_footer_navbar", locals: {title: "Tickets"}