= render partial: "shared/navbars/show_ticket_navbar", locals: {title: @ticket['TicketNumber'], total: nil, paid_amount: nil}

.jumbotron{style: 'background-color: #FFFFFF;'}
  .container
    .panel.panel-default
      %div.panel-heading{:role => "tab", id: "vendor_heading"}
        %h4.panel-title
          %div.text-success= "#{@ticket['Company'].blank? ? 'No company name' : @ticket['Company']}"
    - if @ticket["TicketItemCollection"].blank?
      .panel.panel-default.line-item
        %div.panel-heading
          %h4.panel-title No ticket items
    - else
      -# unless @ticket["TicketItemCollection"]["ApiTicketItem"].is_a? Hash
      - unless false
        #items_accordion.panel-group{"aria-multiselectable" => "true", :role => "tablist"}
          -# @ticket["TicketItemCollection"]["ApiTicketItem"].each do |line_item|
          - @line_items.each do |line_item|
            .panel.panel-default.line-item
              %div.panel-heading{:role => "tab", id: "heading#{line_item['Id']}"}
                %h4.panel-title
                  .line_item_name
                    %div.text-success= line_item["PrintDescription"]
              .panel-footer
                = "(#{line_item['GrossWeight']} - #{line_item['TareWeight']}) = #{line_item['Quantity']}#{line_item['UnitOfMeasure']}"
                x
                = "$#{number_with_precision(line_item['Price'], :precision => 3)}"
                = "= $#{line_item['ExtendedAmount']}"
                =# line_item 
      - else
        #items_accordion.panel-group{"aria-multiselectable" => "true", :role => "tablist"}
          .panel.panel-default.line-item
            %div.panel-heading{:role => "tab", id: "heading#{@ticket["TicketItemCollection"]["ApiTicketItem"]['Id']}"}
              %h4.panel-title
                .line_item_name
                  %div.text-success= @ticket["TicketItemCollection"]["ApiTicketItem"]["PrintDescription"]
            .panel-footer
              = "(#{@ticket["TicketItemCollection"]["ApiTicketItem"]['GrossWeight']} - #{@ticket["TicketItemCollection"]["ApiTicketItem"]['TareWeight']}) = #{@ticket["TicketItemCollection"]["ApiTicketItem"]['Quantity']}#{@ticket["TicketItemCollection"]["ApiTicketItem"]['UnitOfMeasure']}"
              x
              = "$#{number_with_precision(@ticket["TicketItemCollection"]["ApiTicketItem"]['Price'], :precision => 3)}"
              = "= $#{@ticket["TicketItemCollection"]["ApiTicketItem"]['ExtendedAmount']}"
              =# line_item 
    - unless @ticket['Status'] == '3'
      .well
        .row.form-group
          %div{:class => "col-sm-12 col-md-12"}
            %p
              = "Balance Due:"
              = "#{number_to_currency(@ticket['BalanceDue'])}"
    %a{href: ticket_path(@ticket['Id'], yard_id: @ticket['YardId'], status: @ticket['Status'], now: DateTime.now, format: 'pdf'), class: "btn btn-default btn-lg", target: '_blank'}
      %i.fa.fa-file-pdf-o.fa-lg
      Print
    %hr
    - @images_array.each_slice(6) do |images|
      .row
        - images.each do |image|
          - unless image['HIDDEN'] == '1' or not current_user.view_images?
            .col-xs-12.col-sm-2.col-md-2
              .thumbnail
                %a{href: image_path(image['CAPTURE_SEQ_NBR'], yard_id: @ticket['YardId']), class: 'thumbnail'}
                  = image_tag(show_preview_image_image_path(image['CAPTURE_SEQ_NBR'], yard_id: @ticket['YardId']), alt: image['CAPTURE_SEQ_NBR'], class: 'img-responsive')
                .text-center
                  %small.text-muted= image['EVENT_CODE']
    
= render partial: "shared/show_ticket_footer_navbar", locals: {title: "Ticket"}