%p.text-center
  = @ticket_number
  %br
  = DateTime.now.strftime("%a, %d %b %Y %I:%M%p")
- unless @current_user.company.logo.url.blank?
  %p= image_tag ["http://", request.host_with_port, @current_user.company.logo.url].join(), size: '50x50'
- else
  %p= wicked_pdf_image_tag 'Irving_logo.png', size: '50x50'
=# wicked_pdf_image_tag 'Irving_logo.png', size: '50x50'
%strong= current_user.company.name
- unless current_user.company.full_address.blank?
  %br
  = current_user.company.full_address.html_safe
- unless current_user.company.phone.blank?
  %br
  = current_user.company.phone
%br
- unless @current_user.company.custom_field_1.blank? and @current_user.company.custom_field_1_value.blank?
  %strong= "#{@current_user.company.custom_field_1}: "
  = @current_user.company.custom_field_1_value
  %br
- unless @current_user.company.custom_field_2.blank? and @current_user.company.custom_field_2_value.blank?
  %strong= "#{@current_user.company.custom_field_2}: "
  = @current_user.company.custom_field_2_value
  %br
-#
  %br
  - unless @company_info.company_address.blank?
    = @company_info.company_address.line1
    %br
    = "#{@company_info.company_address.city}, #{@company_info.company_address.country_sub_division_code} #{@company_info.company_address.postal_code}"
    %br
  = @company_info.primary_phone.free_form_number unless @company_info.primary_phone.blank?
%br
-#
  - unless @current_user.company.custom_field_1.blank?
    %strong= "#{@current_user.company.custom_field_1}: "
    = @current_user.company.custom_field_1_value
    %br
  - unless @current_user.company.custom_field_2.blank?
    %strong= "#{@current_user.company.custom_field_2}: "
    = @current_user.company.custom_field_2_value
    %br
%strong= "Customer: "
- if not (@ticket["FirstName"].blank? and @ticket["LastName"].blank?)
  = "#{@ticket['FirstName']} #{@ticket['LastName']}"
- else
  = @ticket['Company']

%table.table
  %thead
    %tr
      %td 
        %strong Commodity
      %td  
        %strong Gross
      %td  
        %strong Tare
      %td  
        %strong Net
      %td  
        %strong Unit
      %td  
        %strong Rate
      %td
        %strong Tax
      %td  
        %strong Amount
  %tbody
    - unless @ticket["TicketItemCollection"].blank?
      - unless @ticket["TicketItemCollection"]["ApiTicketItem"].is_a? Hash
        -# Multiple line items
        - @line_items.each do |line_item|
          %tr
            %td= "#{line_item['PrintDescription']}:"
            %td= number_with_precision(line_item['GrossWeight'], precision: 2, strip_insignificant_zeros: true)
            %td= number_with_precision(line_item['TareWeight'], precision: 2, strip_insignificant_zeros: true)
            %td= number_with_precision(line_item['NetWeight'], precision: 2, strip_insignificant_zeros: true)
            %td= line_item['UnitOfMeasure']
            %td= "$#{number_with_precision(line_item['Price'], :precision => 3)}"
            - unless line_item['TaxCollection'].blank? # Taxes
              - if line_item['TaxCollection']['ApiTicketItemTax'].is_a? Hash # Only one line item tax result returned
                - unless line_item['TaxCollection']['ApiTicketItemTax']['TaxAmount'] == '0.00'
                  %td= "$#{line_item['TaxCollection']['ApiTicketItemTax']['TaxAmount']}"
              - else # Multiple line item tax results returned
                %td
                  - line_item['TaxCollection']['ApiTicketItemTax'].each do |tax|
                    - unless tax['TaxAmount'] == '0.00'
                      = "$#{tax['TaxAmount']}"
            - else # No taxes
              %td $0
            %td= number_to_currency(line_item['ExtendedAmount'])
          
          - unless line_item['SerialNumber'].blank? and line_item['Notes'].blank?
            %tr
              - unless line_item['SerialNumber'].blank?
                %td= "#{line_item['SerialNumber']}"
              - else
                %td
              - unless line_item['Notes'].blank?
                %td{colspan: "7"}= "#{line_item['Notes']}"
              - else
                %td

      - else
        -# One line item
        %tr
          %td= "#{@ticket["TicketItemCollection"]["ApiTicketItem"]["PrintDescription"]}:"
          %td= number_with_precision(@ticket["TicketItemCollection"]["ApiTicketItem"]['GrossWeight'], precision: 2, strip_insignificant_zeros: true)
          %td= number_with_precision(@ticket["TicketItemCollection"]["ApiTicketItem"]['TareWeight'], precision: 2, strip_insignificant_zeros: true)
          %td= number_with_precision(@ticket["TicketItemCollection"]["ApiTicketItem"]['NetWeight'], precision: 2, strip_insignificant_zeros: true)
          %td= @ticket["TicketItemCollection"]["ApiTicketItem"]['UnitOfMeasure']
          %td= "$#{number_with_precision(@ticket['TicketItemCollection']['ApiTicketItem']['Price'])}"
          - unless @ticket["TicketItemCollection"]["ApiTicketItem"]['TaxCollection'].blank? # Taxes
            - if @ticket["TicketItemCollection"]["ApiTicketItem"]['TaxCollection']['ApiTicketItemTax'].is_a? Hash # Only one line item tax result returned
              - unless @ticket["TicketItemCollection"]["ApiTicketItem"]['TaxCollection']['ApiTicketItemTax']['TaxAmount'] == '0.00'
                %td= "$#{@ticket["TicketItemCollection"]["ApiTicketItem"]['TaxCollection']['ApiTicketItemTax']['TaxAmount']}"
            - else # Multiple line item tax results returned
              %td
                - @ticket["TicketItemCollection"]["ApiTicketItem"]['TaxCollection']['ApiTicketItemTax'].each do |tax|
                  - unless tax['TaxAmount'] == '0.00'
                    = "$#{tax['TaxAmount']}"
                    %br
          - else # No taxes
            %td $0
          %td= number_to_currency(@ticket["TicketItemCollection"]["ApiTicketItem"]['ExtendedAmount']) 
        - unless @ticket["TicketItemCollection"]["ApiTicketItem"]['SerialNumber'].blank? and @ticket["TicketItemCollection"]["ApiTicketItem"]['Notes'].blank?
          %tr
            - unless @ticket["TicketItemCollection"]["ApiTicketItem"]['SerialNumber'].blank?
              %td= "#{@ticket["TicketItemCollection"]["ApiTicketItem"]['SerialNumber']}"
            - else
              %td
            - unless @ticket["TicketItemCollection"]["ApiTicketItem"]['Notes'].blank?
              %td{colspan: "7"}= "#{@ticket["TicketItemCollection"]["ApiTicketItem"]['Notes']}"
            - else
              %td
      %tr
        %td
        %td
        %td
        %td
        %td
        %td
        %td
        %td
          - if params[:status] == '3'
            -# Paid Ticket
            %strong= "Total: #{number_to_currency(@accounts_payable_items.first['PaidAmount'])}"
            %p
              = "#{payment_method_string(@accounts_payable_items.first['PaymentMethod'])}"
              -# if @apcashier['PaymentMethod'] == '1'
                =# "# #{@apcashier['CheckNumber']}"
          - elsif params[:status] == '1'
            %strong= "Total: #{number_to_currency(@ticket['BalanceDue'])}"
          - else
            %strong= "Total: #{number_to_currency(Ticket.line_items_total(@ticket['TicketItemCollection']['ApiTicketItem']))}" unless @ticket['TicketItemCollection'].blank?
          
    - unless @signature_image.blank?
      %tr
        %td{colspan: "5"}
          -#
            %p= image_tag(@signature_image.jpeg_image_data_uri, style: 'width: 150%')
          %p= image_tag(Image.jpeg_image_data_uri(show_jpeg_image_image_path(@signature_image['CAPTURE_SEQ_NBR'])), style: 'width: 150%')
    - unless @finger_print_image.blank?
      %tr
        %td{colspan: "2"}
          %p= image_tag(@finger_print_image.jpeg_image_data_uri, style: 'width: 75%')