= render partial: "shared/navbars/show_ticket_navbar", locals: {title: @ticket['TicketNumber'], total: nil, paid_amount: nil}

.jumbotron{style: 'background-color: #FFFFFF;'}
  .container
    -#
      .well= @accounts_payable_items
      .well= @apcashier
    - unless @ticket['Description'].blank?
      %p.text-center= @ticket['Description']
    .panel.panel-default
      %div.panel-heading{:role => "tab", id: "vendor_heading"}
        %h4.panel-title
          %div.text-primary= "#{@ticket['Company'].blank? ? 'No company name' : @ticket['Company']}"
    - if @ticket["TicketItemCollection"].blank?
      .panel.panel-default.line-item
        %div.panel-heading
          %h4.panel-title No ticket items
    - else
      -# unless @ticket["TicketItemCollection"]["ApiTicketItem"].is_a? Hash
      - unless false
        #items_accordion.panel-group{"aria-multiselectable" => "true", :role => "tablist"}
          -# @ticket["TicketItemCollection"]["ApiTicketItem"].each do |line_item|
          - @line_items.each do |line_item|
            .panel.panel-default.line-item
              %div.panel-heading{:role => "tab", id: "heading#{line_item['Id']}"}
                %h4.panel-title
                  .line_item_name
                    %div.text-primary= line_item["PrintDescription"]
              .panel-footer{style: 'padding-top: 0px; font-size: 16px;'}
                .calculation_details
                  %strong Gross:
                  = "#{number_with_precision(line_item['GrossWeight'], :precision => 2, strip_insignificant_zeros: true)}"
                  &nbsp;
                  %strong Tare:
                  = "#{number_with_precision(line_item['TareWeight'], :precision => 2, strip_insignificant_zeros: true)}"
                  &nbsp;
                  %strong Net:
                  = "#{number_with_precision(line_item['NetWeight'], :precision => 2, strip_insignificant_zeros: true)} LB"
                  &nbsp;
                  = "$#{number_with_precision(line_item['Price'], :precision => 3, strip_insignificant_zeros: true)}/#{line_item['UnitOfMeasure']}"
                  &nbsp;
                  %strong= "$#{line_item['ExtendedAmount']}"
                / Deduction weights
                -# unless line_item["DeductionCollection"].blank?
                / Deduction weights
                .weight_deduction_details
                  - unless line_item["DeductionCollection"].blank?
                    - if line_item["DeductionCollection"]["ApiTicketItemDeduction"].is_a? Hash # Only one line item deduction
                      - line_item_deduction = line_item["DeductionCollection"]["ApiTicketItemDeduction"]
                      - unless (line_item_deduction["DeductWeight"].blank? or line_item_deduction["DeductWeight"].to_i.zero?)
                        %strong Less:
                        = "#{number_with_precision(line_item_deduction["DeductWeight"], :precision => 3, strip_insignificant_zeros: true)} LB"
                        = "(#{line_item_deduction["DeductWeightDescription"]})"
                    - else
                      - line_item["DeductionCollection"]["ApiTicketItemDeduction"].each do |line_item_deduction|
                        - unless (line_item_deduction["DeductWeight"].blank? or line_item_deduction["DeductWeight"].to_i.zero?)
                          %strong Less:
                          = "#{number_with_precision(line_item_deduction["DeductWeight"], :precision => 3, strip_insignificant_zeros: true)} LB"
                          = "(#{line_item_deduction["DeductWeightDescription"]})"
                / Deduction dollar amounts
                .dollar_amount_deduction_details
                  - unless line_item["DeductionCollection"].blank?
                    - if line_item["DeductionCollection"]["ApiTicketItemDeduction"].is_a? Hash # Only one line item deduction
                      - line_item_deduction = line_item["DeductionCollection"]["ApiTicketItemDeduction"]
                      - unless (line_item_deduction["DeductDollarAmount"].blank? or line_item_deduction["DeductDollarAmount"].to_i.zero?)
                        %strong Less:
                        = "$#{number_with_precision(line_item_deduction["DeductDollarAmount"], :precision => 2, strip_insignificant_zeros: true)}"
                        = "(#{line_item_deduction["DeductDollarAmountDescription"]})"
                    - else
                      - line_item["DeductionCollection"]["ApiTicketItemDeduction"].each do |line_item_deduction|
                        - unless (line_item_deduction["DeductDollarAmount"].blank? or line_item_deduction["DeductDollarAmount"].to_i.zero?)
                          %strong Less:
                          = "$#{number_with_precision(line_item_deduction["DeductDollarAmount"], :precision => 2, strip_insignificant_zeros: true)}"
                          = "(#{line_item_deduction["DeductDollarAmountDescription"]})"
                - unless line_item['TaxCollection'].blank?
                  / Taxes
                  .tax_details
                    %strong Taxes
                    - if line_item['TaxCollection']['ApiTicketItemTax'].is_a? Hash # Only one line item tax result returned
                      - unless line_item['TaxCollection']['ApiTicketItemTax']['TaxAmount'] == '0.00'
                        = "$#{line_item['TaxCollection']['ApiTicketItemTax']['TaxAmount']}"
                    - else # Multiple line item tax results returned
                      - line_item['TaxCollection']['ApiTicketItemTax'].each do |tax|
                        - unless tax['TaxAmount'] == '0.00'
                          = "$#{tax['TaxAmount']}"
              -#
                .panel-footer
                  = "(#{line_item['GrossWeight']} - #{line_item['TareWeight']}) = #{line_item['NetWeight']}#{line_item['UnitOfMeasure']}"
                  x
                  = "$#{number_with_precision(line_item['Price'], :precision => 3)}"
                  = "= $#{line_item['ExtendedAmount']}"
                  =# line_item 
      - else
        #items_accordion.panel-group{"aria-multiselectable" => "true", :role => "tablist"}
          .panel.panel-default.line-item
            %div.panel-heading{:role => "tab", id: "heading#{@ticket["TicketItemCollection"]["ApiTicketItem"]['Id']}"}
              %h4.panel-title
                .line_item_name
                  %div.text-primary= @ticket["TicketItemCollection"]["ApiTicketItem"]["PrintDescription"]
            .panel-footer
              = "(#{@ticket["TicketItemCollection"]["ApiTicketItem"]['GrossWeight']} - #{@ticket["TicketItemCollection"]["ApiTicketItem"]['TareWeight']}) = #{@ticket["TicketItemCollection"]["ApiTicketItem"]['Quantity']}#{@ticket["TicketItemCollection"]["ApiTicketItem"]['UnitOfMeasure']}"
              x
              = "$#{number_with_precision(@ticket["TicketItemCollection"]["ApiTicketItem"]['Price'], :precision => 3)}"
              = "= $#{@ticket["TicketItemCollection"]["ApiTicketItem"]['ExtendedAmount']}"
              =# line_item 
    - unless @ticket['Status'] == '3'
      .well
        .row.form-group
          %div{:class => "col-sm-12 col-md-12"}
            %p
              = "Balance Due:"
              = "#{number_to_currency(@ticket['BalanceDue'])}"
    %a{href: ticket_path(@ticket['Id'], yard_id: @ticket['YardId'], status: @ticket['Status'], now: DateTime.now, format: 'pdf'), class: "btn btn-default btn-lg", target: '_blank'}
      %i.fa.fa-file-pdf-o.fa-lg
      Print
    %hr
    %div#images
    - @images_array.each_slice(6) do |images|
      .row
        - images.each do |image|
          - unless image['hidden'] == '1' or not current_user.view_images?
            .col-xs-12.col-sm-2.col-md-2
              .thumbnail
                %a{href: image_path(image['capture_seq_nbr']), class: 'thumbnail'}
                  - unless image['thumbnail_url'].blank?
                    = image_tag(Image.thumbnail_uri(image['thumbnail_url'], current_user.company), alt: image['capture_seq_nbr'], class: 'img-responsive')
                  - else
                    - if image['content_type'] == "application/pdf"
                      %i.fa.fa-file-pdf-o.fa-lg
                    - else
                      %i.fa.fa-file.fa-lg
                    File
                -#
                  %a{href: image_path(image['CAPTURE_SEQ_NBR'], yard_id: @ticket['YardId']), class: 'thumbnail'}
                    = image_tag(show_preview_image_image_path(image['CAPTURE_SEQ_NBR'], yard_id: @ticket['YardId']), alt: image['CAPTURE_SEQ_NBR'], class: 'img-responsive')
                .text-center
                  %small.text-muted= image['event_code']
    
= render partial: "shared/show_ticket_footer_navbar", locals: {title: "Ticket"}