=# render partial: "shared/navbars/show_ticket_navbar", locals: {title: @ticket['TicketNumber'], total: nil, paid_amount: number_to_currency(@accounts_payable_items.first['PaidAmount'])}
= render partial: "shared/navbars/show_ticket_navbar", locals: {title: @ticket['TicketNumber'], total: nil, paid_amount: nil}

.jumbotron{style: 'background-color: #FFFFFF;'}
  .container
    .panel.panel-default
      %div.panel-heading{:role => "tab", id: "vendor_heading"}
        %h4.panel-title
          %div.text-success= "#{@ticket['Company'].blank? ? 'No company name' : @ticket['Company']}"
    - if @ticket["TicketItemCollection"].blank?
      .panel.panel-default.line-item
        %div.panel-heading
          %h4.panel-title No ticket items
    - else
      - unless @ticket["TicketItemCollection"]["ApiTicketItem"].is_a? Hash
        #items_accordion.panel-group{"aria-multiselectable" => "true", :role => "tablist"}
          - @ticket["TicketItemCollection"]["ApiTicketItem"].each do |line_item|
            .panel.panel-default.line-item
              %div.panel-heading{:role => "tab", id: "heading#{line_item['Id']}"}
                %h4.panel-title
                  .line_item_name
                    %div.text-success= line_item["PrintDescription"]
              .panel-footer
                = "(#{line_item['GrossWeight']} - #{line_item['TareWeight']}) = #{line_item['Quantity']}#{line_item['UnitOfMeasure']}"
                x
                = "$#{number_with_precision(line_item['Price'], :precision => 3)}"
                = "= $#{line_item['ExtendedAmount']}"
                =# line_item 
      - else
        #items_accordion.panel-group{"aria-multiselectable" => "true", :role => "tablist"}
          .panel.panel-default.line-item
            %div.panel-heading{:role => "tab", id: "heading#{@ticket["TicketItemCollection"]["ApiTicketItem"]['Id']}"}
              %h4.panel-title
                .line_item_name
                  %div.text-success= @ticket["TicketItemCollection"]["ApiTicketItem"]["PrintDescription"]
            .panel-footer
              = "(#{@ticket["TicketItemCollection"]["ApiTicketItem"]['GrossWeight']} - #{@ticket["TicketItemCollection"]["ApiTicketItem"]['TareWeight']}) = #{@ticket["TicketItemCollection"]["ApiTicketItem"]['Quantity']}#{@ticket["TicketItemCollection"]["ApiTicketItem"]['UnitOfMeasure']}"
              x
              = "$#{number_with_precision(@ticket["TicketItemCollection"]["ApiTicketItem"]['Price'], :precision => 3)}"
              = "= $#{@ticket["TicketItemCollection"]["ApiTicketItem"]['ExtendedAmount']}"
              =# line_item 
    - unless @ticket['Status'] == '3'
      .well
        .row.form-group
          %div{:class => "col-sm-12 col-md-12"}
            %p
              = "Balance Due:"
              = "#{number_to_currency(@ticket['BalanceDue'])}"
    -#
      - if @ticket['Status'] == '3'
        %p.pull-right
          = "#{payment_method_string(@accounts_payable_items.first['PaymentMethod'])}: #{number_to_currency(@accounts_payable_items.first['PaidAmount'])}"
          - if @accounts_payable_items.first['CheckNumber'].is_a? Integer
            %br
            = "Check Number: #{@accounts_payable_items.first['CheckNumber']}"
    -#
      .well
        %h3 
          = @ticket['TicketNumber']
        %p= "Status: #{@ticket['Status']}"
        %p= @ticket["DateCreated"].to_date.strftime("%m/%d/%y")
        %p= @ticket
    %hr
    - @images.each_slice(4) do |images|
      .row
        - images.each do |image|
          .col-xs-12.col-sm-3
            - unless image.pdf?
              = link_to image_tag(image.jpeg_image_data_uri, alt: image.id, class: 'img-responsive center-block'), "#image_#{image.id}_popup", "data-toggle" => "modal", :alt => "Image", :class => 'thumbnail'
            - else
              %p.lead.text-center
                %a{href: send_pdf_data_image_path(image)}
                  %i.fa.fa-file-pdf-o.fa-lg
                  Download PDF
          %div{:id => "image_#{image.id}_popup", :class => "modal fade", :tabindex => "-1", :style => "display:none;"}
            .modal-dialog.modal-lg
              .modal-content
                .modal-body
                  = image_tag(image.jpeg_image_data_uri, alt: image.id, class: 'img-responsive')
    -#
      %div#images

      %div{id: 'endless_page'}
        %p= image_tag("ajax-loader.gif", :id => "more_images_spinner", :alt => "Loading ...", style: "display:none;")
        - unless current_user.customer?
          %p= link_to 'More pictures ...', images_path(:page => nil, :q => {ticket_nbr_eq: @ticket_number, yardid_eq: current_yard_id}, :one_image_per_ticket => '0'), :class => 'load-more-images btn btn-default', :remote => true, :onclick => "$(this).hide(); $('#more_images_spinner').show();" 
        - else
          %p= link_to 'More pictures ...', images_path(:page => nil, :q => {ticket_nbr_eq: @ticket_number, yardid_eq: current_yard_id, cust_nbr_eq: current_user.customer_guid}, :one_image_per_ticket => '0'), :class => 'load-more-images btn btn-default', :remote => true, :onclick => "$(this).hide(); $('#more_images_spinner').show();" 

= render partial: "shared/show_ticket_footer_navbar", locals: {title: "Ticket"}