%center
  = @ticket_number
  %br
  = DateTime.now.strftime("%a, %d %b %Y %I:%M%p")
-#
  - unless @current_user.company.logo_url.url.blank?
    = image_tag ["http://", request.host_with_port, @current_user.company.logo_url.url].join(), size: '50x50'
  - else
    = wicked_pdf_image_tag 'Irving_logo.png', size: '50x50'
= wicked_pdf_image_tag 'Irving_logo.png', size: '50x50'
%strong= current_user.company.name
- unless current_user.company.full_address.blank?
  %br
  = current_user.company.full_address.html_safe
- unless current_user.company.phone.blank?
  %br
  = current_user.company.phone
%br
- unless @current_user.company.custom_field_1.blank? and @current_user.company.custom_field_1_value.blank?
  %strong= "#{@current_user.company.custom_field_1}: "
  = @current_user.company.custom_field_1_value
  %br
- unless @current_user.company.custom_field_2.blank? and @current_user.company.custom_field_2_value.blank?
  %strong= "#{@current_user.company.custom_field_2}: "
  = @current_user.company.custom_field_2_value
  %br
-#
  %br
  - unless @company_info.company_address.blank?
    = @company_info.company_address.line1
    %br
    = "#{@company_info.company_address.city}, #{@company_info.company_address.country_sub_division_code} #{@company_info.company_address.postal_code}"
    %br
  = @company_info.primary_phone.free_form_number unless @company_info.primary_phone.blank?
%br
-#
  - unless @current_user.company.custom_field_1.blank?
    %strong= "#{@current_user.company.custom_field_1}: "
    = @current_user.company.custom_field_1_value
    %br
  - unless @current_user.company.custom_field_2.blank?
    %strong= "#{@current_user.company.custom_field_2}: "
    = @current_user.company.custom_field_2_value
    %br
%strong= "Customer: "
- if not (@ticket["FirstName"].blank? and @ticket["LastName"].blank?)
  = "#{@ticket['FirstName']} #{@ticket['LastName']}"
- else
  = @ticket['Company']

%table.table
  %thead
    %tr
      %td 
        %strong Commodity
      %td  
        %strong Gross
      %td  
        %strong Tare
      %td  
        %strong Net
      %td  
        %strong Unit
      %td  
        %strong Rate
      %td  
        %strong Amount
  %tbody
    - unless @ticket["TicketItemCollection"].blank?
      - unless @ticket["TicketItemCollection"]["ApiTicketItem"].is_a? Hash
        - @line_items.each do |line_item|
          %tr
            %td= "#{line_item['PrintDescription']}:"
            %td= line_item['GrossWeight']
            %td= line_item['TareWeight']
            %td= line_item['Quantity']
            %td= line_item['UnitOfMeasure']
            %td= "$#{number_with_precision(line_item['Price'], :precision => 3)}"
            %td= number_to_currency(line_item['ExtendedAmount'])
          - unless line_item['SerialNumber'].blank? and line_item['Notes'].blank?
            %tr
              - unless line_item['SerialNumber'].blank?
                %td= "#{line_item['SerialNumber']}"
              - unless line_item['Notes'].blank?
                %td{colspan: "6"}= "#{line_item['Notes']}"

      - else
        %tr
          %td= "#{@ticket["TicketItemCollection"]["ApiTicketItem"]["PrintDescription"]}:"
          %td= @ticket["TicketItemCollection"]["ApiTicketItem"]['GrossWeight']
          %td= @ticket["TicketItemCollection"]["ApiTicketItem"]['TareWeight']
          %td= @ticket["TicketItemCollection"]["ApiTicketItem"]['Quantity']
          %td= @ticket["TicketItemCollection"]["ApiTicketItem"]['UnitOfMeasure']
          %td= "$#{number_with_precision(@ticket['TicketItemCollection']['ApiTicketItem']['Price'])}"
          %td= number_to_currency(@ticket["TicketItemCollection"]["ApiTicketItem"]['ExtendedAmount']) 
        - unless @ticket["TicketItemCollection"]["ApiTicketItem"]['SerialNumber'].blank? and @ticket["TicketItemCollection"]["ApiTicketItem"]['Notes'].blank?
          %tr
            - unless @ticket["TicketItemCollection"]["ApiTicketItem"]['SerialNumber'].blank?
              %td= "#{@ticket["TicketItemCollection"]["ApiTicketItem"]['SerialNumber']}"
            - unless @ticket["TicketItemCollection"]["ApiTicketItem"]['Notes'].blank?
              %td{colspan: "6"}= "#{@ticket["TicketItemCollection"]["ApiTicketItem"]['Notes']}"
      %tr
        %td
        %td
        %td
        %td
        %td
        %td
        %td
          - if params[:status] == '3'
            %strong= "Total: #{number_to_currency(@accounts_payable_items.first['PaidAmount'])}"
          - elsif params[:status] == '1'
            %strong= "Total: #{number_to_currency(@ticket['BalanceDue'])}"
          
    - unless @signature_image.blank?
      %tr
        %td{colspan: "5"}
          %p= image_tag(@signature_image.jpeg_image_data_uri, style: 'width: 150%')
    - unless @finger_print_image.blank?
      %tr
        %td{colspan: "2"}
          %p= image_tag(@finger_print_image.jpeg_image_data_uri, style: 'width: 75%')