= render partial: "shared/navbars/base_navbar", locals: {title: "Company"}

.jumbotron{style: 'background-color: #FFFFFF;'}
  .container
    .col-xs-12.col-sm-6.col-md-offset-3
      .panel.panel-default
        .panel-heading
          = @company.name
        %ul.list-group
          %li.list-group-item
            %strong= "Scrap Dragon API Location:"
            .pull-right
              = "#{@company.dragon_api}"
       
=# render partial: "shared/footer_navbar", locals: {title: "Settings"}