= form_for @cust_pic_file do |f|
  - if @cust_pic_file.errors.any?
    #error_explanation
      %h2= "#{pluralize(@cust_pic_file.errors.count, "error")} prohibited this cust_pic_file from being saved:"
      %ul
        - @cust_pic_file.errors.full_messages.each do |msg|
          %li= msg
  -#
    .actions
      = f.submit 'Save'
