= render partial: "shared/navbars/edit_user_setting_navbar", locals: {title: "Settings"}

.jumbotron{style: 'background-color: white;'}
  .container
    - if current_user.dragon_admin?
      .row
        %span.pull-right
          .text-center
            %strong User View
          = form_for current_user.access_token, :class => "form-horizontal" do |f|
            = f.select :roles, ["Mobile Admin", "Mobile Buy", "Mobile Greeter", "Mobile Inspector", "Mobile Sell"], {prompt: "Select role"}, {name: "access_token[roles][]", :class => "form-control", onchange: "this.form.submit();"}
      %br
    = form_for @user_setting, :class => "form-inline" do |f|
      - @user_setting.errors.each do |attr, msg|
        .alert.alert-danger
          <button type="button" class="close" data-dismiss="alert">×</button>
          = "#{attr} #{msg}" if @user_setting.errors[attr].first == msg
      .row
        .col-xs-12.col-sm-6
          %div.panel.panel-default
            %div.panel-heading
              %h5.panel-title Defaults
            %ul.list-group
              - if current_user.admin?
                %li.list-group-item
                  .row.form-group
                    %div{:class => "col-sm-10"}
                      = f.label "Show customer thumbnails", :class => "control-label"
                      .pull-right= f.text_field :show_customer_thumbnails, :value => "#{@user_setting.show_customer_thumbnails? ? '1' : '0'}", "data-icon-checked" => "<i class='fa fa-check'></i>", "data-toggle" => "checkbox-x", "data-three-state" => "false", "data-size" => "xl"

                %li.list-group-item
                  .row.form-group
                    %div{:class => "col-sm-10"}
                      = f.label "Show ticket thumbnails", :class => "control-label"
                      .pull-right= f.text_field :show_ticket_thumbnails, :value => "#{@user_setting.show_ticket_thumbnails? ? '1' : '0'}", "data-icon-checked" => "<i class='fa fa-check'></i>", "data-toggle" => "checkbox-x", "data-three-state" => "false", "data-size" => "xl"

                %li.list-group-item
                  .row.form-group
                    %div{:class => "col-sm-10"}
                      = f.label "Show picture search thumbnails", :class => "control-label"
                      .pull-right= f.text_field :show_thumbnails, :value => "#{@user_setting.show_thumbnails? ? '1' : '0'}", "data-icon-checked" => "<i class='fa fa-check'></i>", "data-toggle" => "checkbox-x", "data-three-state" => "false", "data-size" => "xl"
                = f.hidden_field :table_name, value: "images"

              %li.list-group-item
                .row.form-group
                  %div{:class => "col-sm-10"}
                    = f.label "Currency", :class => "control-label"
                    .pull-right= f.select :currency_id, options_for_select(@currencies.map{ |currency| [currency['Description'], currency['Id']] }, @user_setting.currency_id), {:include_blank => false}, {:class => "form-control input-lg"}
        - if current_user.admin?
          .col-xs-12.col-sm-6
            %div.panel.panel-default
              %div.panel-heading
                %h5.panel-title 
                  = link_to 'Event Codes', event_codes_path
                  %span.text-muted (drag to sort)
                  .pull-right
                    = link_to 'New', new_event_code_path
              %ul.list-group
                - unless @event_codes.blank?
                  #user_settings_event_codes{"data-url" => sort_event_codes_path}
                    - @event_codes.each do |event_code|
                      %li.list-group-item{id: dom_id(event_code)}
                        = link_to event_code.name, edit_event_code_path(event_code)
                        .pull-right
                          %i.fa.fa-arrows-v
                        %br/
                        %small
                          - unless event_code.camera_class.blank? and event_code.camera_position.blank?
                            = camera_class_string(event_code.camera_class) unless event_code.camera_class.blank?
                            = camera_position_string(event_code.camera_position) unless event_code.camera_position.blank?
                            %br
                          = "Fetches" if event_code.include_in_fetch_lists?
                          = "Shipments" if event_code.include_in_shipments?
                          = "Tickets" if event_code.include_in_images?
                - else
                  %li.list-group-item None
      - if current_user.admin?         
        .row
          .col-xs-12.col-sm-6
            #signature_verbiage_accordion.panel-group{"aria-multiselectable" => "true", :role => "tablist"}
              .panel.panel-default
                .panel-heading
                  %h5.panel-title 
                    %a{"aria-controls" => "contract", "aria-expanded" => "false", "data-parent" => "#signature_verbiage_accordion", "data-toggle" => "collapse", :href => "#signature_verbiage", :role => "button"}
                      Signature Verbiage
                    .pull-right= link_to 'Edit', edit_company_path(current_user.company)
                #signature_verbiage.panel-collapse.collapse.in{"aria-labelledby" => "headingOne", :role => "tabpanel"}
                  %ul.list-group
                    %li.list-group-item 
                      - unless current_user.company.signature_verbiage.blank?
                        = current_user.company.signature_verbiage.html_safe
                      - else
                        None
            -#
              - unless @contract.blank?
                %div.panel.panel-default
                  .panel-heading
                    %h5.panel-title
                      Contract
                      .pull-right= link_to 'Edit', edit_contract_path(@contract)
                  %ul.list-group
                    %li.list-group-item
                      = @contract.contract_name
                      %br
                      = @contract.verbiage.html_safe
              - else
                %div.panel.panel-default
                  .panel-heading
                    %h5.panel-title
                      Contract
                      .pull-right= link_to 'New', new_contract_path
                  %ul.list-group
                    %li.list-group-item
                      No existing contract

          .col-xs-12.col-sm-6
            %div.panel.panel-default
              .panel-heading
                %h5.panel-title Yards
              %ul.list-group
                - Yard.all(current_user.token).each do |yard|
                  - unless yard['Id'] == current_yard_id
                    %li.list-group-item= link_to yard["Name"], yard_path(yard['Id']), class: 'yard_button', data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Changing yard to #{yard['Name']}"}
                  - else
                    %li.list-group-item.list-group-item-warning= yard["Name"]
        .row
          .col-xs-12.col-sm-6
            %div.panel.panel-default
              .panel-heading
                %h5.panel-title 
                  Scrap Dragon API
                  -#
                    .pull-right= link_to 'Edit', edit_company_path(current_user.company)
              %ul.list-group
                %li.list-group-item
                  = "Location"
                  .pull-right
                    = "#{current_user.company.dragon_api}"
                %li.list-group-item
                  = "Yard ID"
                  .pull-right
                    = "#{current_yard_id}"
                %li.list-group-item
                  = "Supported Versions"
                  .pull-right
                    = "#{@supported_versions.blank? ? 'N/A' : @supported_versions}"
                %li.list-group-item
                  = "Ticket Sessions"
                  .pull-right
                    = "#{@supported_versions.blank? ? 'No' : 'Yes'}"
            %div.panel.panel-default
              .panel-heading
                %h5.panel-title 
                  Jpegger Service
                  -# 
                    .pull-right= link_to 'Edit', edit_company_path(current_user.company)
              %ul.list-group
                %li.list-group-item
                  = "IP Address"
                  .pull-right
                    = "#{current_user.company.jpegger_service_ip}"
                %li.list-group-item
                  = "Port"
                  .pull-right
                    = "#{current_user.company.jpegger_service_port}"
          -# if current_user.company.include_leads_online? 
          .col-xs-12.col-sm-6
            .panel.panel-default
              .panel-heading
                %h5.panel-title 
                  Company Info 
                  .pull-right= link_to 'Edit', edit_company_path(current_user.company)
              %ul.list-group
                %li.list-group-item
                  = "Name"
                  .pull-right
                    = "#{current_user.company.name}"
                - unless current_user.company.full_address.blank?
                  %li.list-group-item
                    = current_user.company.full_address.html_safe
                %li.list-group-item
                  Phone
                  .pull-right= current_user.company.phone
                - unless current_user.company.custom_field_1.blank? and current_user.company.custom_field_1_value.blank?
                  %li.list-group-item
                    = current_user.company.custom_field_1
                    .pull-right
                      = "#{current_user.company.custom_field_1_value}"
                - unless current_user.company.custom_field_2.blank? and current_user.company.custom_field_2_value.blank?
                  %li.list-group-item
                    = current_user.company.custom_field_2
                    .pull-right
                      = "#{current_user.company.custom_field_2_value}"
                %li.list-group-item
                  = "Leads Online Store ID"
                  .pull-right
                    = "#{current_user.company.leads_online_store_id}"
                %li.list-group-item
                  = "Leads Online FTP Username"
                  .pull-right
                    = "#{current_user.company.leads_online_ftp_username}"
                %li.list-group-item
                  = "Leads Online FTP Password"
                  .pull-right
                    = "#{current_user.company.leads_online_ftp_password}"

        .row
          .col-xs-12.col-sm-6
            - unless Yard.device_groups(current_yard_id).blank?
              %div.panel.panel-default
                %div.panel-heading
                  %h5.panel-title Device Group
                %ul.list-group
                  %li.list-group-item
                    .row.form-group
                      %div{:class => "col-sm-10"}
                        = f.select :device_group_id, options_from_collection_for_select(Yard.device_groups(current_yard_id), :id, :DeviceGroupName, @user_setting.device_group_id), {:include_blank => 'None'}, {:class => "form-control input-lg"}
            - else
              .panel.panel-default
                .panel-heading
                  %h5.panel-title
                    No Device Groups
          .col-xs-12.col-sm-6
            %div.panel.panel-default
              %div.panel-heading
                %h5.panel-title Additional Features
              %ul.list-group
                %li.list-group-item
                  = "Include Shipments?"
                  .pull-right= "#{current_user.company.include_shipments? ? 'Yes' : 'No'}"
                %li.list-group-item
                  = "Include Inventories?"
                  .pull-right= "#{current_user.company.include_inventories? ? 'Yes' : 'No'}"
                %li.list-group-item
                  = "Include External Users?"
                  .pull-right= "#{current_user.company.include_external_users? ? 'Yes' : 'No'}"

      .row
        .col-sm-6.col-md-4.col-md-offset-4
          = button_tag(:type => 'submit', :class => 'btn btn-primary btn-lg btn-block', id: 'save_button', name: 'save', data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Update"}, autocomplete: "off") do
            Save