=# render partial: "shared/navbars/packs_navbar", locals: {title: pack_status_string(@status)}
- @title="Pack Lists"
.jumbotron{style: 'background-color: #FFFFFF;'}
  .container
    %h3.text-center= "#{pack_status_string(@status)} Packs"
    - unless @packs.blank?
      %div{id: "packs"}
        - @packs.each do |pack|
          %div.row
            .col-xs-12.col-sm-12.col-md-12
              %div.panel.panel-primary
                %div.list_group
                  -# %div.list-group-item
                  %a{href: edit_pack_path(pack['Id'], status: @status), data: {disable_with: "<i class='fa fa-spinner fa-spin fa-lg'></i> #{pack['InternalPackNumber']} #{pack['PrintDescription']} #{pack['NetWeight'].to_f.round(2)} #{pack['UnitOfMeasure']}"}, class: "list-group-item pack_button"}
                    .pull-right
                      &nbsp;
                      %i.fa.fa-chevron-right.fa-lg
                    = "#{pack['InternalPackNumber']} #{pack['PrintDescription']}"
                    = "#{pack['Quantity']}"
                    = "#{pack['NetWeight'].to_f.round(2)} #{pack['UnitOfMeasure']}"
                    %p= pack
      .row
        .text-center
          %div{id: 'endless_page'}
            %p= image_tag("ajax-loader.gif", :id => "more_packs_spinner", :alt => "Loading ...", style: "display:none;")
            %p= link_to 'Load more ...', packs_path(:page => @packs.next_page, :q => params[:q]), :class => 'load-more-packs btn btn-default', :remote => true, :onclick => "$(this).hide(); $('#more_packs_spinner').show();" if @packs.next_page
    - else
      %p No packs found

=# render partial: "shared/packs_footer_navbar", locals: {title: "Contracts"}
