- @pack_shipments.each do |pack_shipment|
  = render partial: "shipment_files/upload_modal", locals: {pack_shipment: pack_shipment}
  %div.row
    .col-xs-12.col-sm-12.col-md-12
      -# %h4.text-muted
      %p
        %div.panel.panel-primary
          %div.list_group{style: 'font-size: large;'}
            %a{href: "#{pack_shipment['ShipmentType'] == '1' ? edit_pack_shipment_path(pack_shipment['Id']) : nil}", data: {disable_with: "<i class='fa fa-spinner fa-spin fa-lg'></i> #{pack_shipment['ShipmentNumber']} - #{pack_shipment['CustomerName']}"}, class: "list-group-item pack_shipment_button"}
              - if pack_shipment['ShipmentType'] == '1'
                .pull-right
                  &nbsp;
                  %i.fa.fa-chevron-right.fa-lg
              = "#{pack_shipment['ShipmentNumber']} - #{pack_shipment['CustomerName']} #{pack_shipment['ContractDescription'].blank? ? '' : ' - ' + pack_shipment['ContractDescription']}"
              - unless pack_shipment['ContainerNumber'].blank? and pack_shipment['DeliveryVehicleIdNumber'].blank?
                %br
                = "Container: #{pack_shipment['ContainerNumber']}" unless pack_shipment['ContainerNumber'].blank?
                = "Vehicle: #{pack_shipment['DeliveryVehicleIdNumber']}" unless pack_shipment['DeliveryVehicleIdNumber'].blank?
              %small.text-muted= shipment_type_string(pack_shipment['ShipmentType'])
              =# pack_shipment
            -#
              %a{href: fetches_pack_shipment_path(pack_shipment['Id']), data: {disable_with: "<i class='fa fa-spinner fa-spin fa-lg'></i> Fetch Pictures"}, class: "list-group-item pack_shipment_button"}
                .pull-right
                  &nbsp;
                  %i.fa.fa-chevron-right.fa-lg
                %i.fa.fa-camera
                Fetch Pictures
                %br
            %div.list-group-item
              .pull-right
                %a.btn.btn-primary{href: "#pack_shipment_#{pack_shipment['Id']}_upload_form", id: "pack_shipment_#{pack_shipment['Id']}_picture_upload_modal_link", "data-toggle" => "modal", :alt => "new_image_file_form"}
                  %i.fa.fa-camera
                  Picture
              = "Date Created: #{pack_shipment["DateCreated"].to_date.in_time_zone(session[:time_zone]).strftime('%m/%d/%y')}"
              %br
              = "Time Created: #{pack_shipment["DateCreated"].to_datetime.in_time_zone(session[:time_zone]).strftime('%I:%M %p')}"
              %br