= "Shipment: #{@pack_shipment['ShipmentNumber']}"
%br
Status:
= shipment_status_string(@pack_shipment['ShipmentStatus'])
%br
= "Pack List: #{@pack_list['PackListNumber']}"
%br
= "#{@pack_shipment['ContractDescription']} #{@pack_shipment['DateCreated'].to_date.strftime('%-m/%-d/%Y')}"
%br
= "Container Number: #{@pack_shipment['ContainerNumber']}"
%br
= "Vehicle Number: #{@pack_shipment['DeliveryVehicleIdNumber']}"