= render partial: "shared/navbars/edit_pack_shipment_navbar", locals: {title: @pack_shipment['ShipmentNumber'], total: 0}
- @title="Shipment: #{@pack_shipment['ShipmentNumber']}"

.jumbotron{style: 'background-color: #FFFFFF;'}
  .container
    %h3
      = "#{@pack_shipment['CustomerName']}"
      .pull-right
        %a{href: show_pictures_pack_shipment_path(@pack_shipment['Id']), :class => "btn btn-default pack_shipment_button", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Pictures"}}
          %i.fa.fa-photo.fa-lg
          Pictures
      %p  
        %small
          = "Shipment: #{@pack_shipment['ShipmentNumber']}"
          %br
          = "Pack List: #{@pack_list['PackListNumber']}"
          %br
          = "#{@pack_shipment['ContractDescription']} #{@pack_shipment['DateCreated'].to_date.strftime('%-m/%-d/%Y')}"
          %br
          = "Container Number: #{@pack_shipment['ContainerNumber']}"
          %br
          = "Vehicle Number: #{@pack_shipment['DeliveryVehicleIdNumber']}"

    #barcode-scanner.pull-right     
  
    %ul.nav.nav-tabs
      %li.active
        %a{:href => "#pack_details", :data => {:toggle => "tab"}}
          %i.fa.fa-dropbox.fa-lg
          - unless mobile_device?
            = "Pack Details"
          - else
            %small Details
      %li
        %a{:href => "#contract_items", :data => {:toggle => "tab"}}
          %i.fa.fa-list-alt.fa-lg
          - unless mobile_device?
            = "Contract Items" 
          - else
            %small Items
      -#
        %li
          -#
            %a{:href => "#shipment_pictures", :data => {:toggle => "tab"}}
          %a{:href => show_pictures_pack_shipment_path(@pack_shipment['Id']), data: {disable_with: "<i class='fa fa-spinner fa-spin'> Pictures</i>"}}
            %i.fa.fa-photo.fa-lg
            - unless mobile_device?
              = "Pictures"
            - else
              %small Pictures
    .tab-content
      .tab-pane.active{:id => "pack_details"}
        %br
        %div#add_contract_items
        %div.row
          .col-xs-12.col-sm-6.col-md-4
            %p
              = form_tag pack_shipment_path(@pack_shipment['Id']), id: 'pack_shipment_available_packs_search_form', method: 'get', :class => "form-horizontal", role: 'search' do |f|
                =# select_tag :pack_id, options_for_select(@available_packs_array), prompt: 'Tag Number', "data-pack-list-id" => @pack_list['Id'], "data-pack-shipment-id" => @pack_shipment['Id'], class: "form_control input-lg shipment_pack_select", style: "width: 100%;", autofocus: true
                = select_tag :pack_id, nil, "data-pack-list-id" => @pack_list['Id'], "data-pack-shipment-id" => @pack_shipment['Id'], class: "form_control input-lg shipment_pack_select", style: "width: 100%;", autofocus: true
                = hidden_field_tag :internal_pack_number
                = hidden_field_tag :tag_number
                = hidden_field_tag :pack_description
                = hidden_field_tag :pack_net_weight
                -#
                  .input-group
                    = search_field_tag :pack_tag_number, params[:pack_tag_number], :placeholder => "Pack tag number", class: "form-control input-lg"
                    %span.input-group-btn
                      %button.btn.btn-default.btn-lg{:type => "submit", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i>"}} 
                        %i.fa.fa-search
        %p
          %i.fa.fa-lg.fa-spinner.fa-spin.text-primary.adding_pack_spinner{style: 'display: none'}
        - unless @available_packs.blank?
          - @available_packs.each do |available_pack|
            %div.row
              .col-xs-12.col-sm-12.col-md-12
                %div.panel.panel-warning
                  %a{href: add_pack_pack_list_path(@pack_list['Id'], pack_shipment_id: @pack_shipment['Id'], internal_pack_number: available_pack['InternalPackNumber'], tag_number: available_pack['TagNumber']), class: "list-group-item pack_shipment_button", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> #{available_pack['PrintDescription']}"}}
                    %i.fa.fa-plus-circle.text-warning
                    = available_pack['PrintDescription']
        - else
          - unless params[:pack_tag_number].blank?
            %p.lead No packs founds
        
        %div#current_packs
          - unless @current_packs.blank?
            - @current_packs.each do |pack|
              %div.row
                .col-xs-12.col-sm-12.col-md-12
                  %div.panel.panel-primary.pack
                    %div.list-group-item
                      .pull-right
                        %a{href: remove_pack_pack_list_path(@pack_list['Id'], pack_id: pack['PackId'], pack_shipment_id: @pack_shipment['Id']), "data-pack-list-id" => @pack_list['Id'], "data-pack-id" => pack['PackId'], class: "remove_pack pack_shipment_button"}
                          %i.fa.fa-trash.fa-lg.text-danger
                      = "#{pack['PackInfo']['TagNumber']} #{pack['InventoryDescription']}"
                      -#
                        %br
                        Inventory tags:
                        - InvTag.api_find_all_by_ticket_number(pack['PackInfo']['TagNumber'], current_user.company).each do |inv_tag|
                          = inv_tag['EVENT_CODE']
                      %small
                        .text-muted
                          .net_weight{style: "display: inline;"}= pack['PackInfo']['NetWeight']
                          %span{style: "display: inline;"}= @pack_shipment['UnitOfMeasure']
                      =# pack
      
      .tab-pane{:id => "contract_items"}
        %br
        -#
          .well= @pack_shipment
        %p.lead
          %strong Materials
        - unless @contract_items.blank?
          - @contract_items.each do |contract_item|
            -#
              .well= contract_item
            %p.lead= contract_item['Description']
        - else
          %p.lead None
      -#
        .tab-pane{:id => "shipment_pictures"}
          %br
          %div#shipment_images
          - @images_array.each_slice(6) do |images|
            .row
              - images.each do |image|
                .col-xs-12.col-sm-2.col-md-2
                  .thumbnail
                    %a{href: shipment_path(image['CAPTURE_SEQ_NBR']), class: 'thumbnail'}
                      = image_tag(show_preview_image_shipment_path(image['CAPTURE_SEQ_NBR']), alt: image['CAPTURE_SEQ_NBR'], class: 'img-responsive')
                    -#
                      .text-center= shipment_image.event_code
                    .text-center
                      %small.text-muted= image['EVENT_CODE']
    -#
      %p
        %strong Pack Lists
        %br
        =# @pack_lists['Items']['PackListItemInformation']
        - unless @pack_lists.blank?
          - @pack_lists.each do |pack_list|
            -#
              = pack_list
            %div.row
              .col-xs-12.col-sm-12.col-md-12
                %div.panel.panel-primary
                  %div.list_group
                    %a{href: edit_pack_list_path(pack_list['Id'], contract_id: @pack_contract['Id'], contract_number: @pack_contract['ContractNumber']), class: "list-group-item pack_list_button", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> #{pack_list['PackListNumber']}"}}
                      .pull-right
                        %i.fa.fa-chevron-right.fa-lg
                      = pack_list['PackListNumber']
                      %br
                      %small
                        .text-muted
                          = "(#{pack_list['Units']})"
                          = pack_list['Items']['PackListItemInformation']['PackInfo']['NetWeight']


=# render partial: "shared/shipment_footer_navbar", locals: {title: "Shipment"}