= render partial: "shared/navbars/pack_shipments_navbar", locals: {title: "Shipments"}

- @title="Shipments"
.jumbotron{style: 'background-color: #FFFFFF;'}
  .container
    - unless @pack_shipments.blank?
      %div{id: "pack_shipments"}
        - @pack_shipments.each do |pack_shipment|
          %div.row
            .col-xs-12.col-sm-12.col-md-12
              %div.panel.panel-primary
                %div.list_group
                  %a{href: edit_pack_shipment_path(pack_shipment['Id']), data: {disable_with: "<i class='fa fa-spinner fa-spin fa-lg'></i> #{pack_shipment['ShipmentNumber']} #{pack_shipment['CustomerName']}"}, class: "list-group-item pack_shipment_button"}
                    .pull-right
                      &nbsp;
                      %i.fa.fa-chevron-right.fa-lg
                    = "#{pack_shipment['ShipmentNumber']} #{pack_shipment['CustomerName']}"
                    %small
                      .text-muted
                        = "#{pack_shipment['ContractDescription']}"
                        = "#{pack_shipment['DateCreated']}".to_date.strftime("%-m/%-d/%Y")
                        %br
                        = "Container Number: #{pack_shipment['ContainerNumber']}"
                        %br
                        = "Vehicle Number: #{pack_shipment['DeliveryVehicleIdNumber']}"
                    =# pack_shipment
                  %a{href: fetches_pack_shipment_path(pack_shipment['Id']), data: {disable_with: "<i class='fa fa-spinner fa-spin fa-lg'></i> Fetch Pictures"}, class: "list-group-item pack_shipment_button"}
                    .pull-right
                      &nbsp;
                      %i.fa.fa-chevron-right.fa-lg
                    %i.fa.fa-camera
                    Fetch Pictures
                    %br
                    
      .row
        .text-center
          %div{id: 'endless_page'}
            %p= image_tag("ajax-loader.gif", :id => "more_pack_shipments_spinner", :alt => "Loading ...", style: "display:none;")
            %p= link_to 'Load more ...', pack_shipments_path(:page => @pack_shipments.next_page), :class => 'load-more-pack-shipments btn btn-default', :remote => true, :onclick => "$(this).hide(); $('#more_pack_shipments_spinner').show();" if @pack_shipments.next_page
    - else
      %p.text-center No pack shipments found

=# render partial: "shared/pack_contracts_footer_navbar", locals: {title: "Contracts"}
