=# render partial: "shared/navbars/pack_shipments_navbar", locals: {title: "Shipments"}

- @title="Shipments"
.jumbotron{style: 'background-color: #FFFFFF;'}
  .container
    %p
      .btn-group{"aria-label" => "shipment_status", :role => "group"}
        %a.btn.btn-default.btn-lg{:href => pack_shipments_path(status: 'held'), class: (params[:status].blank? or params[:status] == 'held') ? 'active' : '', :type => "button", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Held"}} 
          %i.fa.fa-folder-open-o.fa-lg
          Held
        %a.btn.btn-default.btn-lg{:href => pack_shipments_path(status: 'closed'), class: (params[:status] == 'closed') ? 'active' : '', :type => "button", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Closed"}} 
          %i.fa.fa-folder.fa-lg
          Closed
    - unless @pack_shipments.blank?
      %div{id: "pack_shipments"}
        - @pack_shipments.each do |pack_shipment|
          = render partial: "shipment_files/upload_modal", locals: {pack_shipment: pack_shipment}
          %div.row
            .col-xs-12.col-sm-12.col-md-12
              %h4.text-muted
                %div.panel.panel-primary
                  %div.list_group
                    %a{href: edit_pack_shipment_path(pack_shipment['Id']), data: {disable_with: "<i class='fa fa-spinner fa-spin fa-lg'></i> #{pack_shipment['ShipmentNumber']} - #{pack_shipment['CustomerName']}"}, class: "list-group-item pack_shipment_button"}
                      .pull-right
                        &nbsp;
                        %i.fa.fa-chevron-right.fa-lg
                      = "#{pack_shipment['ShipmentNumber']} - #{pack_shipment['CustomerName']} #{pack_shipment['ContractDescription'].blank? ? '' : ' - ' + pack_shipment['ContractDescription']}"
                      - unless pack_shipment['ContainerNumber'].blank? and pack_shipment['DeliveryVehicleIdNumber'].blank?
                        %br
                        = "Vehicle: #{pack_shipment['DeliveryVehicleIdNumber']}" unless pack_shipment['DeliveryVehicleIdNumber'].blank?
                        = "Container: #{pack_shipment['ContainerNumber']}" unless pack_shipment['ContainerNumber'].blank?
                      =# pack_shipment
                    -#
                      %a{href: fetches_pack_shipment_path(pack_shipment['Id']), data: {disable_with: "<i class='fa fa-spinner fa-spin fa-lg'></i> Fetch Pictures"}, class: "list-group-item pack_shipment_button"}
                        .pull-right
                          &nbsp;
                          %i.fa.fa-chevron-right.fa-lg
                        %i.fa.fa-camera
                        Fetch Pictures
                        %br
                    %div.list-group-item
                      .pull-right
                        %a.btn.btn-primary{href: "#pack_shipment_#{pack_shipment['Id']}_upload_form", id: "pack_shipment_#{pack_shipment['Id']}_picture_upload_modal_link", "data-toggle" => "modal", :alt => "new_image_file_form"}
                          %i.fa.fa-camera
                          Picture
                      = "Date Created: #{pack_shipment["DateCreated"].to_date.strftime('%m/%d/%y')}"
                      %br
                      = "Time Created: #{pack_shipment["DateCreated"].to_datetime.strftime('%I:%M %p')}"
                      %br
                    
      .row
        .text-center
          %div{id: 'endless_page'}
            -# %p= image_tag("ajax-loader.gif", :id => "more_pack_shipments_spinner", :alt => "Loading ...", style: "display:none;")
            %i.fa.fa-refresh.fa-spin.fa-3x{:id => "more_pack_shipments_spinner", style: "display:none;"}
            %p= link_to 'Load more ...', pack_shipments_path(:status => @status, :page => @pack_shipments.next_page), :class => 'load-more-pack-shipments btn btn-default', :remote => true, :onclick => "$(this).hide(); $('#more_pack_shipments_spinner').show();" if @pack_shipments.next_page
    - else
      %p.text-center No pack shipments found

=# render partial: "shared/pack_contracts_footer_navbar", locals: {title: "Contracts"}
