= render partial: "shared/navbars/commodities_navbar", locals: {title: "Commodities"}

.jumbotron{style: 'background-color: #FFFFFF;'}
  .container
    %p
      = form_tag commodities_path, id: 'commodity_search_form', method: 'get', :class => "form-inline", role: 'search' do |f|
        .input-group
          = search_field_tag :q, params[:q], :placeholder => "Search commodities", class: "form-control input-lg"
          %span.input-group-btn
            %button.btn.btn-default.btn-lg{:type => "submit", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i>"}} 
              %i.fa.fa-search

    - unless @commodities.blank?
      %div{id: "commodities"}
        - @commodities.each do |commodity|
          %div.row
            .col-xs-12.col-sm-12.col-md-12
              %div.panel.panel-primary
                %div.list_group
                  %a{href: commodity_path(commodity['Id'], yard_id: current_yard_id), class: "list-group-item commodity_button", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> #{commodity['MenuText']}"}}
                    = commodity['MenuText']
                    .pull-right
                      %i.fa.fa-chevron-right.fa-lg
      .row
        .text-center
          %div{id: 'endless_page'}
            %p= image_tag("ajax-loader.gif", :id => "more_commodities_spinner", :alt => "Loading ...", style: "display:none;")
            %p= link_to 'Load more ...', commodities_path(:page => @commodities.next_page, :q => params[:q]), :class => 'load-more-commodities btn btn-default', :remote => true, :onclick => "$(this).hide(); $('#more_commodities_spinner').show();" if @commodities.next_page
    - else
      %p No commodities found
                
= render partial: "shared/commodities_footer_navbar", locals: {title: "Commodities"}