= render partial: "shared/navbars/show_commodity_navbar", locals: {title: "#{@commodity['PrintDescription']}"}

.jumbotron{style: 'background-color: #FFFFFF;'}
  .container
    -#
      .well
        %p= @commodity
    %div.panel.panel-primary
      %div.list_group
        -#
          %div.list-group-item
            %strong= "Name:"
            .pull-right
              = "#{@commodity['Name']}"
          %div.list-group-item
            %strong= "Code:"
            .pull-right
              = "#{@commodity['Code']}"
          %div.list-group-item
            %strong= "Menu Text:"
            .pull-right
              = "#{@commodity['MenuText']}"
        %div.list-group-item
          %strong= "Print Description:"
          .pull-right
            = "#{@commodity['PrintDescription']}"
        %div.list-group-item
          %strong= "Unit of Measure:"
          .pull-right
            = units_of_measure_hash.key(@commodity['UnitOfMeasure'])
            =# "#{@commodity['UnitOfMeasure']}"
        %div.list-group-item
          %strong= "Type:"
          .pull-right
            = @commodity_types.find {|type| type["CodeValue"] == @commodity['Type']}["ReportDescription"]
            =# "#{@commodity['Type']}"
        %div.list-group-item
          %strong= "Scale Price:"
          .pull-right
            = "#{number_to_currency(@commodity['ScalePrice'])}"

= render partial: "shared/commodity_footer_navbar", locals: {title: "Commodity"}