.navbar.navbar-default.navbar-fixed-top{ role: 'navigation'}
  .container-fluid
    .navbar-header
      %button.navbar-toggle{ type: 'button', data: { toggle: 'collapse', target: '.navbar-collapse' } }
        %span.sr-only= t('.toggle_navigation')
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a{class: 'navbar-brand', :href => root_path}
        =# image_tag('syd_logo_20x37.png')
        - unless current_page? root_path
          Home 
    .collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li.dropdown{:class => "#{(params[:controller] == 'tickets') ? 'active' : ''}"}
          %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
            PURCHASES
            %b.caret
          %ul.dropdown-menu
            %li{:class => "#{(params[:controller] == 'tickets') and (params[:status] == '2') ? 'active' : ''}"}= link_to 'Held', tickets_path(status: 2)
            %li{:class => "#{(params[:controller] == 'tickets') and (params[:status] == '1') ? 'active' : ''}"}= link_to 'Closed', tickets_path(status: 1)
            %li{:class => "#{(params[:controller] == 'tickets') and (params[:status] == '3') ? 'active' : ''}"}= link_to 'Paid', tickets_path(status: 3)
        %li{:class => "#{(params[:controller] == 'customers') ? 'active' : ''} "}
          %a{href: customers_path} CUSTOMERS
        %li{:class => "#{(params[:controller] == 'commodities') ? 'active' : ''} "}
          %a{href: commodities_path} COMMODITIES
        -#
          %li.dropdown{:class => "#{(params[:controller] == 'customers') ? 'active' : ''}"}
            %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
              CUSTOMERS
              %b.caret
            %ul.dropdown-menu
              %li= link_to 'All', customers_path
              %li= link_to 'New', new_customer_path
          %li.dropdown{:class => "#{(params[:controller] == 'commodities') ? 'active' : ''}"}
            %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
              COMMODITIES
              %b.caret
            %ul.dropdown-menu
              %li= link_to 'All', commodities_path
              %li= link_to 'New', new_commodity_path
        -#
          %li= link_to 'WORK ORDERS', workorders_path
        -#
          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
              YARDS
              %b.caret
            %ul.dropdown-menu
              - Yard.all(current_user.token).each do |yard|
                %li{:class => (yard['Id'] == current_yard_id) ? "active" : ""}= link_to yard["Name"], yard_path(yard['Id'])
        -#
          %li.dropdown{:class => "#{(params[:controller] == 'packs') ? 'active' : ''}"}
            %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
              PACKS
              %b.caret
            %ul.dropdown-menu
              %li{:class => "#{(params[:controller] == 'packs' and params[:action] == 'index' and params[:status] == '0') ? 'active' : ''}"}
                = link_to 'Closed', packs_path(status: 0)
              %li{:class => "#{(params[:controller] == 'packs' and params[:action] == 'index' and params[:status] == '1') ? 'active' : ''}"}
                = link_to 'Void', packs_path(status: 1)
              %li{:class => "#{(params[:controller] == 'packs' and params[:action] == 'index' and params[:status] == '2') ? 'active' : ''}"}
                = link_to 'Held', packs_path(status: 2)
              %li{:class => "#{(params[:controller] == 'packs' and params[:action] == 'index' and params[:status] == '3') ? 'active' : ''}"}
                = link_to 'Manifest', packs_path(status: 3)
              %li{:class => "#{(params[:controller] == 'packs' and params[:action] == 'index' and params[:status] == '4') ? 'active' : ''}"}
                = link_to 'Shipped', packs_path(status: 4)
              %li{:class => "#{(params[:controller] == 'packs' and params[:action] == 'index' and params[:status] == '5') ? 'active' : ''}"}
                = link_to 'Transferred', packs_path(status: 5)
        %li{:class => "#{(params[:controller] == 'inventories') ? 'active' : ''} #{current_user.company.include_inventories? ? '' : 'disabled'} "}
          %a{href: "#{current_user.company.include_shipments? ? inventories_path : '#'}"} INVENTORY
        %li{:class => "#{(params[:controller] == 'pack_shipments') ? 'active' : ''} #{current_user.company.include_shipments? ? '' : 'disabled'} "}
          %a{href: "#{current_user.company.include_shipments? ? pack_shipments_path : '#'}", disabled: current_user.company.include_shipments? ? false:true} SHIPMENTS
        %li{:class => "#{(params[:controller] == 'reports') ? 'active' : ''} "}
          %a{href: reports_path} REPORTS
        -#
          %li{:class => "#{(params[:controller] == 'trips') ? 'active' : ''} #{current_user.company.include_dispatch? ? '' : 'disabled'} "}
            %a{href: "#{current_user.company.include_dispatch? ? trips_path : '#'}", disabled: current_user.company.include_dispatch? ? false:true} DISPATCH
        %li.dropdown{:class => "#{(params[:controller] == 'trips' or params[:controller] == 'service_requests') ? 'active' : ''} #{current_user.company.include_dispatch? ? '' : 'disabled'} "}
          %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
            DISPATCH
            %b.caret
          %ul.dropdown-menu
            %li{:class => "#{(params[:controller] == 'trips') ? 'active' : ''}"}
              = link_to 'Driver Trips', trips_path
            %li{:class => "#{(params[:controller] == 'service_requests') ? 'active' : ''}"}
              = link_to 'Service Requests', service_requests_path
        -#
          - unless Yard.device_groups(current_yard_id).blank?
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
                DEVICE GROUPS
                %b.caret
              %ul.dropdown-menu
                %li{:class => (current_user.device_group == nil) ? "active" : ""}= link_to 'None', user_setting_path(current_user.user_setting, "user_setting[device_group_id]" => ''), :method => :put
                - Yard.device_groups(current_yard_id).each do |device_group|
                  %li{:class => (current_user.device_group == device_group) ? "active" : ""}= link_to device_group.DeviceGroupName, user_setting_path(current_user.user_setting, "user_setting[device_group_id]" => device_group.id), :method => :put
          %li.dropdown{:class => "#{(params[:controller] == 'reports') ? 'active' : ''}"}
            %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
              REPORTS
              %b.caret
            %ul.dropdown-menu
              %li{:class => "#{(params[:controller] == 'reports') and (params[:report][:type] == 'customer_summary') ? 'active' : ''}"}= link_to 'Customer Summary', reports_path('report[type]' => 'customer_summary')
              %li{:class => "#{(params[:controller] == 'reports') and (params[:report][:type] == 'commodity_summary') ? 'active' : ''}"}= link_to 'Commodity Summary', reports_path('report[type]' => 'commodity_summary')
          
      %ul.nav.navbar-nav.navbar-right
        %li.dropdown{:class => "#{(params[:controller] == 'user_settings') ? 'active' : ''}"}
          %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
            More
            %b.caret
          %ul.dropdown-menu
            %li{:class => "#{(params[:controller] == 'users') ? 'active' : ''}"}= link_to "Admin User: <strong>#{current_user.username}</strong>".html_safe, current_user
            %li{:class => "#{(params[:controller] == 'yards') ? 'active' : ''}"}= link_to "Yard: <strong>#{current_yard_name}</strong>".html_safe, yard_path(current_yard_id)
            %li{role: "separator", class: "divider"}
            %li{:class => "#{( current_page? workorders_path) ? 'active' : ''}"}= link_to 'Work Orders', workorders_path
            -#
              %li{:class => "#{(params[:controller] == 'reports') and (params[:report][:type] == 'customer_summary') ? 'active' : ''}"}= link_to 'Customer Summary', reports_path('report[type]' => 'customer_summary')
              %li{:class => "#{(params[:controller] == 'reports') and (params[:report][:type] == 'commodity_summary') ? 'active' : ''}"}= link_to 'Commodity Summary', reports_path('report[type]' => 'commodity_summary')
            - if current_user.admin?
              %li{:class => "#{( current_page? users_path) ? 'active' : ''}"}= link_to 'Users', users_path
              %li= link_to "KPI Dashboard", welcome_kpi_dashboard_path, target: '_blank'
            %li{:class => "#{( current_page? user_settings_path) ? 'active' : ''}"}= link_to 'Settings', user_setting_path(current_user.user_setting)
        %li= link_to 'Log out', logout_path, method: :delete, data: { confirm: 'Are you sure you want to log out?' }