.navbar.navbar-default.navbar-fixed-top{ role: 'navigation'}
  .container-fluid
    .navbar-header
      %div{class: 'navbar-brand navbar-center'}
        .col-xs-4.col-sm-4
          %div{class: "#{mobile_device? ? 'pull-left' : ''}"}
            - unless @ticket["TicketItemCollection"].blank?
              = link_to 'javascript:history.back()' do
                Cancel
            - else
              -#
                %a{href: '', :onclick => "$('#edit_ticket_form').submit()"}
                  Void
        .col-xs-4.col-sm-4
          - unless mobile_device?
            - if @ticket['Status'] == '2' or @ticket['Status'].blank?
              %i.fa.fa-folder-open-o.fa-lg
            - elsif @ticket['Status'] == '1'
              %i.fa.fa-folder.fa-lg
            - elsif @ticket['Status'] == '3'
          = title
        .col-xs-4.col-sm-4
          %div{class: "#{mobile_device? ? 'pull-right' : ''}"}
            - unless total.blank?
              #total= total