.navbar.navbar-default.navbar-fixed-top{ role: 'navigation'}
  .container-fluid
    .navbar-header
      %button.navbar-toggle{ type: 'button', data: { toggle: 'collapse', target: '.navbar-collapse' } }
        %span.sr-only= t('.toggle_navigation')
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a{class: 'navbar-brand', :href => root_path}
        %strong Mobile Seller
    .collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li{:class => "#{(params[:controller] == 'pack_shipments') ? 'active' : ''}  #{current_user.company.include_shipments? ? '' : 'disabled'}"}
          %a{href: "#{current_user.company.include_shipments? ? pack_shipments_path : '#'}", disabled: current_user.company.include_shipments? ? false:true} SHIPMENTS
        %li{:class => "#{(params[:controller] == 'inventories') ? 'active' : ''} #{current_user.company.include_inventories? ? '' : 'disabled'} "}
          %a{href: "#{current_user.company.include_shipments? ? inventories_path : '#'}", disabled: current_user.company.include_inventories? ? false:true} INVENTORY
      %ul.nav.navbar-nav.navbar-right
        %li.dropdown{:class => "#{(params[:controller] == 'user_settings') ? 'active' : ''}"}
          %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
            More
            %b.caret
          %ul.dropdown-menu
            %li{:class => "#{(params[:controller] == 'users') ? 'active' : ''}"}= link_to "Mobile Seller: <strong>#{current_user.username}</strong>".html_safe, current_user
            %li{:class => "#{(params[:controller] == 'yards') ? 'active' : ''}"}= link_to "Yard: <strong>#{current_yard_name}</strong>".html_safe, yard_path(current_yard_id)
            %li{role: "separator", class: "divider"}
            %li= link_to 'Settings', edit_user_setting_path(current_user.user_setting)
        %li= link_to 'Log out', logout_path, method: :delete, data: { confirm: 'Are you sure you want to log out?' }