.navbar.navbar-default.navbar-fixed-top{ role: 'navigation'}
  .container-fluid
    .navbar-header
      %div{class: 'navbar-brand navbar-center'}
        .col-xs-4.col-sm-4
          -#
            = link_to 'javascript:history.back()' do
              %i.fa.fa-arrow-left.fa-lg
        .col-xs-4.col-sm-4
          %i.fa.fa-dollar.fa-lg
          = title
        .col-xs-4.col-sm-4
          -#
            %a{href: "#new_purchase_order_form", "data-toggle" => "modal", :alt => "new_purchase_order_form"}
            %a{href: vendors_path, data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Ticket"}}
              %i.fa.fa-plus.fa-lg
              = "Ticket" unless mobile_device?
          -#
            - unless total.blank?
              #total= total
          -#
            %a{href: edit_bill_payment_path(bill_payment_id)}
              = "Edit" unless mobile_device?

=# render partial: "purchase_orders/new_modal"