.navbar.navbar-default.navbar-fixed-top{ role: 'navigation'}
  .container-fluid
    .navbar-header
      %div{class: 'navbar-brand navbar-center'}
        .col-xs-4.col-sm-4
          %div{class: "#{mobile_device? ? 'pull-left' : ''}"}
            -# %a{href: search_trips_path, data: {disable_with: "<i class='fa fa-spinner fa-lg fa-spin'></i> Trips"}, class: 'trip_button'}
            = link_to 'javascript:history.back()' do
              %i.fa.fa-chevron-left
              Back
        .col-xs-4.col-sm-4
          - unless mobile_device?
            = title
          - else
            = truncate(title, length: 8)
        .col-xs-4.col-sm-4
          %div{class: "#{mobile_device? ? 'pull-right' : ''}"}
            = link_to 'javascript:location.reload();', data: {disable_with: "<i class='fa fa-refresh fa-spin'></i> Refresh"} do
              %i.fa.fa-refresh
              Refresh