.navbar.navbar-default.navbar-fixed-top{ role: 'navigation'}
  .container-fluid
    .navbar-header
      %div{class: 'navbar-brand navbar-center'}
        .col-xs-4.col-sm-4
          %div{class: "#{mobile_device? ? 'pull-left' : ''}"}
            -#
              %a{href: customers_path}
                %i.fa.fa-chevron-left
                Back
            %a{href: 'javascript:history.back()'}
              %i.fa.fa-chevron-left
              Back
        .col-xs-4.col-sm-4
          - unless mobile_device?
            = title
          - else
            = truncate(title, length: 8)
        .col-xs-4.col-sm-4
          %div{class: "#{mobile_device? ? 'pull-right' : ''}"}
            %a{href: edit_customer_path(@customer['Id']), data: {disable_with: "<i class='fa fa-spinner fa-lg fa-spin'></i> Edit"}, class: 'customer_button'}
              = "Edit"