.navbar.navbar-default.navbar-fixed-top{ role: 'navigation'}
  .container-fluid
    .navbar-header
      %div{class: 'navbar-brand navbar-center'}
        .col-xs-4.col-sm-4
          %div{class: "#{mobile_device? ? 'pull-left' : ''}"}
            = link_to 'javascript:history.back()' do
              %i.fa.fa-chevron-left
              Back
            -#
              = link_to root_path do
                = "Home"
        .col-xs-4.col-sm-4
          %i.fa.fa-map-marker.fa-lg
          = title
        .col-xs-4.col-sm-4
          %div{class: "#{mobile_device? ? 'pull-right' : ''}"}
            = link_to 'javascript:location.reload();', data: {disable_with: "<i class='fa fa-refresh fa-spin'></i>"} do
              %i.fa.fa-refresh
              Refresh