.navbar.navbar-default.navbar-fixed-top{ role: 'navigation'}
  .container-fluid
    .navbar-header
      %div{class: 'navbar-brand navbar-center'}
        .col-xs-4.col-sm-4
          -#
            = link_to 'javascript:history.back()' do
              %i.fa.fa-arrow-left.fa-lg
        .col-xs-4.col-sm-4
          %i.fa.fa-users.fa-lg
          = title
        .col-xs-4.col-sm-4
          %a{href: new_vendor_path, class: 'vendor_button', data: {disable_with: "<i class='fa fa-spinner fa-spin fa-lg'></i>"}}
            %i.fa.fa-user-plus.fa-lg
            = "Vendor" unless mobile_device?
          -#
            %a{href: '#', id: 'new_ticket_navbar_link'}
              %i.fa.fa-plus.fa-lg
              = "Ticket" unless mobile_device?

= render partial: "purchase_orders/quick_new_purchase_order"