= render partial: "v2/shared/navbars/show_pack_shipment_navbar", locals: {title: @pack_shipment.shipment_number, net: "#{@pack_shipment.net_weight} #{@pack_shipment.unit_of_measure}"}
- @title="Shipment: #{@pack_shipment.shipment_number}"

.jumbotron{style: 'background-color: #FFFFFF;'}
  .container
    %h3
      = "#{@customer.first_name} #{@customer.last_name}" unless @customer.blank?
      .pull-right
        %a{href: show_pictures_v2_pack_shipment_path(@pack_shipment.id), :class => "btn btn-default pack_shipment_button", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Pictures"}}
          %i.fa.fa-photo.fa-lg
          Pictures
      %p  
        %small
          = "Shipment #{@pack_shipment.shipment_number}"
          %br
          = "Pack List #{@pack_list.pack_list_number}"
          %br
          = "#{@contract.contract_description}" unless @contract.blank?
          = "#{@pack_shipment.date_shipped.to_date.strftime('%-m/%-d/%Y')}"
          %br
          = "Container Number: #{@pack_shipment.container_number}"
          %br
          = "Vehicle Number: #{@pack_shipment.delivery_vehicle_id_number}"
        
          
    %ul.nav.nav-tabs
      %li.active
        %a{:href => "#pack_details", :data => {:toggle => "tab"}}
          %i.fa.fa-dropbox.fa-lg
          - unless mobile_device?
            = "Pack Details"
          - else
            %small Details
      %li
        %a{:href => "#contract_items", :data => {:toggle => "tab"}}
          %i.fa.fa-list-alt.fa-lg
          - unless mobile_device?
            = "Contract Items" 
          - else
            %small Items
    .tab-content
      .tab-pane.active{:id => "pack_details"}
        %br
        %div#add_contract_items
        - unless @available_packs.blank?
          - @available_packs.each do |available_pack|
            %div.row
              .col-xs-12.col-sm-12.col-md-12
                %div.panel.panel-warning
                  %a{href: add_pack_pack_list_path(@pack_list.id, pack_shipment_id: @pack_shipment.id, internal_pack_number: available_pack.internal_pack_number, tag_number: available_pack.tag_number), class: "list-group-item pack_shipment_button", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> #{available_pack.print_description}"}}
                    %i.fa.fa-plus-circle.text-warning
                    = available_pack.print_description
        - else
          - unless params[:pack_tag_number].blank?
            %p.lead No packs founds
        
        %div#current_packs
          - unless @pack_list_items.blank?
            - @pack_list_items.each do |pack_list_item|
              %div.row
                .col-xs-12.col-sm-12.col-md-12
                  %div.panel.panel-primary.pack
                    %div.list-group-item
                      = "#{pack_list_item.pack.tag_number} #{pack_list_item.pack.print_description}"
                      %small
                        .text-muted
                          .net_weight{style: "display: inline;"}= pack_list_item.pack.net_weight
                          %span{style: "display: inline;"}= @pack_shipment.unit_of_measure
      
      .tab-pane{:id => "contract_items"}
        %br
        %p.lead
          = @contract.contract_description
          Materials
        - unless @contract_items.blank?
          - @contract_items.each do |contract_item|
            = contract_item.description
            %br
        - else
          %p.lead None