- @csv_table.each do |row|
  - index = row.first[1] + rand(1..1000000).to_s
  %tr.accordion-toggle.collapsed{"data-toggle" => "collapse", :href => "##{index}_details"}
    %td.expand-button.text-primary
    - row.each do |element|
      %td= element[1]
  %tr.hide-table-padding
    %td{:colspan => "100"}
      .collapse{id: "#{index}_details"}
        - if @suspect_list.images_table? 
          - images = Image.api_find_all_by_ticket_number(row.first[1], current_user.company, current_yard_id)
        - elsif @suspect_list.shipments_table?
          - images = Shipment.api_find_all_by_shipment_number(row.first[1], current_user.company, current_yard_id)
        %ul.list-inline
          - images.each do |image|
            %li.list-inline-item
              - if @suspect_list.images_table?
                %a{href: image_path(image['capture_seq_nbr'])}
                  = image_tag(show_preview_image_image_path(image['capture_seq_nbr']), alt: image['capture_seq_nbr'], class: 'img-responsive')
              - elsif @suspect_list.shipments_table?
                %a{href: shipment_path(image['capture_seq_nbr'])}
                  = image_tag(show_preview_image_shipment_path(image['capture_seq_nbr']), alt: image['capture_seq_nbrR'], class: 'img-responsive')