=# render partial: "shared/navbars/base_navbar", locals: {title: "Reports"}
- @title="Reports"

.jumbotron{style: 'background-color: #FFFFFF;'}
  .container
    %p
      = form_tag reports_path, :method => 'get', :class => "form-inline" do
        = hidden_field_tag 'report[type]', @type
        .form-group
          = text_field_tag 'report[start_date]', nil, :placeholder => "Start Date", value: "#{@start_date.blank? ? Date.today : @start_date}", class: "form-control input-lg", 'data-provide' => 'datepicker', 'data-date-format' => "yyyy-mm-dd", 'data-date-autoclose' => true, readonly: true
        To
        .form-group
          = text_field_tag 'report[end_date]', nil, :placeholder => "End Date", value: "#{@end_date.blank? ? Date.today : @end_date}", class: "form-control input-lg", 'data-provide' => 'datepicker', 'data-date-format' => "yyyy-mm-dd", 'data-date-autoclose' => true, readonly: true
        = button_tag(:type => 'submit', :class => 'btn btn-primary btn-lg', data: {disable_with: "<i class='fa fa-spinner fa-spin'></i>"}) do
          %i.fa.fa-search

    - unless @tickets.blank?
      .text-muted= "#{@tickets.count} tickets found"
      - unless @type == 'commodity_summary'
        = render 'customer_summary'
      - else
        = render 'commodity_summary'
    - else
      %p No tickets to report on
        
=# render partial: "shared/footer_navbar", locals: {title: "Reports"}