- @title="Tickets"

.jumbotron{style: 'background-color: #FFFFFF;'}
  .container-fluid
    %p.lead Tickets
    .text-center
      = form_tag tickets_reports_path, :method => 'get', :class => "form-inline" do
        = hidden_field_tag :customer_id, params[:customer_id] unless params[:customer_id].blank?
        .row.form-group
          %div{:class => "col-xs-12"}
            = select_tag 'report[status]', options_for_select([['Closed Tickets', '1'],['Paid Tickets', '3'], ['Paid & Closed', '3,1']], @status), class: "form-control"
            - if mobile_device?
              %br
            = select_tag 'report[type]', options_for_select([['Commodity Summary', 'commodity_summary'], ['Customer Summary', 'customer_summary']], @type), class: "form-control"
            - if mobile_device?
              %br
            %div.input-group
              = text_field_tag 'report[start_date]', nil, :placeholder => "Start Date", value: "#{params[:q].present? ? nil : (@start_date.blank? ? Date.today : @start_date)}", class: "form-control", 'data-provide' => 'datepicker', 'data-date-format' => "yyyy-mm-dd", 'data-date-start-date' => 3.months.ago.to_date, 'data-date-end-date' => Date.today.to_date, 'data-date-autoclose' => true, readonly: true
              %span.input-group-addon To
              = text_field_tag 'report[end_date]', nil, :placeholder => "End Date", value: "#{params[:q].present? ? nil : (@end_date.blank? ? Date.today : @end_date)}", class: "form-control", 'data-provide' => 'datepicker', 'data-date-format' => "yyyy-mm-dd", 'data-date-start-date' => 3.months.ago.to_date, 'data-date-end-date' => Date.today.to_date, 'data-date-autoclose' => true, readonly: true
            - if mobile_device?
              %br
            = button_tag(:type => 'submit', :class => 'btn btn-default', data: {disable_with: "<i class='fa fa-spinner fa-spin'></i>#{mobile_device? ? '' : ' Search'}"}) do
              %i.fa.fa-search
              Search
            - unless @tickets.blank? 
              %a{href: tickets_reports_path(format: "csv", :customer_id => params[:customer_id], 'report[type]' => @type, 'report[status]' => @status, 'report[start_date]' => @start_date, 'report[end_date]' => @end_date), class: 'btn btn-success'}
                %i.fa.fa-download
                CSV
    %hr
    - unless @tickets.blank?
      - unless @type == 'commodity_summary'
        = render 'reports/tickets_customer_summary'
      - else
        = render 'reports/tickets_commodity_summary'
    - else
      %br
      .row
        .col-xs-12
          %p.text-center.lead None found
      - unless params[:q].blank?
        %p= link_to 'Search by Date', tickets_report_path
      
        
:javascript
  if (window!=window.top) { 
    $('.navbar').hide();
  }