- if @today == true
  = render partial: "shared/search_navbar", locals: {title: Date.today.strftime("%-m/%-d/%y")}
- else
  = render partial: "shared/search_navbar", locals: {title: "#{@ticket_number.blank? ? 'Search' : @ticket_number}"}

.container
  - if @images.blank?
    .jumbotron
      %p.text-center No results found
  %div{id: "images"}
    - @images.each_slice(6) do |images|
      %div.row
        - images.each do |image|
          .col-xs-12.col-sm-2.col-md-2
            %div.panel.panel-primary
              %div.list_group
                -# unless @today == true or params[:q].blank? or params[:one_image_per_ticket] == '1' or params[:one_image_per_ticket] != '0'
                - unless @today == true or params[:q].blank? or (@ticket_number.blank? and params[:one_image_per_ticket] != '0')
                  %a{href: image_path(image), class: "list-group-item"}
                    - unless image.hidden? or not current_user.show_thumbnails?
                      =# image_tag(show_preview_image_image_path(image), alt: image.id, class: 'thumbnail img-responsive')
                      = image_tag(image.preview_data_uri, alt: image.id, class: 'thumbnail img-responsive')
                    = image.ticket_nbr
                    .pull-right
                      %i.fa.fa-chevron-right
                    - unless image.event_code.blank?
                      %br/
                      %small= image.event_code
                    - unless image.camera_name.blank?
                      %br/
                      %small= image.camera_name
                    %br/
                    %small.text-muted= image.sys_date_time.strftime("%-m/%-d/%y %l:%M %p")
                - else
                  %a{href: images_path("q[ticket_nbr_eq]" => image.ticket_nbr, "q[location_eq]" => current_user.location), class: "list-group-item"}
                    - unless image.hidden? or not current_user.show_thumbnails?
                      =# image_tag(show_preview_image_image_path(image), alt: image.id, class: 'thumbnail img-responsive')
                      = image_tag(image.preview_data_uri, alt: image.id, class: 'thumbnail img-responsive')
                    = image.ticket_nbr
                    .pull-right
                      %i.fa.fa-chevron-right
                    -#
                      - unless image.event_code.blank?
                        %br/
                        %small= image.event_code
                      - unless image.camera_name.blank?
                        %br/
                        %small= image.camera_name
  .row
    .text-center
      %div{id: 'endless_page'}
        %p= image_tag("ajax-loader.gif", :id => "more_images_spinner", :alt => "Loading ...", style: "display:none;")
        %p= link_to 'Load more ...', images_path(:page => @images.next_page, :q => params[:q], :one_image_per_ticket => params[:one_image_per_ticket]), :class => 'load-more-images btn btn-default', :remote => true, :onclick => "$(this).hide(); $('#more_images_spinner').show();" if @images.next_page
  =# paginate @images
  
= render partial: "shared/footer_navbar", locals: {title: "Images"}
