= render partial: "shared/navbars/show_image_navbar", locals: {title: "#{@image['ticket_nbr']}"}
.jumbotron{style: 'background-color: white;'}
  .container
    -#
      - if @image.signature?
        %h3
          - unless current_company.jpegger_contract.blank?
            = current_company.jpegger_contract.verbiage.html_safe
    %div.row
      .col-xs-12.col-sm-12.col-md-6.col-md-offset-3
        =# link_to image_tag("https://#{current_user.company.jpegger_service_ip}:#{current_user.company.jpegger_service_port}/sdcgi?image=y&table=images&capture_seq_nbr=#{@image['CAPTURE_SEQ_NBR']}", alt: @image['CAPTURE_SEQ_NBR'], class: 'img-responsive center-block'), "#image_popup", "data-toggle" => "modal", :alt => "Image", :class => 'thumbnail'
        -# if not @image['FILE_NAME'].blank? and File.extname(@image['FILE_NAME']) == '.pdf'
        - unless @image['content_type'].start_with? 'image'
          %p.lead.text-center
            - if @image['content_type'] == "application/pdf"
              %i.fa.fa-file-pdf-o.fa-lg
            - else
              %i.fa.fa-file.fa-lg
            %a{href: Image.uri(@image['azure_url'], current_user.company)}
              Download File
            -#
              %a{href: send_jpeg_image_file_image_path(@image['CAPTURE_SEQ_NBR'], yard_id: @image['YARDID'])}
                %i.fa.fa-file-pdf-o.fa-lg
                Download PDF
        - else
          = image_tag(Image.uri(@image['azure_url'], current_user.company), alt: @image['capture_seq_nbr'], class: 'img-responsive') 
          =# link_to image_tag(show_jpeg_image_image_path(@image['CAPTURE_SEQ_NBR'], yard_id: params[:yard_id]), alt: @image['CAPTURE_SEQ_NBR'], class: 'img-responsive center-block'), "#image_popup", "data-toggle" => "modal", :alt => "Image", :class => 'thumbnail'
        -#
          - unless @image.pdf?
            = link_to image_tag(@image.jpeg_image_data_uri, alt: @image.id, class: 'img-responsive center-block'), "#image_popup", "data-toggle" => "modal", :alt => "Image", :class => 'thumbnail'
          - else
            %p.lead.text-center
              %a{href: send_pdf_data_image_path(@image)}
                %i.fa.fa-file-pdf-o.fa-lg
                Download PDF
    -#
      %div{:id => "image_popup", :class => "modal fade", :tabindex => "-1", :style => "display:none;"}
        .modal-dialog.modal-lg
          .modal-content
            .modal-body
              =# image_tag(@image.jpeg_image_data_uri, alt: @image.id, class: 'img-responsive')
              = image_tag(show_jpeg_image_image_path(@image['CAPTURE_SEQ_NBR'], yard_id: params[:yard_id]), alt: @image['CAPTURE_SEQ_NBR'], class: 'img-responsive') 
    %div.row
      .col-xs-12.col-sm-12.col-md-6.col-md-offset-3
        %p
          %div.panel.panel-primary
            %div.list_group
              - unless @image['event_code'].blank?
                %div.list-group-item
                  %strong= "Event:"
                  .pull-right
                    = "#{@image['event_code']}"
              - unless @image['camera_name'].blank?
                %div.list-group-item
                  %strong= "Camera:"
                  .pull-right
                    = "#{@image['camera_name']}"
              %div.list-group-item
                %strong= "Time:"
                .pull-right
                  = "#{@image['sys_date_time']}"
              - if @image['hidden'] == '1'
                %div.list-group-item
                  %strong= "Hidden:"
                  .pull-right
                    Yes
      - unless @latitude_and_longitude.blank?
        .embed-responsive.embed-responsive-16by9
          %iframe{:allowfullscreen => "", :frameborder => "0", :src => Image.google_map(@latitude_and_longitude), :style => "border:0"}


= render partial: "shared/footer_navbar", locals: {title: "Images"}