= render partial: "shared/navbars/show_image_navbar", locals: {title: "#{@image['TICKET_NBR']}"}
.jumbotron{style: 'background-color: white;'}
  .container
    -#
      - if @image.signature?
        %h3
          - unless current_company.jpegger_contract.blank?
            = current_company.jpegger_contract.verbiage.html_safe
    %div.row
      .col-xs-12.col-sm-12.col-md-6.col-md-offset-3
        %iframe{:src => "#{show_jpeg_image_image_path(@image['CAPTURE_SEQ_NBR']}"}
        =# link_to image_tag("https://#{current_user.company.jpegger_service_ip}:#{current_user.company.jpegger_service_port}/sdcgi?image=y&table=images&capture_seq_nbr=#{@image['CAPTURE_SEQ_NBR']}", alt: @image['CAPTURE_SEQ_NBR'], class: 'img-responsive center-block'), "#image_popup", "data-toggle" => "modal", :alt => "Image", :class => 'thumbnail'
        = link_to image_tag(show_jpeg_image_image_path(@image['CAPTURE_SEQ_NBR']), alt: @image['CAPTURE_SEQ_NBR'], class: 'img-responsive center-block'), "#image_popup", "data-toggle" => "modal", :alt => "Image", :class => 'thumbnail'
        -#
          - unless @image.pdf?
            = link_to image_tag(@image.jpeg_image_data_uri, alt: @image.id, class: 'img-responsive center-block'), "#image_popup", "data-toggle" => "modal", :alt => "Image", :class => 'thumbnail'
          - else
            %p.lead.text-center
              %a{href: send_pdf_data_image_path(@image)}
                %i.fa.fa-file-pdf-o.fa-lg
                Download PDF
    %div{:id => "image_popup", :class => "modal fade", :tabindex => "-1", :style => "display:none;"}
      .modal-dialog.modal-lg
        .modal-content
          .modal-body
            =# image_tag(@image.jpeg_image_data_uri, alt: @image.id, class: 'img-responsive')
            = image_tag(show_jpeg_image_image_path(@image['CAPTURE_SEQ_NBR']), alt: @image['CAPTURE_SEQ_NBR'], class: 'img-responsive')
    %div.row
      .col-xs-12.col-sm-12.col-md-6.col-md-offset-3
        %div.panel.panel-primary
          %div.list_group
            - unless @image['EVENT_CODE'].blank?
              %div.list-group-item
                %strong= "Event:"
                .pull-right
                  = "#{@image['EVENT_CODE']}"
            - unless @image['CAMERA_NAME'].blank?
              %div.list-group-item
                %strong= "Camera:"
                .pull-right
                  = "#{@image['CAMERA_NAME']}"
            %div.list-group-item
              %strong= "Date/Time:"
              .pull-right
                = "#{@image['SYS_DATE_TIME']}"
            - if @image['HIDDEN'] == '1'
              %div.list-group-item
                %strong= "Hidden:"
                .pull-right
                  Yes

= render partial: "shared/footer_navbar", locals: {title: "Images"}