!!!
%html
  %head
    %title SYD SDX

    %meta{ charset: 'utf-8' }
    %meta{ name: 'viewport', id: 'viewport', content: "width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" }
    %meta{ content: 'IE=edge', 'http-equiv' => 'X-UA-Compatible' }
    %meta{ name: "apple-mobile-web-app-capable", content: "yes"}

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    - if not logged_in?
      = render partial: "shared/navbars/no_user_navbar", locals: {title: "Home"}
    - else
      = render partial: "shared/navbars/base_navbar", locals: {title: "Home"} if current_page? root_path
    - flash.each do |message_type, message|
      %br
      = content_tag(:div, message, class: "alert alert-#{message_type}") do 
        = message
        = content_tag(:button, 'x', class: "close", data: { dismiss: 'alert' })
      =# content_tag(:div, message, class: "alert alert-#{message_type}")
    = yield