!!!
%html
  %head
    %title
      = @title || "PORTAL - SCRAP DRAGON"
    = favicon_link_tag 'favicon.ico'
    = favicon_link_tag 'apple-icon-57x57.png', rel: 'apple-touch-icon', type: 'image/png'

    %meta{ charset: 'utf-8' }
    %meta{ name: 'viewport', id: 'viewport', content: "width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" }
    %meta{ content: 'IE=edge', 'http-equiv' => 'X-UA-Compatible' }
    %meta{ name: "apple-mobile-web-app-capable", content: "yes"}

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true

    / the required Telerik Kendo styles
    -#
    %link{:href => "https://kendo.cdn.telerik.com/2019.1.115/styles/kendo.common.min.css", :rel => "stylesheet"}/
    %link{:href => "https://kendo.cdn.telerik.com/2019.1.115/styles/kendo.blueopal.min.css", :rel => "stylesheet"}/
    
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    - if not logged_in?
      =# render partial: "shared/navbars/no_user_navbar", locals: {title: "Home"} unless current_page?(signup_path)
    - else
      - unless current_yard_id.blank?
        - if current_user.admin?
          - unless current_page?(scoreboard_path) or current_page?(v2_scoreboard_path) or current_page?(telerik_reports_path)
            = render partial: "shared/navbars/base_navbar", locals: {title: "Home"}
        - elsif current_user.basic?
          - if current_user.mobile_admin?
            = render partial: "shared/navbars/basic_user_navbar", locals: {title: "Home"}
          - elsif current_user.mobile_greeter?
            = render partial: "shared/navbars/mobile_greeter_navbar", locals: {title: "Home"}
          - elsif current_user.mobile_inspector?
            = render partial: "shared/navbars/mobile_inspector_navbar", locals: {title: "Home"}
          - elsif current_user.mobile_buy?
            = render partial: "shared/navbars/mobile_buyer_navbar", locals: {title: "Home"}
          - elsif current_user.mobile_sell?
            = render partial: "shared/navbars/mobile_seller_navbar", locals: {title: "Home"}
          - elsif current_user.mobile_dispatch?
            = render partial: "shared/navbars/mobile_dispatch_navbar", locals: {title: "Home"}
        - elsif current_user.customer?
          = render partial: "shared/navbars/customer_user_navbar", locals: {title: "Home"}
    - if logged_in?
      - flash.each do |message_type, message|
        %br
        = content_tag(:div, message, class: "alert alert-#{message_type}") do 
          = raw(message)
          = content_tag(:button, 'x', class: "close", data: { dismiss: 'alert' })
    - else
      - if not current_page? root_path
        - flash.each do |message_type, message|
          %br
          = content_tag(:div, message, class: "alert alert-#{message_type}") do 
            = message
            = content_tag(:button, 'x', class: "close", data: { dismiss: 'alert' })
    = yield
    - if not logged_in? and current_page? root_path
      = render 'shared/footer'