!!!
%html
  %head
    %title SYD SDX

    %meta{ charset: 'utf-8' }
    %meta{ name: 'viewport', id: 'viewport', content: "width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" }
    %meta{ content: 'IE=edge', 'http-equiv' => 'X-UA-Compatible' }
    %meta{ name: "apple-mobile-web-app-capable", content: "yes"}

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    - flash.each do |message_type, message|
      = content_tag(:div, message, class: "alert alert-#{message_type}")
    = yield